<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 my-4 px-4 py-3 rounded-md bg-gray-300/40 dark:bg-gray-700/40 shadow-inner">
	<h2 class="ml-2 font-bold text-lg font-heading leading-normal mb-2">Quick Actions</h2>
	<div class="flex flex-col space-y-4 mb-3">
		<div class="flex items-center">
			<input type="checkbox" id="disablesignups" name="disablesignups" onchange="post_toast('/admin/disablesignups');" {% if x == "yes" %}checked{% endif %}>
			<label class="label" for="disablesignups">Disable signups</label>
		</div>
	</div>
</div>