<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 my-4 px-4 py-3 rounded-md bg-gray-300/40 dark:bg-gray-700/40 shadow-inner">
	<h2 class="ml-2 font-bold text-lg font-heading leading-normal mb-2">Quick Actions</h2>
	<div class="flex flex-col space-y-4 mb-3">
		<div class="flex items-center">
			<input type="checkbox" id="disablesignups" class="h-5 w-5" name="disablesignups" onchange="post_toast('/admin/disablesignups');" {% if x == "yes" %}checked{% endif %}>
			<label class="label ml-2" for="disablesignups">Disable signups</label>
		</div>
	</div>
	<hr class="mt-6 mb-5 h-0.5 border-b border-gray-300 dark:border-gray-900 shadow-inset-t-white-05"/>
	<h2 class="ml-2 font-bold text-lg font-heading leading-normal mb-2">Recent Mod Activity</h2>
	{% for ma in actions %}
	<div id="action-{{ma.id}}" class="position-relative d-flex justify-content-between flex-wrap align-items-center h-min-16 px-3 py-3 mb-3 mb-md-2 bg-white{% if loop.index > 1 %} border-top{% endif %}">

		<div class="d-flex flex-grow-1 align-items-center">
			<div class="d-flex align-items-center justify-content-center {{ma.color}} mr-3 rounded-lg flex-shrink-0" style="width: 32px;height: 32px;"><i class="far text-center {{ma.icon}} text-lg text-white fa-fw"></i></div>
			<div class="d-flex align-items-center">
				<span class="rounded">
					<img src="{{ma.user.profile_url}}" alt="avatar" width=42 height=42 class="rounded-circle">
				</span>
				<div class="text-muted pl-3">
					<div>
						<a href="{{ma.user.url}}" class="font-weight-bold text-black" target="_self">@{{ma.user.username}}</a>

						<span>{{ma.string | safe}}</span>
					</div>

					<div class="text-gray-500">{{ma.age_string}} <a href="{{ma.permalink}}"><i class="far fa-link ml-1 text-muted"></i></a>
						<a href="javascript:void(0)" class="copy-link" role="button"data-clipboard-text="{{ma.permalink | full_link}}"><i class="far fa-copy ml-1 text-muted"></i></a>
					</div>

				</div>
			</div>
		</div>
	</div>


	{% else %}
	<div class="py-4 text-center">
		<i class="block fas fa-ghost text-lg text-gray-400 dark:text-gray-700"></i>
		<p class="mt-1 text-sm text-gray-500">No recent mod activity...</p>
	</div>
	{% endfor %}
</div>