<div class="sidebar hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 my-4 px-4 py-3 rounded-md bg-gray-300/40 dark:bg-gray-700/40 shadow-inner">
	<h2 class="ml-2 font-bold text-lg font-heading leading-normal mb-2">Quick Actions</h2>
	<div class="flex flex-col space-y-4 mb-3">
		<div class="flex items-center">
			<input type="checkbox" id="disablesignups" class="h-5 w-5" name="disablesignups" onchange="post_toast('/admin/disablesignups');" {% if x == "yes" %}checked{% endif %}>
			<label class="label ml-2" for="disablesignups">Disable signups</label>
		</div>
	</div>
	<hr class="mt-6 mb-5 h-0.5 border-b border-gray-300 dark:border-gray-900 shadow-inset-t-white-05"/>
	<h2 class="ml-2 font-bold text-lg font-heading leading-normal mb-2">Recent Mod Activity</h2>
	<ul class="flex flex-col divide-y space-y-2 mb-0">
	{% for ma in actions %}
		<li id="action-{{ma.id}}" class="relative flex items-center">
			<a href="{{ma.permalink}}">
				<div class="w-6 h-6 flex justify-center items-center flex-shrink-0">
					<i class="far {{ ma.icon }} {{ma.color}} text-lg fa-fw"></i>
				</div>
				<div class="pl-2 text-gray-500 dark:text-gray-400 text-sm">
						<div>
							<a href="{{ma.user.url}}" class="font-font text-black dark:text-gray-200 hover:text-primary" target="_self">@{{ma.user.username}}
							</a>
							<span>{{ma.string | safe}}</span>
						</div>
						<div class="text-gray-300 dark:text-gray-500 text-xs">
							<span>{{ma.age_string}}</span>
							<!-- <a href="{{ma.permalink}}">
								<i class="far fa-link ml-1 text-muted"></i>
							</a>
							<button class="copy-link" role="button"data-clipboard-text="{{ma.permalink | full_link}}">
								<i class="far fa-copy ml-1 text-muted"></i>
							</button> -->
						</div>
				</div>
			</a>
		</li>
	</ul>
	{% else %}
	<div class="py-4 text-center">
		<i class="block fas fa-ghost text-lg text-gray-400 dark:text-gray-700"></i>
		<p class="mt-1 text-sm text-gray-500">No recent mod activity...</p>
	</div>
	{% endfor %}
</div>