{% set random = range(1,95)|random() %}

<div class="sidebar hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 py-4">
	<!-- Artwork -->
	<div>
		<a href="/static/assets/images/{{'SITE_NAME' | app_config}}/banners/{{ random }}.webp?a=3" class="block w-full h-64 shadow-sm p-[3px] bg-white dark:bg-gray-900 overflow-hidden">
			<img class="w-full h-full flex-shrink-0 object-contain cursor-pointer" src="/static/assets/images/{{'SITE_NAME' | app_config}}/banners/{{ random }}.webp?a=3" alt="artwork featuring an orange and white cat"/>
		</a>
		<small class="mt-1 block text-gray-500">
			Submit your <a href="/post/32341/" class="font-bold">artwork</a>
		</small>
	</div>
	<!-- Submit button -->
	{% if v %}
	<ul class="flex flex-col space-y-2 mt-4 mb-0">
		<li>
			<a class="btn btn-primary text-center w-full" href="/submit">
				Submit drama
				<i class="fas fa-arrow-alt-right fa-fw fa-sm ml-1"></i>
			</a>
		</li>
		{% if not v.discord_id %}
		<li>
			<a class="btn btn-pink text-center w-full" href="/discord">
				Discord server
				<i class="fas fa-arrow-alt-right fa-fw fa-sm ml-1"></i>
			</a>
		</li>
		{% endif %}
	</ul>
	{% endif %}
	<!-- Description -->
	<hr class="mt-6 mb-5 h-0.5 border-b border-gray-300 dark:border-gray-900 shadow-inset-t-white-05"/>
	<div>
		<h2 class="font-bold text-lg font-heading leading-normal mb-2">
			<a href="/post/5500/" class="group text-black dark:text-gray-200 hover:text-primary dark:hover:text-primary">
				About
				<span class="text-gray-500 group-hover:text-primary font-normal">
					rDrama
					<i class="fas fa-arrow-alt-right fa-fw fa-sm"></i>
				</span>
			</a>
		</h2>
		<div class="prose">
			<div class="flex items-center space-x-2 mb-3">
				<a href="https://www.youtube.com/watch?v=dSdWL3LqZto" class="rounded-full bg-primary text-white w-7 h-7 flex items-center justify-center">
					<i class="fas fa-volume fa-sm fa-fw"></i>
				</a>
				<div>
					<strong class="text-sm text-gray-800 dark:text-gray-300">dra &#183; ma</strong> /ˈdrämə/
					<em class="block text-xs text-gray-400">noun</em>
				</div>
			</div>

			<p class="text-sm text-gray-700 dark:text-gray-400">
				any incident, scene, gaffe, rumor, opinion, or disagreement that is blown entirely out of proportion.
			</p>

			<p class="text-sm text-gray-700 dark:text-gray-400">
				Do your part to keep our community healthy by <em>blowing</em> everything out of proportion and making literally everything as dramatic as possible.
			</p>

			<p class="text-sm text-gray-700 dark:text-gray-400">
				rdrama.net caters to drama in all forms such as: Real life, videos, photos, gossip, rumors, news sites, Reddit, and Beyond™. There isn't drama we won't touch, and we want it all.
			</p>

    		<strong class="text-sm text-gray-500">What we want</strong>

		    <ul class="flex flex-col space-y-1 text-sm text-gray-700 dark:text-gray-400">
		        <li>Arguments.</li>
		        <li>Gossip.</li>
		        <li>Scandals.</li>
		        <li>Lolcows.</li>
		        <li>Assholes.</li>
		        <li>Trainwrecks.</li>
		        <li>Meltdowns.</li>
		        <li>Dramatic news articles.</li>
		        <li>Dramatic rumours (with context).</li>
		        <li>Dramatic everything from anywhere.</li>
		    </ul>
		</div>
	</div>
	<!-- Rules list -->
	<!-- Stickies list -->
	<hr class="mt-6 mb-5 h-0.5 border-b border-gray-300 dark:border-gray-900 shadow-inset-t-white-05"/>
	<div>
		<h2 class="font-bold text-lg font-heading leading-normal mb-2">
			<a href="/search/posts/?sort=top&q=megathread&t=month" class="group text-black dark:text-gray-200 hover:text-primary dark:hover:text-primary">
				Mega
				<span class="text-gray-500 group-hover:text-primary font-normal">
					Threads
					<i class="fas fa-arrow-alt-right fa-fw fa-sm"></i>
				</span>
			</a>
		</h2>
		<ul class="flex flex-col space-y-2 mb-0">
			<li class="flex">
				<div class="flex items-center justify-center px-2 flex-shrink-0">
					<img class="object-contain w-5 h-5" src="/assets/images/emojis/marseywords.webp" alt="marsey words icon">
				</div>
				<div class="pl-3 mt-[-1px] truncate">
					<a href="/post/16583" class="block font-medium text-black dark:text-gray-200 hover:text-primary truncate ellipsis">
						Emoji Megathread
					</a>
					<small class="block text-gray-500">
						posted by
						<a href="/@aevann" class="text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">
							@aevann
						</a>
					</small>
				</div>
			</li>
			<li class="flex">
				<div class="flex items-center justify-center px-2 flex-shrink-0">
					<img class="object-contain w-5 h-5" src="/assets/images/emojis/marseywords.webp" alt="marsey words icon">
				</div>
				<div class="pl-3 mt-[-1px] truncate">
					<a href="/post/18459" class="block font-medium text-black dark:text-gray-200 hover:text-primary truncate ellipsis">
						Bugs/Suggestions Megathread
					</a>
					<small class="block text-gray-500">
						posted by
						<a href="/@aevann" class="text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">
							@aevann
						</a>
					</small>
				</div>
			</li>
		</ul>
	</div>
</div>