{% set random = range(1, 11)|random() %}

<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 py-4">
	<div>
		<h2 class="ml-2 font-bold text-xl text-gray-900 dark:text-gray-300 font-heading leading-normal mb-2">
			Fistmas Stickies
		</h2>
		<ul class="flex flex-col space-y-2 mb-0">
			<li class="flex">
				<div class="flex items-center justify-center px-2 flex-shrink-0">
					<img class="object-contain w-5 h-5" src="/assets/CHRISTMAS/ribbon1.png" alt="ribbon icon">
				</div>
				<div class="pl-3 mt-[-1px] truncate">
					<a href="/post/32231/" class="block font-medium text-black dark:text-gray-200 hover:text-primary truncate ellipsis">
						Merry Christmas rdrama, what did you get?!
					</a>
					<small class="block text-gray-500">
						posted by
						<a href="/@Klenvastermas" class="text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">
							@Klenvastermas
						</a>
					</small>
				</div>
			</li>
			<li class="flex">
				<div class="flex items-center justify-center px-2 flex-shrink-0">
					<img class="object-contain w-5 h-5" src="/assets/CHRISTMAS/ribbon1.png" alt="ribbon icon">
				</div>
				<div class="pl-3 mt-[-1px] truncate">
					<a href="/post/29748/" class="block font-medium text-black dark:text-gray-200 hover:text-primary truncate ellipsis">
						UI overhaul bug report thread
					</a>
					<small class="block text-gray-500">
						posted by
						<a href="/@christmaspathianflorist" class="text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">
							@christmaspathianflorist
						</a>
					</small>
				</div>
			</li>
			<li class="flex">
				<div class="flex items-center justify-center px-2 flex-shrink-0">
					<img class="object-contain w-5 h-5" src="/assets/CHRISTMAS/ribbon1.png" alt="ribbon icon">
				</div>
				<div class="pl-3 mt-[-1px] truncate">
					<a href="/post/32180/" class="block font-medium text-black dark:text-gray-200 hover:text-primary truncate ellipsis">
						new rdrama.lgbt site for verified LGBTQ+ members only - click to check your eligibility!
					</a>
					<small class="block text-gray-500">
						posted by
						<a href="/@chiobu" class="text-gray-500 hover:text-gray-600 dark:hover:text-gray-400">
							@chiobu
						</a>
					</small>
				</div>
			</li>
		</ul>
	</div>
	<hr class="mt-6 mb-5 h-0.5 border-b border-gray-300 dark:border-gray-900 shadow-inset-t-white-05"/>
	<button data-bs-toggle="modal" data-bs-target="#expandImageModal" data-bs-url="/assets/CHRISTMAS/banners/banner-11.gif" onclick="expandDesktopImage('/assets/CHRISTMAS/banners/banner-11.gif')" class="w-full h-56 shadow-sm p-[3px] bg-white dark:bg-gray-900 overflow-hidden">
		<img class="w-full h-full flex-shrink-0 object-contain cursor-pointer" src="/assets/CHRISTMAS/banners/banner-11.gif" alt="cat in a bar wearing a santa hat"/>
	</button>
	<small class="block mt-1 text-right text-gray-500">
		Artwork by <a href="/@cynic" class="font-bold">@cynic</a> and <a href="/@dramarama" class="font-bold">@dramarama</a>
	</small>
	{% if v %}
	<hr class="mt-6 mb-5 h-0.5 border-b border-gray-300 dark:border-gray-900 shadow-inset-t-white-05"/>
	<div class="flex flex-col sticky top-4">
		<a class="btn btn-primary text-center w-full" href="/submit">
			Submit drama
			<i class="fas fa-arrow-alt-right fa-fw fa-sm ml-1"></i>
		</a>
	</div>
	{% endif %}
</div>