<div class="dropdown">
	<button class="relative flex items-center px-3 py-2.5 rounded text-sm leading-normal text-gray-400 hover:text-gray-300 dark:text-gray-500 dark:hover:text-gray-400 focus:text-gray-300 dark:focus:text-gray-400 focus:font-bold focus:text-shadow focus:outline-none" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-angle-double-down fa-fw fa-lg mr-2"></i>
		More
	</button>
	<ul class="dropdown-menu w-56 bg-gray-900 rounded-md rounded-t-none shadow-lg" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
		<li>
			<a class="dropdown-item dropdown-item-primary" href="/shop">
				<i class="fas fa-store fa-sm fa-fw mr-4"></i>Shop
			</a>
		</li>
		<li>
			<a class="dropdown-item dropdown-item-primary" href="/leaderboard">
				<i class="fas fa-trophy fa-sm fa-fw mr-4"></i>Leaderboards
			</a>
		</li>
		<li>
			<hr class="mt-2 mb-1.5 border-t border-black h-1 shadow-inset-t-white-05"/>
		</li>
		<li>
			<a class="dropdown-item dropdown-item-primary" href="/changelog">
				<i class="fas fa-clipboard fa-sm fa-fw mr-4"></i>Changelog
			</a>
		</li>
		<li>
			<a class="dropdown-item dropdown-item-primary" href="https://github.com/Aevann1/Drama">
				<i class="fab fa-github fa-sm fa-fw mr-4"></i>Source Code
			</a>
		</li>
		<li>
			<a class="dropdown-item dropdown-item-primary" href="/post/18459/">
				<i class="fas fa-bug fa-sm fa-fw mr-4"></i>Report Bugs
			</a>
		</li>
		<li>
			<hr class="mt-2 mb-1.5 border-t border-black h-1 shadow-inset-t-white-05"/>
		</li>
		<li>
			<a class="dropdown-item dropdown-item-primary" href="/discord">
				<i class="fab fa-discord fa-sm fa-fw mr-4"></i>Discord Server
			</a>
		</li>
		<li>
			<a class="dropdown-item dropdown-item-primary" href="/assets/CHRISTMAS/Drama.apk?v=202">
				<i class="fab fa-android fa-sm fa-fw mr-4"></i>Android App
			</a>
		</li>
		<li>
			<a class="dropdown-item dropdown-item-primary" href="/archives">
				<i class="fas fa-book fa-sm fa-fw mr-4"></i>Archives
			</a>
		</li>
		<li>
			<hr class="mt-2 mb-1.5 border-t border-black h-1 shadow-inset-t-white-05"/>
		</li>
		<li>
			<a class="dropdown-item dropdown-item-primary" href="/rules">
				<i class="fas fa-balance-scale fa-sm fa-fw mr-4"></i>Community Rules
			</a>
		</li>
	</ul>
</div>