<div class="dropdown">
	<button class="relative flex items-center px-3 py-2.5 rounded text-sm text-gray-500 leading-normal hover:text-gray-400 focus:text-gray-200 focus:font-bold focus:text-shadow focus:outline-none" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-angle-double-down fa-fw fa-lg mr-2"></i>
		More
	</button>
	<ul class="dropdown-menu w-56 bg-gray-900 rounded-md rounded-t-none shadow-lg" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
		<li>
			<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-red-800 hover:to-red-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-red-800 focus:to-red-700" href="/shop">
				<i class="fas fa-store fa-sm fa-fw mr-4"></i>Shop
			</a>
		</li>
		<li>
			<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-red-800 hover:to-red-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-red-800 focus:to-red-700" href="/leaderboard">
				<i class="fas fa-trophy fa-sm fa-fw mr-4"></i>Leaderboards
			</a>
		</li>
		<li>
			<hr class="mt-2 mb-1.5 border-t border-black h-1 shadow-inset-t-white-05"/>
		</li>
		<li>
			<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-red-800 hover:to-red-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-red-800 focus:to-red-700" href="/changelog">
				<i class="fas fa-clipboard fa-sm fa-fw mr-4"></i>Changelog
			</a>
		</li>
		<li>
			<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-red-800 hover:to-red-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-red-800 focus:to-red-700" href="https://github.com/Aevann1/Drama">
				<i class="fab fa-github fa-sm fa-fw mr-4"></i>Source Code
			</a>
		</li>
		<li>
			<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-red-800 hover:to-red-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-red-800 focus:to-red-700" href="/post/18459/">
				<i class="fas fa-bug fa-sm fa-fw mr-4"></i>Report Bugs
			</a>
		</li>
		<li>
			<hr class="mt-2 mb-1.5 border-t border-black h-1 shadow-inset-t-white-05"/>
		</li>
		<li>
			<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-red-800 hover:to-red-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-red-800 focus:to-red-700" href="/discord">
				<i class="fab fa-discord fa-sm fa-fw mr-4"></i>Discord Server
			</a>
		</li>
		<li>
			<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-red-800 hover:to-red-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-red-800 focus:to-red-700" href="/assets/CHRISTMAS/Drama.apk">
				<i class="fab fa-android fa-sm fa-fw mr-4"></i>Android App
			</a>
		</li>
		<li>
			<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-red-800 hover:to-red-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-red-800 focus:to-red-700" href="/archives">
				<i class="fas fa-book fa-sm fa-fw mr-4"></i>Archives
			</a>
		</li>
		<li>
			<hr class="mt-2 mb-1.5 border-t border-black h-1 shadow-inset-t-white-05"/>
		</li>
		<li>
			<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-red-800 hover:to-red-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-red-800 focus:to-red-700" href="/rules">
				<i class="fas fa-balance-scale fa-sm fa-fw mr-4"></i>Community Rules
			</a>
		</li>
	</ul>
</div>