<!-- Report Comment Modal -->
<div class="modal fade" id="reportCommentModal" tabindex="-1" role="dialog" aria-labelledby="reportCommentModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Report <span id="comment-author"></span>'s comment</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="far fa-times"></i></span>
				</button>
			</div>
			<!-- Before report is made, show this -->
			<div class="" id="reportCommentFormBefore">
				<form>
					<div class="modal-body">
						<div class="h6">We're sorry something here is wrong.</div>
						<small class="form-text text-muted">Please select a reason for flagging below.</small>
						<input type="hidden" name="formkey" value="{{v.formkey}}">
							<select name="report_type" class="custom-select mt-3">
								<option disabled selected>
									Reason for flagging?
								</option>
								<option value="admin">
									This comment breaks Drama policy
								</option>
							</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link text-muted" data-dismiss="modal">Cancel</button>
						<button id="reportCommentButton" class="btn btn-danger">Report comment</button>
					</div>
				</form>
			</div>
			<!-- After report is made, show this -->
			<div class="d-none" id="reportCommentFormAfter">
				<div class="modal-body">
					<div class="h6">Thank you for reporting this comment!</div>
					<small class="form-text text-muted">We'll take it from here.</small>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
