<!-- Report Post Modal -->
<div class="modal fade" id="reportPostModal" tabindex="-1" role="dialog" aria-labelledby="reportPostModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Report <span id="post-author"></span>'s post</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="far fa-times"></i></span>
				</button>
			</div>
			<!-- Before report is made, show this -->
			<div class="" id="reportPostFormBefore">
				<form id="report-post-form" method="post">
					<div class="modal-body">
						<div class="h6">We're sorry something here is wrong.</div>
						<small class="form-text text-muted">Please select a reason for flagging below.</small>
							<input type="hidden" name="formkey" value="{{v.formkey}}">
							<select id="report-type-dropdown" name="report_type" form="report-post-form" class="custom-select mt-3" onchange="document.getElementById('reportPostButton').disabled=false;">
								<option disabled selected value="reason_not_selected">
									Reason for flagging?
								</option>
								<option value="admin">
									This post breaks Drama policy
								</option>
								<option id="report-post-to-guild-dropdown-option" value="guild">
								</option>
							</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link text-muted" data-dismiss="modal">Cancel</button>
						<button type="button" id="reportPostButton" class="btn btn-danger" disabled>Report post</button>
					</div>
				</form>
			</div>
			<!-- After report is made, show this -->
			<div class="d-none" id="reportPostFormAfter">
				<div class="modal-body">
					<div class="h6">Thank you for reporting this post!</div>
					<small class="form-text text-muted">We'll take it from here.</small>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>