<!-- GIF Selection Modal - Powered by GIPHY -->
<div class="modal fade" id="gifModal" tabindex="-1" role="dialog" aria-labelledby="gifModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-5" role="document">
		<div class="modal-content">
			<div class="modal-header border-bottom-0 shadow-md d-block p-3">
				<div class="form-group d-flex align-items-center w-100 mb-0">
					<div id="gifs-back-btn"></div>
					<input type="text" class="form-control" id="gifSearch" placeholder="Search and press enter" onchange="getGif(this.value);">
					<div id="gifs-cancel-btn"></div>
				</div>
			</div>
			<div style="overflow-y: scroll;">
				<div class="modal-body p-0" id="gif-modal-body">

					<div id="no-gifs-found">
					</div>

					<div class="card-columns gif-categories pt-3 px-3 pb-0" id="GIFs">
					</div>

					<div id="gifs-load-more">
					</div>

				</div>
			</div>
		</div>
	</div>

  <script>
    function tenor_api_key() {
      return "{{'TENOR_KEY' | app_config}}"
    }
  </script>

</div>
