{% extends "settings.html" %}

{% block pagetitle %}Custom CSS - {{"SITE_NAME" | app_config}}{% endblock %}

{% block content %}

<div class="row">

	<div class="col col-md-8">

	  <div class="settings">

	    <div id="description">

		<p class="text-small text-muted">Edit your custom CSS for the site.</p>

		<div class="settings-section rounded mb-0">

			<div class="body d-lg-flex border-bottom">
				<div class="w-lg-100">
					<form id="profile-settings" action="/settings/css" method="post">
						<input type="hidden" name="formkey" value="{{v.formkey}}">
						<textarea class="form-control rounded" id="bio-text" aria-label="With textarea" placeholder="Custom CSS" rows="50" name="css" form="profile-settings" maxlength="50000">{% if v.css %}{{v.css}}{% endif %}</textarea>
						<small>Limit of 50000 characters</small>
						<div class="d-flex mt-2">
							<input id="submit-btn" class="btn btn-primary ml-auto" type="submit" value="Save">
						</div>
					</form>
				</div>

			</div>

	  </div>

	</div>

</div>
</div>
{% if v.agendaposter %}
<script>
	const flip = (e) => {
		e.preventDefault();
		document.getElementsByTagName("body")[0].setAttribute("style", "-moz-transform: scale(-1, -1);-o-transform: scale(-1, -1);-webkit-transform: scale(-1, -1);transform: scale(-1, -1);");
	};

	document.getElementById("submit-btn").addEventListener("click", flip);
</script>
{% endif %}
</div>

{% endblock %}