{% extends "default.html" %}
{% block content %}
<pre></pre>
<h5>Users who viewed your profile</h5>
<pre></pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight: bold">Name</th>
        <th style="font-weight: bold">Last visit</th>
	</tr>
</thead>
{% for view in viewers %}
	<tr>
        <td style="font-weight: bold"><a {% if view.viewer.animatedname %}class="{% if view.viewer.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="color: #{{view.viewer.namecolor}}" href="/@{{view.viewer.username}}"><img src="/uid/{{view.viewer.id}}/pic/profile" class="profile-pic-20 mr-1">{{view.viewer.username}}</a></td>
        <td style="font-weight: bold">{{view.last_view_string}}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}