<ul class="flex items-center space-x-5 text-sm text-gray-500">

	<!-- <li class="flex">
		<button id="post-{{p.id}}-up" tabindex="0" href="javascript:void(0)" onclick="vote('post', '{{p.id}}', '1')" class="mx-auto arrow-up upvote-button post-{{p.id}}-up {% if voted==1 %}active{% endif %}"></button>
		<span id="post-score-{{p.id}}" class="mx-2 score post-score-{{p.id}} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="+{{ups}} | -{{downs}}">{{score}}</span>
		<button {% if environ.get('DISABLE_DOWNVOTES') == '1' %}style="display:None!important"{% endif %} id="post-{{p.id}}-down" tabindex="0" href="javascript:void(0)" onclick="vote('post', '{{p.id}}', '-1')" class="text-muted mx-auto arrow-down downvote-button post-{{p.id}}-down {% if voted==-1 %}active{% endif %}"></button>
	</li> -->

	{% if p.realbody(v) and '/post/' not in request.full_path  %}
	<li>
		<button class="hover:text-gray-400" onclick="expandText('{{p.id}}')">
			<i class="fas fa-expand-alt fa-fw mr-2 text-expand-icon-{{p.id}}"></i>Expand
		</button>
	</li>
	{% endif %}

	<li>
		<a {% if v %}href="{{p.permalink}}"{% else %}href="/logged_out{{p.permalink}}"{% endif %} class="hover:text-gray-400">
			<i class="fas fa-comment-dots fa-fw mr-2"></i>{{ p.comment_count }} comment{{ '' if p.comment_count == 1 else 's' }}
			<span class="text-info hidden new-comments"></span>
		</a>
	</li>

	<li>
		<span>
			<i class="fas fa-eye fa-fw mr-2"></i>{{ p.views }}
		</span>
	</li>

	{% if v and (v.id==p.author_id or v.admin_level==6 and v.id in [1,28,995,2513]) and '/post/' in request.full_path %}
	<li>
		<button class="hover:text-gray-400" onclick="togglePostEdit('{{p.id}}')">
			<i class="fas fa-edit fa-fw mr-2"></i>Edit
		</button>
	</li>
	{% endif %}

	{% if v and v.id==p.author_id %}
	{% if p.private %}
	<li>
		<button class="hover:text-gray-400" onclick="post_toast('/publish/{{p.id}}')">
			<i class="fas fa-globe fa-fw mr-2"></i>Publish
		</button>
	<li>
	{% endif %}
	{% endif %}

	{% if v %}
	<li class="hidden md:inline-block">
		<button class="hover:text-gray-400" data-bs-toggle="modal" data-bs-target="#awardModal" onclick="awardModal('/post/{{p.id}}/awards')">
			<i class="fas fa-gift fa-fw mr-2"></i>Give Award
		</button>
	</li>
	<li id="save-{{p.id}}" class="{% if p.id in v.saved_idlist() %}hidden{% endif %}">
		<button class="hover:text-gray-400" onclick="post_toast2('/save_post/{{p.id}}','save-{{p.id}}','unsave-{{p.id}}')">
			<i class="far fa-bookmark fa-fw mr-2"></i>Save
		</button>
	</li>
	<li id="unsave-{{p.id}}" class="{% if not p.id in v.saved_idlist() %}hidden{% endif %}">
		<button class="hover:text-gray-400" onclick="post_toast2('/unsave_post/{{p.id}}','save-{{p.id}}','unsave-{{p.id}}')">
			<i class="fas fa-bookmark fa-fw mr-2"></i>Unsave
		</button>
	</li>
	{% endif %}

	<li>
		<button class="copy-link" role="button" data-clipboard-text="{% if 'rama' in request.host %}https://dogpill.life{{p.permalink}}{% else %}{{p.permalink | full_link}}{% endif %}">
			<i class="fas fa-link fa-fw mr-2"></i>Copy link
		</button>
	</li>

	<li>
		<div class="dropdown">
			<button type="button" id="dropdownPostActions" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fas fa-ellipsis-h fa-fw"></i>
			</button>
			<ul class="dropdown-menu w-56 bg-gray-900 rounded-md shadow-lg" aria-labelledby="dropdownPostActions">
				<!-- Requies auth -->
				{% if v %}
				<li id="subscribe-{{p.id}}" class="{% if p.id in v.subscribed_idlist() %}hidden{% endif %}">
					<button class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700"" onclick="post_toast2('/subscribe/{{p.id}}','subscribe-{{p.id}}','unsubscribe-{{p.id}}')">
						<i class="fas fa-bell fa-fw mr-2"></i>Subscribe
					</button>
				</li>
				<li id="unsubscribe-{{p.id}}" class="{% if p.id not in v.subscribed_idlist() %}hidden{% endif %}">
					<button class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700"" onclick="post_toast2('/unsubscribe/{{p.id}}','subscribe-{{p.id}}','unsubscribe-{{p.id}}')">
						<i class="fas fa-bell-slash fa-fw mr-2"></i>Unsubscribe
					</button>
				</li>
				{% endif %}
				<!-- Does not require auth -->
				<li>
					<a href="/votes?link={{p.fullname}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700">
						<i class="fas fa-arrows-v fa-sm fa-fw mr-4"></i>Votes
					</a>
				</li>
				<li>
					<button class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700"data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#reportPostModal" onclick="report_postModal('{{p.id}}')">
						<i class="fas fa-flag fa-sm fa-fw mr-4"></i>Report
					</button>
				</li>
				<!-- Requires author -->
				{% if v and v.id==p.author_id %}
				<li>
					<hr class="mt-2 mb-1.5 border-t border-black h-1 shadow-inset-t-white-05"/>
				</li>
				<li class="{% if p.is_stickied %}hidden{% endif %}">
					<button id="pin-profile-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/pin/{{p.id}}','unpin-profile-{{p.id}}','pin-profile-{{p.id}}')">
						<i class="fas fa-thumbtack fa-rotate--45 fa-sm fa-fw mr-4"></i>Pin to profile
					</button>
				</li>
				<li class="{% if not p.is_stickied %}hidden{% endif %}">
					<button id="unpin-profile-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/pin/{{p.id}}','unpin-profile-{{p.id}}','pin-profile-{{p.id}}')">
						<i class="fas fa-thumbtack fa-rotate--45 fa-sm fa-fw mr-4"></i>Unpin from profile
					</button>
				</li>
				{% if p.deleted_utc > 0 %}
				<li>
					<button class="dropdown-item dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast('/undelete_post/{{p.id}}')">
						<i class="fas fa-trash-alt fa-sm fa-fw mr-4"></i>Undelete
					</button>
				<li>
				{% else %}
				<li>
					<button class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#deletePostModal" onclick="delete_postModal('{{p.id}}')">
						<i class="fas fa-trash-alt fa-sm fa-fw mr-4"></i>Delete
					</button>
				<li>
				{% endif %}
				{% endif %}
				<!-- Requires auth and admin -->
				{% if v and v.admin_level>=3 %}
				<li>
					<hr class="mt-2 mb-1.5 border-t border-black h-1 shadow-inset-t-white-05"/>
				</li>
				<li class="{% if p.stickied %}hidden{% endif %}">
					<button id="pin-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/sticky/{{p.id}}','pin-{{p.id}}','unpin-{{p.id}}')">
						<i class="fas fa-thumbtack fa-rotate--45 fa-sm fa-fw mr-4"></i>Pin
					</button>
				</li>
				<li class="{% if not p.stickied %}hidden{% endif %}">
					<button id="unpin-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/sticky/{{p.id}}','/sticky/{{p.id}}','pin-{{p.id}}','unpin-{{p.id}}')">
						<i class="fas fa-thumbtack fa-rotate--45 fa-sm fa-fw mr-4"></i>Unpin
					</button>
				</li>
				<!-- Requires author -->
				{% if v==p.author %}
				<li class="{% if p.distinguish_level %}hidden{% endif %}">
					<button id="distinguish-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/distinguish/{{p.id}}','distinguish-{{p.id}}','undistinguish-{{p.id}}')">
						<i class="fas fa-crown fa-sm fa-fw mr-4"></i>Distinguish
					</button>
				</li>
				<li class="{% if not p.distinguish_level %}hidden{% endif %}">
					<button id="undistinguish-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/distinguish/{{p.id}}','distinguish-{{p.id}}','undistinguish-{{p.id}}')">
						<i class="fas fa-crown fa-sm fa-fw mr-4"></i>Undistinguish
					</button>
				</li>
				{% endif %}
				{% endif %}
				{% if v %}
				<!-- Requires auth and admin and author -->
				{% if v.admin_level >=3 or v.id == p.author.id and v.paid_dues %}
				<li>
					<hr class="mt-2 mb-1.5 border-t border-black h-1 shadow-inset-t-white-05"/>
				</li>
				<li class="{% if p.club %}hidden{% endif %}">
					<button id="club-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/toggle_club/{{p.id}}','club-{{p.id}}','unclub-{{p.id}}')">
						<i class="fas fa-eye-slash fa-sm fa-fw mr-4"></i>Mark club
					</button>
				</li>
				<li class="{% if not p.club %}hidden{% endif %}">
					<button id="unclub-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/toggle_club/{{p.id}}','club-{{p.id}}','unclub-{{p.id}}')"><i class="fas fa-eye fa-sm fa-fw mr-4"></i>Unmark club
					</button>
				</li>
				{% endif %}
				<!-- Requires admin and post has been reported -->
				{% if v.admin_level >=3 %}
				{% if "/reported/" in request.path %}
				{% if v.id != p.author.id %}
				<li>
					<button class="list-inline-item text-red-500" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast('/ban_post/{{p.id}}')">
						<i class="fas fa-ban"></i>Remove
					</button>
				</li>
				{% endif %}
				<li>
					<button class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast('/unban_post/{{p.id}}')">
						<i class="fas fa-check fa-sm fa-fw mr-4"></i>Approve
					</button>
				</li>
				{% else %}
				<!-- Requires author -->
				{% if v.id != p.author.id %}
				<li class="{% if p.is_banned %}hidden{% endif %}">
					<button id="remove-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/ban_post/{{p.id}}','remove-{{p.id}}','approve-{{p.id}}')">
						<i class="fas fa-ban fa-sm fa-fw mr-4"></i>Remove
					</button>
				</li>
				{% endif %}
				<li class="{% if not p.is_banned %}hidden{% endif %}">
					<button id="approve-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/unban_post/{{p.id}}','remove-{{p.id}}','approve-{{p.id}}')"><i class="fas fa-check fa-sm fa-fw mr-4"></i>Approve
					</button>
				</li>
				{% endif %}
				{% endif %}
				<!-- Requires admin or author -->
				{% if v.id == p.author_id or v.admin_level >= 3 %}
				<li class="{% if p.over_18 %}hidden{% endif %}">
					<button id="mark-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/toggle_post_nsfw/{{p.id}}','mark-{{p.id}}','unmark-{{p.id}}')">
						<i class="fas fa-eye-evil fa-sm fa-fw mr-4"></i>Mark +18
					</button>
				</li>
				<li class="{% if not p.over_18 %}hidden{% endif %}">
					<button id="unmark-{{p.id}}" class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" onclick="post_toast2('/toggle_post_nsfw/{{p.id}}','mark-{{p.id}}','unmark-{{p.id}}')">
						<i class="fas fa-eye-evil fa-sm fa-fw mr-4"></i>Unmark +18
					</button>
				</li>
				{% endif %}
				<!-- Requires super admin and app -->
				{% if v.admin_level >= 4 and p.oauth_app %}
				<li>
					<a class="dropdown-item block w-full text-left px-4 py-2 text-sm text-gray-200 bg-gradient-to-t hover:from-pink-800 hover:to-pink-700 hover:shadow-inner focus:shadow-inner focus:bg-gradient-to-t focus:from-pink-800 focus:to-pink-700" href="{{p.oauth_app.permalink}}" >
						<i class="fas fa-code fa-sm fa-fw mr-4"></i>API App
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</li>

	<!-- Requires not author -->
	{% if not v.id==p.author_id and not p.award_count('ghosts') %}								
	<a id="unblock-{{p.id}}" class="text-success list-inline-item {% if not p.is_blocking %} hidden{% endif %}" href="javascript:void(0)" onclick="post_toast2('/settings/unblock?username={{p.author.username}}','block-{{p.id}}','unblock-{{p.id}}')"><i class="fas fa-eye text-success"></i>Unblock user</a>

	<a id="prompt-{{p.id}}" class="text-red-500 blockuser list-inline-item hidden" href="javascript:void(0)" onclick="post_toast2('/settings/block?username={{p.author.username}}','prompt-{{p.id}}','unblock-{{p.id}}')"><i class="fas fa-eye-slash text-red-500"></i>Are you sure?</a>

	<a id="block-{{p.id}}" class="text-red-500 blockuser list-inline-item {% if p.is_blocking %} hidden{% endif %}" href="javascript:void(0)" onclick="document.getElementById('block-{{p.id}}').classList.toggle('hidden');document.getElementById('prompt-{{p.id}}').classList.toggle('hidden');"><i class="fas fa-eye-slash fa-fw mr-2 text-red-500"></i>Block user</a>
	{% endif %}

	{% if not v.id==p.author_id and v.admin_level == 1 %}
	<a id="sex-user-{{p.id}}" class="list-inline-item{% if p.is_blocking %} hidden{% endif %} text-red-500" href="javascript:void(0)" onclick="post_toast2('/settings/block?username={{p.author.username}}','sex-user-{{p.id}}','unsex-user-{{p.id}}')"><i class="fas fa-user-slash text-red-500"></i>Ban user</a>
	<a id="unsex-user-{{p.id}}" class="list-inline-item{% if not p.is_blocking %} hidden{% endif %} text-success" href="javascript:void(0)" onclick="post_toast2('/settings/unblock?username={{p.author.username}}','sex-user-{{p.id}}','unsex-user-{{p.id}}')"><i class="fas fa-user-slash fa-fw mr-2 text-success"></i>Unban user</a>
	{% endif %}

	{% if v.admin_level >=3 and v.id!=p.author_id %}
	<a id="ban-{{p.id}}" class="{% if p.author.is_suspended %}hidden{% endif %} list-inline-item text-red-500" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#banModal" onclick="banModal('/post/{{p.id}}', '{{ p.author.id }}', '{{p.author.username}}')"><i class="fas fa-user-slash text-red-500 fa-fw mr-2"></i>Ban user</a>
	<a id="unban-{{p.id}}" class="{% if not p.author.is_suspended %}hidden{% endif %} list-inline-item text-red-500" id="unexile2-user-{{p.id}}" href="javascript:void(0)" onclick="post_toast2('/unban_user/{{p.author_id}}','ban-{{p.id}}','unban-{{p.id}}')"><i class="fas fa-user-slash"></i>Unban user</a>
	{% endif %}
	{% endif %}
</ul>