<!-- Awards -->
{% if p.award_count("train") %}
{% include "/awards/Trains.html" %}
{% endif %}

<!-- Christmas Awards -->
{% if p.award_count("snow") %}
{% include "/awards/Christmas/Snow.html" %}
{% if p.award_count("snow") > 4 %}
	<div class="frost"></div>
{% endif %}
{% endif %}

<!-- Javascript -->
{% if p.award_count("snow") %}

{% set snowCount = p.award_count("snow") if p.award_count("snow") < 5 else 5 %}

<script>
	document.addEventListener('DOMContentLoaded', function(){
		var script = document.createElement('script');
		script.src = 'https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js';
		script.onload = function(){
			particlesJS("snow", {
				"particles": {
					"number": {
						"value": 60 * {{ snowCount }},
						"density": {
							"enable": true,
							"value_area": 800
						}
					},
					"color": {
						"value": "#ffffff"
					},
					"opacity": {
						"value": 0.7,
						"random": false,
						"anim": {
							"enable": false
						}
					},
					"size": {
						"value": 5,
						"random": true,
						"anim": {
							"enable": false
						}
					},
					"line_linked": {
						"enable": false
					},
					"move": {
						"enable": true,
						"speed": 4,
						"direction": "bottom",
						"random": true,
						"straight": false,
						"out_mode": "out",
						"bounce": false,
						"attract": {
							"enable": true,
							"rotateX": 300,
							"rotateY": 1200
						}
					}
				},
				"interactivity": {
					"events": {
						"onhover": {
							"enable": false
						},
						"onclick": {
							"enable": false
						},
						"resize": false
					}
				},
				"retina_detect": true
			});
		}
		document.head.append(script);
	});
</script>
{% endif %}
