{% extends "default.html" %}

{% block sidebarblock %}{% endblock %}
{% block sidebarLeftblock %}{% endblock %}

{% block title %}
<title>Drama</title>
<meta name="description" content="Drama Help">
{% endblock %}

{% block content %}
<pre></pre>
<pre></pre>
<h4>&nbsp;Admin Tools</h4>
{% filter markdown %}
* [Advanced Stats](/api/user_stat_data)
* [Ban Domain](/admin/domain/enter%20domain%20here)
* [Shadowbanned Users](/admin/shadowbanned)
* [Users with Agendaposter Theme](/admin/agendaposters)
* [Flagged Posts](/admin/flagged/posts)
* [Flagged Comments](/admin/flagged/comments)
* [Image Posts](/admin/image_posts)
* [Removed Posts](/admin/removed)
* [Users Feed](/admin/users)
* [Remove image from imgur and from cloudflare cache](/admin/image_purge)
* [Perceptive Hash Image Ban](/admin/image_ban)
* [Multi Vote Analysis](/admin/alt_votes)
* [App Queue](/admin/apps)
* [App Data](/admin/appdata)
* [Badges](/admin/badge_grant)
* [Content Stats](/admin/content_stats)

{% endfilter %}

<div class="custom-control custom-switch">
	<input type="checkbox" class="custom-control-input" id="disablesignups" name="disablesignups" {% if b.disablesignups %}checked{% endif %} onchange="post('/disablesignups');">
	<label class="custom-control-label" for="disablesignups">Disable signups</label>
</div>

{% endblock %}