# Python, Flask, IDEs
cache/
__pycache__/
.idea/
**/.pytest_cache/
venv/
.vscode/
.sass-cache/
flask_session/
.DS_Store
.venv
*.pyc

# rdrama Media Runtime Artifacts
image.*
video.mp4
video.webm

# Optional env file for some environments
env

# Diagnostic output
output.svg
