assertpy
beautifulsoup4
bleach
Flask
Flask-Caching
Flask-Compress
Flask-Limiter==1.1.0
Flask-Mail==0.9.1
gevent
greenlet
gunicorn
ImageHash
matplotlib
mistletoe
piexif
Pillow
pyotp
qrcode
redis
requests
SQLAlchemy
psycopg2-binary
pusher_push_notifications
youtube-dl
yattag
webptools