beautifulsoup4
bleach==4.1.0
Flask
Flask-Caching
Flask-Compress
Flask-Limiter
Flask-Mail
Flask-Migrate
Flask-Socketio
flask_profiler
gevent
gevent-websocket
greenlet
gunicorn
lxml
mistletoe
matplotlib
Pillow
psutil
pyotp
qrcode
redis
requests
SQLAlchemy
user-agents
psycopg2-binary
pusher_push_notifications
youtube-dl
yattag
webptools
pytest

