@charset "UTF-8";

:root {
	--dark: #3E2C18;
	--secondary: #FFE;
	--white: #F1E7D0;
	--black: #433434;
	--light: #FFE;
	--muted: #AA9881;
	--gray: #AA9881;
	--gray-100: #817261;
	--gray-200: #433434;
	--gray-300: #433434;
	--gray-400: #AA9881;
	--gray-500: #F0E0D6;
	--gray-600: #FFE;
	--gray-700: #F0E0D6;
	--gray-800: #F0E0D6;
	--gray-900: #F0E0D6;
}

.text-muted {
	color: var(--black) !important;
}

.text-white {
	color: var(--primary) !important;
}

.modal .comment-actions a {
	color: var(--gray-500);
}

.navbar-light .navbar-nav .nav-link .fa, .navbar-light .navbar-nav .nav-link .fas, .navbar-light .navbar-nav .nav-link .far, .navbar-light .navbar-nav .nav-link .fab {
	color: var(--black);
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
	background-color: #bda78e !important;
}

html * {
	font-family: arial, helvetica, sans-serif;
	color: #800000
	}
body, #main-content-col {
	background-color: var(--secondary) !important;
	}
.border-right, .border-left, .border-top, .border-bottom, .border {
	border-color: #D9BFB7 !important
	}
.card-header {
	border-color: #D9BFB7 !important
	}
.post-title a {
	color: #cc1105 !important;
	}
.comment, .card {
	background-color: var(--secondary) !important;
	border-color: #D9BFB7 !important;
	}
.form-control {
	border-color: #D9BFB7 !important;
	}
.post-actions *:hover, .comment-actions *:hover, .comment-actions .copy-link:hover {
	color: #F00 !important
	}
a {
	color: #00e;
}

blockquote p {
	color: #789922 !important;
}

.transparent {
	background: None !important;
}

#frontpage .post-title a:visited, .visited {
	color: #949494 !important;
}

.btn {
	color: var(--primary) !important;
}

#profilestuff > * {
	color: #cfcfcf !important;
}

.comment {
	background-color: var(--gray-700) !important;
}

.navbar-light, .navbar .container-fluid, #mobile-bottom-navigation-bar {
	background:#ffe url(https://i.imgur.com/kAfDGxF.png);
	background-size: contain;
}

blockquote {
	background-color: transparent;
	border-color: #789922 !important;
	border-width: 1px !important;
}

blockquote a {
	color: navy;
}

.comment-collapse-desktop {
	border-color: maroon !important;
	border-width: 1px !important;
}

.score-up, .active.arrow-up::before, .arrow-up::after, .arrow-up:hover::before {
	color: maroon !important;
}

.score-down, .active.arrow-down::before, .arrow-down::after, .arrow-down:hover::before {
	color: maroon !important;
}

.arrow-up::before, .arrow-down::before, .score {
	color: var(--gray-400);
}

.srd {
	background-color: var(--gray-700) !important;
}

.srd a {
	color: maroon !important;
}

:root {
	--primary: maroon;
}

.caction {
	color: var(--gray-400) !important;
}

.user-name span {
	color: #117743 !important;
}

.comment-anchor:target, .unread2 {
	background: #ffffff88 !important;
}