html {
  cursor:url('https://i.ibb.co/4VZB08S/Image.webp'), auto;
}

.nav-item .text-small.font-weight-bold::before {
	content: "((("
}
.nav-item .text-small.font-weight-bold::after {
	content: ")))"
}
.nav-item .text-small-extra.text-primary {
	font-size: 0 !important
}
.nav-item .text-small-extra.text-primary i {
	font-size: 11px !important
}