@charset "UTF-8";

/* latin-ext */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

:root {
	--dark: #3E2C18;
	--secondary: #DDD2C4;
	--white: #F1E7D0;
	--black: #433434;
	--light: #DDD2C4;
	--muted: #AA9881;
	--gray: #AA9881;
	--gray-100: #817261;
	--gray-200: #433434;
	--gray-300: #433434;
	--gray-400: #AA9881;
	--gray-500: #DDD2C4;
	--gray-600: #DDD2C4;
	--gray-700: #DDD2C4;
	--gray-800: #DDD2C4;
	--gray-900: #DDD2C4;
	--background: #DDD2C4;
}


* {
	font-family: 'Lato';
}

blockquote {
	background-color: #c0c0c0;
}

.text-muted {
	color: var(--black) !important;
}

.modal .comment-actions a {
	color: var(--gray-500);
}

.navbar-light .navbar-nav .nav-link .fa, .navbar-light .navbar-nav .nav-link .fas, .navbar-light .navbar-nav .nav-link .far, .navbar-light .navbar-nav .nav-link .fab {
	color: var(--black);
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
	background-color: #bda78e !important;
}

.transparent {
	background: None !important;
}

.btn {
	color: var(--primary) !important;
}

.table {
	color: #433434 !important;
}

#profilestuff > * {
	color: #cfcfcf !important;
}

.comment-anchor:target, .unread {
	background: #ffffff88 !important;
}

#frontpage .post-title a:visited, .visited {
	color: #949494 !important;
}