@charset "UTF-8";

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/Lato-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('/assets/fonts/Lato-Bold.woff2') format('woff2');
}

:root {
	--primary: #433434;
	--dark: #3E2C18;
	--secondary: #DDD2C4;
	--white: #F1E7D0;
	--black: #433434;
	--light: #DDD2C4;
	--muted: #AA9881;
	--gray: #AA9881;
	--gray-100: #817261;
	--gray-200: #433434;
	--gray-300: #433434;
	--gray-400: #AA9881;
	--gray-500: #DDD2C4;
	--gray-600: #DDD2C4;
	--gray-700: #DDD2C4;
	--gray-800: #DDD2C4;
	--gray-900: #DDD2C4;
	--background: #DDD2C4;
}


* {
	font-family: 'Lato';
}

blockquote {
	background-color: #c0c0c0;
}

.text-muted {
	color: var(--black) !important;
}

.modal .comment-actions a {
	color: var(--gray-500);
}

.navbar-light .navbar-nav .nav-link .fa, .navbar-light .navbar-nav .nav-link .fas, .navbar-light .navbar-nav .nav-link .far, .navbar-light .navbar-nav .nav-link .fab {
	color: var(--black);
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
	background-color: #bda78e !important;
}

.transparent {
	background: None !important;
}

.btn {
	color: var(--primary) !important;
}

.table {
	color: #433434 !important;
}

#profilestuff > * {
	color: #cfcfcf !important;
}

.comment-anchor:target, .unread {
	background: #ffffff88 !important;
}

.comment .comment-collapse-desktop {
	border-left: 2px solid var(--primary);
}

#frontpage .post-title a:visited, .visited {
	color: #949494 !important;
}
