:root {
    --black: #94a3b8;
    --blue: #0284c7;
    --gray-100: #f1f5f9;
    --gray-200: #e2e8f0;
    --gray-300: #cbd5e1;
    --gray-400: #94a3b8;
    --gray-500: #728195;
    --gray-600: #475569;
    --gray-700: #2d3c50;
    --gray-800: #1e293b;
    --gray-900: #0f172a;
}

body, .container.transparent, .card {
    background-color: var(--gray-800) !important
}

.navbar-light {
    background-color: var(--gray-700) !important
}

p {
    color: var(--gray-300)
}

.comment-collapse-desktop {
    border-color: var(--gray-400) !important
}

blockquote {
    background-color: var(--gray-700);
}

#frontpage #main-content-row div {
    background-color: var(--gray-800) !important
}

#thread #main-content-row div {
    background-color: var(--gray-800) !important
}

.card {
    border-color: var(--gray-600) !important
}