/* Santa Hats */

.avatar::before {
	display: block;
	content: '';
	pointer-events: none;
	background: url("https://i.ibb.co/54JCcPC/hat1.png");
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	height: 20px;
}

/* Snow caps */

.snowcaps::after {
	content: '';
	pointer-events: none;
	background: url("https://i.ibb.co/LN79rp9/Image.png");
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	height: 25px;
	background-size: contain;
}

/* Lights */

@keyframes lights {
    0% {
       /*Two zeros, not one !!*/
       /*[0] is equivalent to [0 50%] and will create a different animation */
        background-position:0 0; 
    } 
    100% {
        background-position:0 -138px;
    }
}

.lights::after {
	content: '';
	pointer-events: none;
    background: url(https://i.imgur.com/BdGY6tH.png);
    animation: lights 1s infinite steps(2);
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 69px;
}