.post-thumbnail-wrapper::after {
	content: '';
	pointer-events: none;
	background: url("https://i.ibb.co/LN79rp9/Image.png");
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	height: 25px;
	background-size: contain;
}

.snowcaps::after {
	content: '';
	pointer-events: none;
	background: url("https://i.ibb.co/LN79rp9/Image.png");
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	height: 25px;
	background-size: contain;
}