@charset "UTF-8";


:root {
	--primary: #1a6187;

	--primary-dark1: #165476;
	--primary-dark2: #134662;

	--primary-light1: #2280B3;
	--primary-light2: #2F9CD7;

	--dark: #c7c7c7;
	--secondary: #c7c7c7;
	--gray: #c7c7c7;
	--gray-300: #c7c7c7;
	--gray-400: #cfcfcf;
	--gray-500: #ffffff;
	--gray-600: #ffffff;
	--gray-700: #ffffff;
	--gray-800: #ffffff;
	--gray-900: #ffffff;
	--light: #ffffff;
	--muted: #1e1e1e;
	--gray-100: #1e1e1e;
	--gray-200: #1e1e1e;
	--white: #1e1e1e;
	--black: #303030;
	--background: #ffffff;
}

* {
	border-color: var(--primary);
}

.btn-secondary:not(:disabled):not(.disabled):active, 
.btn-secondary:not(:disabled):not(.disabled).active, 
.show > .btn-secondary.dropdown-toggle {
	color: var(--primary-dark1);
}
.btn-secondary:focus, .btn-secondary.focus {
	color: var(--primary-dark1);
}

a  { color: var(--primary); }

.btn-primary { color: var(--primary); }
.btn-primary:hover { color: var(--primary-light1); }

.btn-secondary { color: var(--primary); }
.btn-secondary:hover { color: var(--primary-light1); }

.btn-success { color: var(--primary); }
.btn-success:hover { color: var(--primary-light1); }

.btn-danger { color: var(--primary); }
.btn-danger:hover { color: var(--primary-light1); }

.btn-primary.disabled, .btn-primary:disabled,
.btn-secondary.disabled, .btn-secondary:disabled,
.btn-success.disabled, .btn-success:disabled,
.btn-danger.disabled, .btn-danger:disabled {
	color: var(--muted);
}

.comment-write .comment-format .format {
	color: var(--primary);
}
.comment-write .comment-format .format:hover {
	color: var(--primary-light1);
}
.format .fa-bold:hover, .format .fa-italic:hover, .format .fa-quote-right:hover, .format .fa-link:hover, .format .fa-image:hover {
	color: var(--primary-light1);
}

.custom-control-input:checked ~ .custom-control-label::before {
	opacity: 1;
	background-color: var(--primary-light2) !important;
	border: var(--primary) solid 0.1px;
}
.primary_banner {
	min-height: 20vh;
	object-fit: cover;
}
.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: transparent;
	border-color: var(--primary) !important;
}

.form-control:focus {
	border-color: var(--primary-light1) !important;
}

.btn {
	background: transparent;
	border-color: var(--primary) !important;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}
.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.transparent {
	background: None !important;
}

blockquote {
	color: var(--gray-400);
}
#account-menu {
	left: -6px;
}
#main-navigation {
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
}
#profilestuff > * {
	color: var(--gray-400) !important;
}
#profilestuff a {
	color: var(--primary-light2) !important;
}
#profilestuff h1 {
	color: var(--primary-light1) !important;
}
div.deleted {
	background-color: var(--gray-400) !important;
}
div.deleted.banned {
	background-color: var(--gray) !important;
}
.comment-body > .comment-anchor {
	padding: 10px;
}
.comment-anchor:target, .unread {
	background: #00000055 !important;
}
#frontpage .posts .card, #userpage .posts .card, #search .posts .card {
	border: none;
}
#search .post-info,
#userpage .post-info,
#frontpage .post-info {
	display:flex;
}
#search .post-actions,
#userpage .post-actions,
#frontpage .post-actions {
	margin-left:auto;
}
#search .post-actions .list-inline,
#userpage .post-actions .list-inline,
#frontpage .post-actions .list-inline {
	align-items: center;
	height:100%;
}
#search .post-title a:hover,
#userpage .post-title a:hover,
#frontpage .post-title a:hover {
	text-decoration: underline;
}
a::not(.visited),
#frontpage .post-title a:not(:visited),
#userpage .post-title a:not(:visited),
#search .post-title a:not(:visited) {
	color: var(--primary-light1);
}
a.visited,
#frontpage .post-title a:visited,
#userpage .post-title a:visited,
#search .post-title a:visited {
	color: var(--primary-dark1);
}
.comment .comment-collapse-desktop {
	border-left: 2px solid var(--primary-dark1) !important;
}
.comment .comment-collapse-desktop:hover {
	border-left: 2px solid var(--primary-light2) !important;
}

.usernote-link {
	color: var(--primary);
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

.usernote-link:hover {
	text-decoration: underline;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:1033 !important;
}

.modal__container {
	background-color: #fff;
	padding: 30px;
	max-width: 500px;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
	color: #00449e;
	box-sizing: border-box;
}

.modal__close {
	background: transparent;
	border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
}

.modal__content > .content__wrapper {
	display: flex;
	flex-direction: column;
	min-width: 400px;
}

.modal__content > .content__wrapper > .table_content,
.modal__content > .content__wrapper > .table_content > .table_note,
.modal__content > .content__wrapper > .table_headers {
	display: flex;
}
.modal__content > .content__wrapper > .table_content > .table_note {
	margin-top: 10px;
}
.modal__content > .content__wrapper > .table_headers > *,
.modal__content > .content__wrapper > .table_content > .table_note > * {
	flex-basis: 20%;
}
.modal__content > .content__wrapper > .table_headers > *:nth-child(2),
.modal__content > .content__wrapper > .table_content > .table_note > *:nth-child(2) {
	flex-basis: 35%;
	flex-grow: 1;
}
.modal__content > .content__wrapper > .table_content .table_note_message {
	padding: 5px;
	box-sizing: border-box;
}
.modal__content > .content__wrapper > .table_content > .table_note .table_note_date,
.modal__content > .content__wrapper > .table_content > .table_note > .table_note_delete > span {
	color: var(--primary);
	border: none !important;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}
.modal__content > .content__wrapper > .table_content > .table_note .table_note_date:hover,
.modal__content > .content__wrapper > .table_content > .table_note > .table_note_delete > span:hover {
	text-decoration: underline;
}

.modal__content > form {
	display: flex;
	flex-direction: column;
}

.modal__content > .content__wrapper > .table_content {
	flex-direction: column;
}

.modal__content textarea {
	resize: vertical !important;
	min-height: 50px;
	margin-top:20px;
}

.modal__content select {
	display: table-cell;
	padding: 5px;
	box-sizing: border-box;
	margin-top:5px;
	vertical-align: middle;
}

.modal__btn {
	font-size: .875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #e6e6e6;
	color: rgba(0,0,0,.8);
	border-radius: .25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}
