@charset "UTF-8";


:root {
	--dark: #c7c7c7;
	--secondary: #c7c7c7;
	--gray: #c7c7c7;
	--gray-300: #c7c7c7;
	--gray-400: #cfcfcf;
	--gray-500: #ffffff;
	--gray-600: #ffffff;
	--gray-700: #ffffff;
	--gray-800: #ffffff;
	--gray-900: #ffffff;
	--light: #ffffff;
	--muted: #1e1e1e;
	--gray-100: #1e1e1e;
	--gray-200: #1e1e1e;
	--white: #1e1e1e;
	--black: #303030;
	--background: #ffffff;
}

* {
	border-color: var(--primary);
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn {
	background: transparent;
	border-color: var(--primary) !important;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.transparent {
	background: None !important;
}

blockquote {
	color: var(--gray-400);
}

#profilestuff > * {
	color: var(--gray-400) !important;
}

.comment-anchor:target, .unread {
	background: #00000055 !important;
}

#frontpage .post-title a:visited, .visited {
	color: #7a7a7a !important;
}

.usernote-link {
	color: var(--primary);
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

.usernote-link:hover {
	text-decoration: underline;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:1033 !important;
}

.modal__container {
	background-color: #fff;
	padding: 30px;
	max-width: 500px;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
	color: #00449e;
	box-sizing: border-box;
}

.modal__close {
	background: transparent;
	border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
}

.modal__content textarea {
	width: 400px;
	resize: vertical !important;
	min-height: 50px;
	margin-top:20px;
}

.modal__content select {
	display: table-cell;
	width: 400px;
	padding: 5px;
	box-sizing: border-box;
	margin-top:5px;
	vertical-align: middle;
}

.modal__content .notes_content {
	width: 400px;
	min-height: 50px;
}

.modal__btn {
	font-size: .875rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #e6e6e6;
	color: rgba(0,0,0,.8);
	border-radius: .25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}
