@charset "UTF-8";

:root {
	--dark: #383838;
	--secondary: #383838;
	--white: #E1E1E1;
	--black: #CFCFCF;
	--light: transparent;
	--muted: #E1E1E1;
	--gray: #383838;
	--gray-100: #E1E1E1;
	--gray-200: #E1E1E1;
	--gray-300: #383838;
	--gray-400: #303030;
	--gray-500: #21262d;
	--gray-600: transparent;
	--gray-700: transparent;
	--gray-800: transparent;
	--gray-900: transparent;
	--background: #21262d;
}



* {
	border-color: var(--primary);
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	border-color: var(--primary) !important;
}

.btn {
	border-color: var(--primary) !important;
}

.form-control:disabled, .form-control[readonly] {
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

pre {
	color: #CFCFCF;
}

.container {
	background: rgba(28, 34, 41, 0.90) !important;
	border-radius: 0 !important;
}

.dropdown-menu {
	background-color: var(--gray-500);
}

.form-inline.search .form-control:active, .form-inline.search .form-control:focus {
	background-color: var(--gray-500);
}

.form-control:focus, .form-control:active {
	background-color: var(--gray-500);
}

#frontpage .post-title a:visited, .visited {
	color: #7a7a7a !important;
}