@charset "UTF-8";

:root {
	--dark: #383838;
	--secondary: #383838;
	--white: #E1E1E1;
	--black: #CFCFCF;
	--light: none;
	--muted: #E1E1E1;
	--gray: #383838;
	--gray-100: #E1E1E1;
	--gray-200: #E1E1E1;
	--gray-300: #383838;
	--gray-400: #303030;
	--gray-500: #000000;
	--gray-600: none;
	--gray-700: none;
	--gray-800: none;
	--gray-900: none;
}



* {
	border-color: var(--primary);
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn {
	background: transparent;
	border-color: var(--primary) !important;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.row, .col, .comment-section {
	background: transparent;
}

.container {
	background: rgba(28, 34, 41, 0.85) !important;
	border-radius: 0 !important;
}

.col-12 .card {
	background: None !important;
}

#frontpage .post-title a:visited, .visited {
	color: #7a7a7a !important;
}

.sidebar {
	background: None !important;
}