:root {
    --white: white !important;
    --yellow: #ffd700   !important;
    --blue: #0057b7 !important;
    --primary: var(--yellow) !important;
}

.mod {
	padding: 2px 5px 3px;
	border-radius: 5px;
	color: #fff !important;
    background: linear-gradient(to bottom, var(--blue) 50%, var(--yellow) 50%) !important;
	text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000 !important;
}

#frontpage .col.h-100.custom-gutters .row .col, .srd {
    background: linear-gradient(to bottom, var(--blue) 50%, var(--yellow) 50%) !important;
}

#frontpage .btn.btn-secondary.text-small-m {
	color: white !important;
	text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000 !important;
	background: transparent !important;
}

.user-name {
    color: var(--yellow) !important
}

.patron {
    background-color: var(--blue) !important;
}

.arrow-up::before {
	font-family: serif !important;
	content: "🇺🇦";
    opacity:0.3;
}

.active.arrow-up::before {
	opacity: 1;
}

.arrow-down::before {
	font-family: serif !important;
	content: "🇷🇺";
    opacity:0.3;
}

.active.arrow-down::before {
	opacity: 1;
}

#frontpage .btn {
    background-color: var(--yellow) !important;
    color: white !important;
}