@charset "UTF-8";

:root {
	--dark: #fff;
	--secondary: #000000;
	--white: #c0c0c0;
	--black: #000000;
	--light: #000000;
	--muted: #404040;
	--gray: #fff;
	--gray-100: #394552;
	--gray-200: #c0c0c0;
	--gray-300: #c0c0c0;
	--gray-400: #242C33;
	--gray-500: #c0c0c0;
	--gray-600: #c0c0c0;
	--gray-700: #c0c0c0;
	--gray-800: #07090A;
	--gray-900: #000000;
}



* {
	box-shadow: none !important;
	transition: none !important;
	border-radius: 0 !important;
	font-family: sans-serif;
	font-size: 12px;
}

.card, #mobile-bottom-navigation-bar {
	transform: none !important;
	background-color: var(--gray-500) !important;
}

.pseudo-submit-form .card-header, .card-blank .card-header, .navbar-light, .nav, .flex-row.bg-gray-200.sticky.justify-content-center.d-flex.d-sm-none.mt-3.mb-3.mb-sm-5.rounded {
	background: var(--white) !important;
	color: var(--white) !important;
}
.navbar-light > *, .navbar-brand, .nav-link{
	color: var(--white) !important;
}

.nav-link, .btn:not(.caction), .btn-secondary, .col.px-0.pl-2.btn.btn-dead.my-0.mx-2 {
	border: 2px outset white !important;
	border-bottom: 2px solid #a7a5a1 !important;
	border-right: 2px solid #a7a5a1 !important;
	background: var(--gray-500) !important;
	color: #000 !important;
}

.nav-link:focus, .btn:focus, .btn-secondary:focus, .col.px-0.pl-2.btn.btn-dead.my-0.mx-2,
.nav-link:active, .btn:active, .btn-secondary:active {
	border: 2px inset white !important;
}

.card, .card-blank, .comment-section.post-top, .dropdown-menu {
	border: 2px outset white !important;
	border-bottom: 2px solid #a7a5a1 !important;
	border-right: 2px solid #a7a5a1 !important;
}

.dropdown-menu, .btn:hover {
	background: var(--gray-500) !important;
	color: #000 !important;
}

.form-control {
	border: 2px inset #717171 !important;
	border-bottom: 2px solid #a7a5a1 !important;
	border-right: 2px solid #a7a5a1 !important;
}

.post-title, .text-small-extra.text-muted, #actual-comments > .text-muted, .text-left.pl-2 {
	color: var(--black) !important;
}

.arrow-up::before {
	color: var(--muted);
}

blockquote {
	background-color: #e0e0e0 !important;
	border-bottom: 2px solid var(--black);
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	background-color: white !important;
}

.navbar-light .navbar-nav .nav-link .fa, .navbar-light .navbar-nav .nav-link .fas, .navbar-light .navbar-nav .nav-link .far, .navbar-light .navbar-nav .nav-link .fab {
	color: #000 !important
}

.stretched-link {
	color: #000 !important
}

.flaggers {
	background-color: var(--white) !important;
}

.form-control, .form-control:disabled, .form-control[readonly] {
	background: white !important;
	color: black !important
}

.arrow-down::before {
	color: var(--muted) !important;
}

.table {
	color: black !important;
}

.transparent {
	background: None !important;
}

.black {
	color: black !important;
}

.col-12 .card {
	padding: 20px !important;
}

#frontpage .post-title a:visited, .visited {
	color: #5c5c5c !important;
}

.post-actions a, .post-actions button {
	color: var(--muted) !important;
}

.modal-header, .modal .comment-actions a, .modal-title {
	color: var(--white) !important;
}

.text-info
{
	color: var(--primary) !important;
}

.score, .comment-actions .score {
	color: #000;
}

.arrow-up:hover::before {
	color: var(--muted);
}

#thread {
	background: var(--white) !important;
}

#profilestuff > * {
	color: #cfcfcf !important;
}