{% extends "embeds/embed_default.html" %}

{% block title %}
<title>{{ p.title | safe}}</title>
<meta name="description" content="posted {{ p.age_string }} by @{{ p.author.username }}">
{% endblock %}

{% block pagetype %}thread{% endblock %}


{% block content %}
<div class="row no-gutters mt-md-3">
  <div class="col-12">
    <div class="posts" id="posts">
      {% with listing = [p] %}
        {% include "submission_listing.html" %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}