{% extends "default.html" %}

{% block title %}
<title>401 Not Authorized</title>
{% endblock %}

{% block pagetype %}error-401{% endblock %}

{% block content %}
<div class="col-span-full h-screen flex items-center justify-center">
	<div class="md:max-w-xl text-center">
		<img loading="lazy" src="/assets/CHRISTMAS/images/emojis/marseydead.webp?v=200" class="w-14 h-14 object-contain mb-4">
		<h1 class="h5">401 Not Authorized</h1>
		<p class="text-gray-500 mb-3">
			What you're trying to do requires an account. I think. The original error message said something about a castle and I hated that.
		</p>
		<a href="/signup" class="btn btn-gray">Create an account</a>
		<a href="/login" class="btn btn-gray">Login</a>
	</div>
</div>
{% endblock %}