{% extends "default.html" %}

{% block title %}
<title>405 Method Not Allowed</title>
{% endblock %}

{% block pagetype %}error-405{% endblock %}

{% block content %}
<div class="col-span-full h-screen flex items-center justify-center">
	<div class="md:max-w-xl text-center">
		<img loading="lazy" src="/assets/CHRISTMAS/images/emojis/marseyretard.webp?v=200" class="w-14 h-14 object-contain mb-4">
		<h1 class="h5">405 Method Not Allowed</h1>
		<p class="text-gray-500">
			idk how anyone gets this error but if you see this, remember to follow @carpathianflorist
		</p>
		<p class="text-gray-500 mb-3">
			the original error text here talked about internet gremlins and wtf
		</p>
		<a href="/" class="btn btn-gray">Go to frontpage</a>
	</div>
</div>
{% endblock %}
