{% extends "CHRISTMAS/default.html" %}

{% block title %}
<title>429 Too Many Requests</title>
{% endblock %}

{% block pagetype %}error-429{% endblock %}

{% block content %}
<div class="col-span-full h-screen flex items-center justify-center">
	<div class="md:max-w-xl text-center">
		<img loading="lazy" src="/assets/images/emojis/marseyrentfree.webp?a=1" class="w-14 h-14 object-contain mb-4">
		<h1 class="h5">429 Too Many Requests</h1>
		<p class="text-gray-500 mb-3">
			go spam somewhere else nerd
		</p>
		<a href="https://www.youtube.com/watch?v=1" class="btn btn-gray">Go to frontpage</a>
	</div>
</div>
{% endblock %}
