{% extends "default.html" %}

{% block title %}
<title>500 Internal Server Error</title>
{% endblock %}

{% block pagetype %}error-500{% endblock %}

{% block content %}
<div class="col-span-full h-screen flex items-center justify-center">
	<div class="md:max-w-xl text-center">
		<img loading="lazy" src="/assets/CHRISTMAS/images/emojis/marseydead.webp?v=200" class="w-14 h-14 object-contain mb-4">
		<h1 class="h5">500 Interal Server Error</h1>
		<p class="text-gray-500 mb-3">
			Hiiiii it's carp! I think this error means that there's a timeout error. And I think that means something took too long to load so it decided not to work at all. If you keep seeing this on the same page <em>but not other pages</em>, then something is probably wrong with that specific function. It may not be called a function, but that sounds right to me. Anyway, ping me and I'll whine to someone smarter to fix it. Don't bother them. Thanks ily <3
		</p>
		<a href="/" class="btn btn-gray">Go to frontpage</a>
	</div>
</div>
{% endblock %}
