{% extends "CHRISTMAS/default.html" %}

{% block title %}
<title>+18</title>
{% endblock %}

{% block pagetype %}error-451{% endblock %}

{% block content %}
<div class="col-span-full h-screen flex items-center justify-center">
	<div class="md:max-w-xl text-center">
		<img loading="lazy" src="/assets/images/emojis/marseytwerking.webp?v=200" class="w-14 h-14 object-contain mb-4">
		<h1 class="h5">Are you over 18?</h1>
		<p class="text-gray-500 mb-3">
			This post is rated +18 (Adult-Only). You must be 18 or older to continue. Are you sure you want to proceed?
		</p>
		<div class="flex flex-wrap justify-center space-x-2">
			<form action="/allow_nsfw" method="post">
				<input type="hidden" name="redir" value="{{request.path}}">
				<input type="submit" class="btn btn-red" value="Yes, I am +18">
			</form>
			<a href="/" class="btn btn-gray">No</a>
		</div>
	</div>
</div>
{% endblock %}

