{% extends "default.html" %}

{% block title %}
<title>401 Not Authorized</title>
{% endblock %}

{% block pagetype %}error-401{% endblock %}

{% block content %}
<div class="col-span-full h-screen flex items-center justify-center">
	<div class="md:max-w-xl text-center">
		<img loading="lazy" src="/assets/CHRISTMAS/images/emojis/marseymerchant.webp?v=200" class="w-14 h-14 object-contain mb-4">
		<h1 class="h5">401 Not Authorized</h1>
		<p class="text-gray-500 mb-3">
			This page is only available to {% if "rama" in request.host %}paypigs{% else %}patrons{% endif %}:
		</p>
		<a rel="nofollow noopener noreferrer" href="{{'GUMROAD_LINK' | app_config}}" class='btn btn-gray'>{{'GUMROAD_LINK' | app_config}}</a>
	</div>
</div>
{% endblock %}