{%
  set sections = [
  	{
		'title': 'content',
		'color': 'red',
		'content': [
	    {
			'icon': 'fa-pencil',
			'title': 'Reported Posts',
			'description': 'Community-flagged posts',
			'link': '/admin/reported/posts'
	    },
	    {
			'icon': 'fa-comment-alt',
			'title': 'Reported Comments',
			'description': 'Community-flagged comments',
			'link': '/admin/reported/comments'
	    },
	    {
			'icon': 'fa-image',
			'title': 'Image Posts',
			'description': 'User-uploaded media',
			'link': '/admin/image_posts'
	    },
	    {
			'icon': 'fa-trash',
			'title': 'Removed Posts',
			'description': 'Posts removed by mods',
			'link': '/admin/users'
	    }
	  ]
	},
	{
		'title': 'users',
		'color': 'blue',
		'content': [
	    {
			'icon': 'fa-ghost',
			'title': 'Shadow Banned Users',
			'description': 'Users shadow banned',
			'link': '/admin/shadowbanned'
	    },
	    {
			'icon': 'fa-republican',
			'title': 'Agenda Posters',
			'description': 'Users with agenda poster mode',
			'link': '/admin/agendaposters'
	    },
	    {
			'icon': 'fa-users',
			'title': 'Users Feed',
			'description': 'Updated feed of sign ups',
			'link': '/admin/image_posts'
	    }
	  ]
	},
	{
		'title': 'safety',
		'color': 'green',
		'content': [
	    {
			'icon': 'fa-ban',
			'title': 'Banned Domains',
			'description': 'Domains banned site-wide',
			'link': '/admin/shadowbanned'
	    },
	    {
			'icon': 'fa-search',
			'title': 'Vote Fraud Analysis',
			'description': 'Check alt-account voting',
			'link': '/admin/agendaposters'
	    }
	  ]
	},
	{
		'title': 'grant',
		'color': 'pink',
		'content': [
	    {
			'icon': 'fa-trophy',
			'title': 'Give Award',
			'description': 'Give users awards',
			'link': '/admin/awards'
	    },
	    {
			'icon': 'fa-badge',
			'title': 'Grant Badge',
			'description': 'Grant users badges',
			'link': '/admin/badge_grant'
	    }
	  ]
	},
	{
		'title': 'Metrics',
		'color': 'purple',
		'content': [
	    {
			'icon': 'fa-list-ol',
			'title': 'Content stats',
			'description': 'Post, comment, etc. numbers',
			'link': '/stats'
	    },
	    {
			'icon': 'fa-chart-bar',
			'title': 'Content charts',
			'description': 'Visualize site stats',
			'link': '/charts'
	    }
	  ]
	},
	{
		'title': 'Meta',
		'color': 'gray',
		'content': [
	    {
			'icon': 'fa-wrench',
			'title': 'API access',
			'description': 'Approved apps',
			'link': '/admin/apps'
	    },
	    {
			'icon': 'fa-scroll',
			'title': 'Site rules',
			'description': 'Site rules and guidelines',
			'link': '/admin/apps'
	    }
	  ]
	}
  ]
%}

{% extends "CHRISTMAS/default.html" %}

{% block title %}
<title>{{'SITE_NAME' | app_config}}</title>
<meta name="description" content="{{'SITE_NAME' | app_config}} Help">
{% endblock %}

{% block subHeader %}
<div class="relative max-w-screen-2xl mx-auto px-4 py-4 grid grid-cols-12 rounded-t">
		<div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-gray-300 to-gray-200 dark:bg-none dark:bg-gray-800 rounded-t sub-header-shadow dark:border-b dark:border-gray-700"></div>
		<div class="relative col-span-full flex items-center">
		<div>
			<h1 class="font-bold text-xl font-heading leading-normal mb-0">
				Admin Dashboard
			</h1>
			<small class="block text-gray-700 dark:text-gray-400">
				Welcome agent, <strong>#{{ v.id }}</strong>.
			</small>
		</div>
		<div class="ml-auto">
			<a href="/notifications?modmail=true" class="btn btn-gray">
				<i class="fas fa-envelope fa-sm fa-fw mr-1"></i>
				Mod mail
			</a>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="col-span-full lg:max-w-6xl lg:mx-auto bg-gray-200 dark:bg-gray-800 p-4">

	{% for section in sections %}
		<h2 class="h4 capitalize">
			{{ section.title }}
		</h2>
		<div class="flex flex-wrap -mx-3 overflow-hidden mb-6">
			{% for item in section.content %}
			<div class="my-3 px-3 w-1/2 overflow-hidden lg:w-1/3">
				<a href="{{ item.link }}" class="flex items-center p-3 md:px-5 md:py-4 rounded border border-gray-400 dark:border-gray-700 hover:bg-gray-300 dark:hover:bg-gray-700 h-full">
					<div class="flex flex-shrink-0 items-center justify-center w-9 h-9 md:w-12 md:h-12 rounded-full bg-{{ section.color }}-200">
						<i class="fas {{ item.icon }} fa-fw md:text-lg text-{{ section.color }}-600"></i>
					</div>
					<div class="pl-3 md:pl-4">
						<h3 class="h6 md:h5 text-black dark:text-gray-200 break-words" style="word-break: break-word;">
							{{ item.title }}
						</h3>
						<p class="text-sm md:text-base text-gray-500 break-words" style="word-break: break-word;">
							{{ item.description }}
						</p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	{% endfor %}

	<div>
		<input type="checkbox" id="disablesignups" name="disablesignups" {% if x == "yes" %}checked{% endif %} onchange="post_toast('/admin/disablesignups');">
		<label class="label" for="disablesignups">Disable signups</label>
	</div>
</div>
{% endblock %}