{%
  set sections = [
  	{
		'title': 'content',
		'color': 'red',
		'content': [
	    {
			'icon': 'fa-pencil',
			'title': 'Reported Posts',
			'description': 'Posts flagged by the community',
			'link': '/admin/reported/posts'
	    },
	    {
			'icon': 'fa-comment-alt',
			'title': 'Reported Comments',
			'description': 'Comments flagged by the community',
			'link': '/admin/reported/comments'
	    },
	    {
			'icon': 'fa-image',
			'title': 'Image Posts',
			'description': 'Posts with user-uploaded media',
			'link': '/admin/image_posts'
	    },
	    {
			'icon': 'fa-trash',
			'title': 'Removed Posts',
			'description': 'Posts removed by mods',
			'link': '/admin/removed'
	    }
	  ]
	}
  ]
%}

{% extends "CHRISTMAS/default.html" %}

{% block title %}
<title>{{'SITE_NAME' | app_config}}</title>
<meta name="description" content="{{'SITE_NAME' | app_config}} Help">
{% endblock %}

{% block subHeader %}
<div class="relative max-w-screen-2xl mx-auto px-4 py-4 grid grid-cols-12 rounded-t">
		<div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-gray-300 to-gray-200 dark:bg-none dark:bg-gray-800 rounded-t sub-header-shadow dark:border-b dark:border-gray-700"></div>
		<div class="relative col-span-full flex items-center">
		<div>
			<h1 class="font-bold text-xl font-heading leading-normal mb-0">
				Admin Dashboard
			</h1>
			<small class="block text-gray-700 dark:text-gray-400">
				Welcome agent, <strong>#{{ v.id }}</strong>.
			</small>
		</div>
		<div class="ml-auto">
			<a href="/notifications?modmail=true" class="btn btn-gray">
				<i class="fas fa-envelope fa-sm fa-fw mr-1"></i>
				Mod mail
			</a>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="col-span-full lg:max-w-6xl lg:mx-auto bg-gray-200 dark:bg-gray-800 p-4">

	{% for section in sections %}
		<h2 class="h4">
			{{ section.title }}
		</h2>
		<div class="flex flex-wrap -mx-3 overflow-hidden mb-6">
			{% for item in section.content %}
			<div class="my-3 px-3 w-1/2 overflow-hidden lg:w-1/3">
				<a href="{{ item.link }}" class="flex items-center px-5 py-4 rounded border border-gray-400 dark:border-gray-700 hover:bg-gray-300 dark:hover:bg-gray-700 h-full">
					<div class="flex flex-shrink-0 items-center justify-center w-12 h-12 rounded-full bg-{{ section.color }}-200">
						<i class="fas {{ item.icon }} fa-fw text-lg text-{{ section.color }}-600"></i>
					</div>
					<div class="pl-4">
						<h3 class="h5 text-black dark:text-gray-200">
							{{ item.title }}
						</h3>
						<p class="text-gray-500 break-words" style="word-break: break-word;">
							{{ item.description }}
						</p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	{% endfor %}


	<h4>Users</h4>
	<ul>
		<li><a href="/admin/shadowbanned">Shadowbanned Users</a></li>
		<li><a href="/admin/agendaposters">Users with Agendaposter Theme</a></li>
		<li><a href="/admin/users">Users Feed</a></li>
	</ul>

	<h4>Safety</h4>
	<ul>
		<li><a href="/admin/banned_domains">Banned Domains</a></li>
		<li><a href="/admin/alt_votes">Multi Vote Analysis</a></li>
	</ul>

	<h4>Grant</h4>
	<ul>
		<li><a href="/admin/awards">Give User Award</a></li>
		<li><a href="/admin/badge_grant">Badges</a></li>
	</ul>

	<h4>API Access Control</h4>
	<ul>
		<li><a href="/admin/apps">Apps</a></li>
	</ul>

	<h4>Statistics</h4>
	<ul>
		<li><a href="/stats">Content Stats</a></li>
		<li><a href="/chart">Stat Chart</a></li>
	</ul>

	<h4>Configuration</h4>
	<ul>
		<li><a href="/admin/rules">Site Rules</a></li>
	</ul>

	<div>
		<input type="checkbox" id="disablesignups" name="disablesignups" {% if x == "yes" %}checked{% endif %} onchange="post_toast('/admin/disablesignups');">
		<label class="label" for="disablesignups">Disable signups</label>
	</div>
</div>
{% endblock %}