{% extends "CHRISTMAS/default.html" %}
{% block content %}
<div class="col-span-full my-4">
<h1 class="h3">
	User Badges
</h1>
<p class="text-gray-400">
	This page describes the requirements for obtaining all profile badges.
</p>
<table class="w-full table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>Name</th>
		<th>Image</th>
		<th>Description</th>
	</tr>
</thead>
{% for k,v in badges.items() %}
	<tr>
		<td>{{v['name']}}</td>
		<td><img loading="lazy" src="/assets/CHRISTMAS/images/badges/{{v['name']}}.webp?v=200" class="object-contain w-16 h-16 p-2" alt="{{v['name']}} badge"/>
		<td>{{v['description']}}</td>
	</tr>
{% endfor %}
</table>
</div>
{% endblock %}