<div class="modal fade" id="gifModal" tabindex="-1" role="dialog" aria-labelledby="gifModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-5" role="document">
		<div class="modal-content mx-auto max-w-3xl bg-gray-100 dark:bg-gray-700 rounded-md shadow-lg">
			<div class="flex justify-between border-b border-gray-300 dark:border-gray-800 p-3">
				<div class="form-group flex items-center w-full mb-0">
					<div id="gifs-back-btn"></div>
					<input type="text" class="form-input w-full" id="gifSearch" placeholder="Search and press enter" onchange="getGif(this.value);">
					<div id="gifs-cancel-btn"></div>
				</div>
			</div>
			<div class="overflow-y-scroll">
				<div class="modal-body p-0" id="gif-modal-body">
					<div id="no-gifs-found">
					</div>
					<div class="card-columns gif-categories pt-3 px-3 pb-0" id="GIFs">
					</div>
					<div id="gifs-load-more">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
