{% extends "CHRISTMAS/settings.html" %}

{% block pagetitle %}Custom CSS - {{'SITE_NAME' | app_config}}{% endblock %}

{% block content %}

<div class="flex flex-col space-y-4 sm:py-4 my-2.5 sm:my-0">

	<!-- Custom website CSS -->
	<div class="rounded-lg divide-y divide-gray-300 bg-gray-100 border border-gray-300 shadow-inset-t-white-10">
		<div class="px-4 py-4">
			<h2 class="label text-black">Custom site CSS</h2>
			<form id="profile-settings" action="/settings/css" method="post">
				<input type="hidden" name="formkey" value="{{v.formkey}}">
				<div class="rounded border border-gray-300 border-dashed bg-white w-full">
					<textarea class="p-2 shadow-inner w-full" placeholder="i.e. .custom-class {...}" rows="24" name="css" form="profile-settings" maxlength="4000">{% if v.css %}{{v.csslazy}}{% endif %}</textarea>
				</div>
				<small class="block mt-2 text-gray-400">Limit of 4000 characters</small>
				<div class="mt-4">
					<input id="submit-btn" class="ml-auto btn btn-gray" type="submit" value="Save">
				</div>
			</form>
		</div>
	</div>

	<!-- Custom profile CSS -->
	<div class="rounded-lg divide-y divide-gray-300 bg-gray-100 border border-gray-300 shadow-inset-t-white-10">
		<div class="px-4 py-4">
			<h2 class="label text-black">Custom profile CSS</h2>
			<form id="profile-settings" action="/settings/profilecss" method="post">
				<input type="hidden" name="formkey" value="{{v.formkey}}">
				<div class="rounded border border-gray-300 border-dashed bg-white w-full">
					<textarea class="p-2 shadow-inner w-full" id="bio-text" aria-label="With textarea" placeholder="i.e. .custom-avatar {...}" rows="24" name="profilecss" form="profile-settings" maxlength="4000">{% if v.profilecss %}{{v.profilecss}}{% endif %}</textarea>
				</div>
				<small class="block mt-2 text-gray-400">Limit of 4000 characters</small>
				<div class="mt-4">
					<input id="submit-btn" class="ml-auto btn btn-gray" type="submit" value="Save">
				</div>
			</form>
		</div>
	</div>

</div>

{% endblock %}

{% block scripts %}
{% if v.agendaposter %}
<script>
	const flip = (e) => {
		e.preventDefault();
		document.getElementsByTagName("body")[0].setAttribute("style", "-moz-transform: scale(-1, -1);-o-transform: scale(-1, -1);-webkit-transform: scale(-1, -1);transform: scale(-1, -1);");
	};

	document.getElementById("submit-btn").onclick = flip;
</script>
{% endif %}
{% endblock %}