<div class="animate-pulse hover:bg-gray-300 hover:opacity-100 md:hover:opacity-100 pointer-events-none"></div>

<div class="text-twitter text-blue text-lightblue text-danger text-success text-gold text-silver text-light-green text-green-500 text-blue-200 dark:text-gray-100"></div>

<div class="bg-blue-200 text-blue-600 bg-green-200 text-green-600"></div>

<div class="bg-yellow-200 text-yellow-600 bg-pink-200 text-pink-600"></div>

<div class="bg-purple-200 text-purple-600"></div>

<div class="border-gray-400 border-green-400 border-blue-400 border-yellow-400 border-red-400 border-purple-400"></div>