{% extends "CHRISTMAS/userpage.html" %}

<!-- 
<div class="row no-gutters">
	<div class="col">
		<div class="flex-row box-shadow-bottom d-flex justify-content-center justify-content-md-between align-items-center">
			<ul class="nav settings-nav">
				<li class="nav-item">
					<a class="nav-link" style="font-size: .9rem !important; padding: .75rem .4rem !important;" href="/@{{u.username}}">Posts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if not 'saved' in request.path %}active{% endif %}" style="font-size: .9rem !important; padding: .75rem .4rem !important;" href="/@{{u.username}}/comments">Comments</a>
				</li>
				{% if u.id == v.id %}
				<li class="nav-item">
					<a class="nav-link" style="font-size: .9rem !important; padding: .75rem .4rem !important;" href="/@{{u.username}}/saved/posts">Saved Posts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if 'saved' in request.path %}active{% endif %}" style="font-size: .9rem !important; padding: .75rem .4rem !important;" href="/@{{u.username}}/saved/comments">Saved Comments</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div> -->


{% block content %}
<div class="col-span-full xl:col-span-9 px-2.5 md:px-0">
	<div class="sm:py-4 my-2.5 sm:my-0">
		{% if not "saved" in request.full_path %}
		<div class="flex justify-end md:justify-start mb-3 md:m-0 px-2.5 md:px-0">
			{% include "CHRISTMAS/dropdowns/SubmissionSorts.html" %}
		</div>
		<hr class="hidden md:block my-4 shadow-inset-t-white-05 border-t border-gray-300"/>
		{% endif %}
		{% if listing %}
		<div id="comments">
		{% with comments=listing %}
			{% include "CHRISTMAS/comments.html" %}
		{% endwith %}
		</div>
		{% else %}
		<div class="md:max-w-xl text-center">
			<img loading="lazy" src="/assets/images/emojis/marseydead.webp?v=200" class="w-14 h-14 object-contain mb-4">
			{% if '/saved/' in request.path %}
			<h3 class="h5">You have no saved comments</h3>
			<p class="text-gray-500 mb-3">
				Go save some comments!
			</p>
			{% elif v and v.id == u.id %}
			<h3 class="h5">You have no comments</h3>
			<p class="text-gray-500 mb-3">
				Go write some comments!
			</p>
			{% else %}
			<h3 class="h5">You have no comments</h3>
			<p class="text-gray-500 mb-3">
				Their comments will show up here.
			</p>
			{% endif %}
		</div>
		{% endif %}
		<!-- Pagination -->
		{% if listing %}
			<div class="flex flex-wrap items-center">
				{% if page>1 %}
				<a class="block px-2 py-1 text-sm font-bold text-gray-700 hover:text-gray-900 bg-gray-300 hover:bg-gray-400 active:shadow-inner" href="?page={{page-1}}&sort={{sort}}&t={{t}}" tabindex="-1">
					Prev
				</a>
				{% else %}
				<span class="block px-2 py-1 text-sm font-bold text-gray-400 bg-gray-300/50 disabled">Prev</span>
				{% endif %}
				{% if next_exists %}
				<a class="block px-2 py-1 text-sm font-bold text-gray-700 hover:text-gray-900 bg-gray-300 hover:bg-gray-400 active:shadow-inner" href="?page={{page+1}}&sort={{sort}}&t={{t}}">Next</a>
				{% else %}
				<span class="block px-2 py-1 text-sm font-bold text-gray-400 bg-gray-300/50 disabled">Next</span>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}