{% extends "CHRISTMAS/userpage.html" %}

{% block content %}
<div class="col-span-full xl:col-span-9 py-36 flex items-center justify-center">
	<div class="md:max-w-xl text-center">
		<img loading="lazy" src="/assets/images/emojis/marseytroll.webp?a=1" class="w-14 h-14 object-contain mb-4">
		<h1 class="h5">This account is private</h1>
		<p class="text-gray-500 mb-3">
			YOU AREN'T WELCOME HERE GO AWAY
		</p>
		{% if u.id == 253 and 'rama' in request.host %}
		<div class="bg-gray-100 border border-gray-300 p-4">
			{% if v and v.coins > 500 and not v.is_suspended %}
				<p class="text-gray-500 mb-3">
					You may pay rent to view this profile.
				</p>
				<button class="btn btn-gray" onclick="post_toast('/pay_rent', '1')">Pay 500 coins</button>
			{% endif %}
			{% if v and v.coins > 5000 and time - v.created_utc > 604800 and not v.is_suspended %}
				<button class="btn btn-gray" onclick="post_toast('/steal', '1')">
					Attempt to steal coins
				</button>
				<p class="text-xs text-gray-400 mt-1">
					Landlords, like all other men, love to reap where they never sowed.
				</p>
			{% endif %}
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block pagenav %}
{% endblock %}