{% extends "email/default.html" %}

{% block title %}Remove Two-Factor Authentication{% endblock %}

{% block content %}
	<p>We received a request to remove two-factor authentication from your account. In 72 hours, click the link below.</p>
	<p>If you didn't make this request, change your password and use the Log Out Everywhere feature in your <a href="/settings/security">Security Settings</a> to permanently invalidate the link.</p>
	<div class="button-container">
		<a href="{{action_url}}" class="button" target="_blank">Remove 2FA</a>
	</div>

	<p class="user-info">Please note that {{SITE_TITLE}} will never ask you for your email, password, or two-factor token via email, text, or phone.</p>
	<hr />
	<p class="raw-link">If the button doesn't work, you can copy and paste this link into your browser: <br>{{action_url}}</p>
{% endblock %}
