{% extends "email/default.html" %}

{% block title %}Reset your {{SITE_TITLE}} password.{% endblock %}

{% block content %}
	<p>To reset your password, click the button below:</p>
	<div class="button-container">
		<a href="{{action_url}}" class="button" target="_blank" rel="noopener">Reset password</a>
	</div>
	<p class="reference-text">For reference, here's your login information:</p>
	<div class="user-info">
		<p><strong>Username:</strong> {{v.username}}</p>
		<p><strong>Email:</strong> {{v.email}}</p>
	</div>
	<p class="user-info">Please note that {{SITE_TITLE}} will never ask you for your email, password, or two-factor token via email, text, or phone.</p>
	<hr />
	<p class="raw-link">If the button doesn't work, you can copy and paste this link into your browser: <br>{{action_url}}</p>
{% endblock %}
