{% extends "email/default.html" %}

{% block title %}Reset Your Password{% endblock %}
{% block preheader %}Reset your {{SITE_NAME}} password.{% endblock %}

{% block content %}
												<p>To reset your password, click the button below:</p>
																								<div class="overflow-x-auto"><table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
													<tr>
														<td align="center">
															<div class="overflow-x-auto><table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
																<tr>
																	<td align="center">
																		<a href="{{action_url}}" class="f-fallback button" target="_blank">Reset password</a>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
												<p>For reference, here's your login information:</p>
												<div class="overflow-x-auto"><table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
													<tr>
														<td class="attributes_content">
															<div class="overflow-x-auto><table width="100%" cellpadding="0" cellspacing="0" role="presentation">
																<tr>
																	<td class="attributes_item">
																		<span class="f-fallback">
							<strong>Email:</strong> {{v.email}}
						</span>
																	</td>
																</tr>
																<tr>
																	<td class="attributes_item">
																		<span class="f-fallback">
							<strong>Username:</strong> {{v.username}}
						</span>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
												<div class="overflow-x-auto"><table class="body-sub" role="presentation">
													<tr>
														<td>
															<p class="f-fallback sub">If you’re having trouble with the button above, copy and paste the URL below into your web browser.</p>
															<p class="f-fallback sub">{{action_url}}</p>
														</td>
													</tr>
												</table>
{% endblock %}
