{% extends "default.html" %}

{% block title %}
<title>405 Method Not Allowed</title>
{% endblock %}

{% block pagetype %}error-405{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
			<i class="fad fa-ban text-muted mb-5" style="font-size: 5rem;"></i>
			<h1 class="h5">405 Method Not Allowed</h1>
			<p class="text-muted mb-5">idk how anyone gets this error but if you see this, remember to follow @carpathianflorist<BR>the original error text here talked about internet gremlins and wtf</p>
			<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}
