{% extends "errors/default.html" %}

{% block title %}
<title>409 Conflict</title>
{% endblock %}

{% block pagetype %}error-409{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
			<i class="fad fa-swords text-muted mb-5" style="font-size: 5rem;"></i>
			<h1 class="h5">409 Conflict</h1>
			<p class="text-muted mb-5">There were no survivors.</p>
			<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}