{% extends "errors/default.html" %}

{% block title %}
<title>422 Unprocessable Entity</title>
{% endblock %}

{% block pagetype %}error-422{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
			<i class="fad fa-laptop-code text-muted mb-5" style="font-size: 5rem;"></i>
			<h1 class="h5">422 Unprocessable Entity</h1>
			<p class="text-muted mb-5">STOP BREAKING THINGS PLEASE WHY DO WE HAVE SO MANY ERROR CODES</p>
			<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}
