{% extends "errors/default.html" %}

{% block title %}
<title>451 Unavailable For Legal Reasons</title>
{% endblock %}

{% block pagetype %}error-451{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
			<i class="fad fa-balance-scale text-muted mb-5" style="font-size: 5rem;"></i>
			<h1 class="h5">451 Unavailable For Legal Reasons</h1>

			<p class="text-muted mb-5"><img src=https://i.imgur.com/ykKSTmq.jpg width=500><BR><BR>fool.</p>
		</div>
	</div>
</div>
{% endblock %}