{%- macro _rounded_section_top(label, name, id) -%}
<div class="body d-lg-flex border-bottom">
	<label class="text-black w-lg-25 label-{{id}}" for="{{name}}">{{label}}</label>
</div>
<div class="w-lg-100">
{%- endmacro -%}

{%- macro _rounded_section_bottom() -%}
</div>
{%- endmacro -%}

{%- macro text_field(label, name, id, min_length=none, max_length=none, required=false) -%}
	<label for="{{id}}">{{label}}</label>
	<input id="{{id}}" class="form-control" name="{{name}}"{% if required %} required {% endif %}{% if min_length %} minlength="{{min_length}}" {% endif %}{% if max_length %} maxlength="{{max_length}}" {% endif %}>
	<br>
{%- endmacro -%}

{%- macro textarea_field(label, name, id, min_length=none, max_length=none, required=false) -%}
	<label for="{{id}}">{{label}}</label>
	<textarea id="{{id}}" class="form-control" name="{{name}}"{% if required %} required {% endif %}{% if min_length %} minlength="{{min_length}}" {% endif %}{% if max_length %} maxlength="{{max_length}}" {% endif %} rows="5" columns="80"></textarea>
{%- endmacro -%}

{%- macro formkey(v) -%}
{% if v %}
<input type="hidden" name="formkey", value="{{v.formkey}}">
{% endif %}
{%- endmacro -%}

{%- macro checkbox(name, id, label, checked) -%}
	<input type="checkbox" class="form-check-input" name="{{name}}" id="{{id}}"{% if checked %} checked{% endif %}>
	<label for="{{name}}" class="form-check-label">{{label}}</label>
{%- endmacro -%}