{% extends "default.html" %}

{% block title %}
<title>{{'SITE_NAME' | app_config}}</title>

{% endblock %}

{% block content %}
<pre></pre>
<pre></pre>
<h3>&nbsp;Admin Tools</h3>

<h4>Content</h4>
<ul>
	<li><a href="/admin/image_posts">Image Posts</a></li>
	<li><a href="/admin/reported/posts">Reported Posts</a></li>
	<li><a href="/admin/reported/comments">Reported Comments</a></li>
	<li><a href="/admin/removed/posts">Removed Posts</a></li>
	<li><a href="/admin/removed/comments">Removed Comments</a></li>
</ul>

<h4>Users</h4>
<ul>
	<li><a href="/admin/users">Users Feed</a></li>
	<li><a href="/admin/shadowbanned">Shadowbanned Users</a></li>
	<li><a href="/banned">Permabanned Users</a></li>
	<li><a href="/agendaposters">Users with Agendaposter Theme</a></li>
	<li><a href="/grassed">Currently Grassed Users</a></li>
</ul>

<h4>Safety</h4>
<ul>
	<li><a href="/admin/banned_domains">Banned Domains</a></li>
	<li><a href="/admin/alt_votes">Multi Vote Analysis</a></li>
</ul>

<h4>Grant</h4>
<ul>
	<li><a href="/admin/awards">Give User Award</a></li>
	<li><a href="/admin/badge_grant">Badges</a></li>
</ul>

<h4>API Access Control</h4>
<ul>
	<li><a href="/admin/apps">Apps</a></li>
</ul>

<h4>Statistics</h4>
<ul>
	<li><a href="/stats">Content Stats</a></li>
	<li><a href="/chart">Stat Chart</a></li>
</ul>

<h4>Configuration</h4>
<ul>
	<li><a href="/admin/sidebar">Edit Sidebar</a></li>
</ul>

{% if v.admin_level > 2 %}
	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="disable_signups" name="disable_signups" {% if x == "yes" %}checked{% endif %} onchange="post_toast('/admin/disable_signups');">
		<label class="custom-control-label" for="disable_signups">Disable signups</label>
	</div>
{% endif %}

<div class="custom-control custom-switch">
	<input autocomplete="off" type="checkbox" class="custom-control-input" id="under_attack" name="under_attack" {% if x2 == "yes" %}checked{% endif %} onchange="post_toast('/admin/under_attack');">
	<label class="custom-control-label" for="under_attack">Under attack mode</label>
</div>

{% endblock %}