{% extends "default.html" %}

{% block title %}
<title>{{SITE_NAME}}</title>

{% endblock %}

{% block content %}
<pre></pre>
<pre></pre>
<h3>&nbsp;Admin Tools</h3>

<h4>Content</h4>
<ul>
	<li><a href="/admin/image_posts">Image Posts</a></li>
	<li><a href="/admin/reported/posts">Reported Posts/Comments</a></li>
	<li><a href="/admin/removed/posts">Removed Posts/Comments</a></li>
</ul>

<h4>Users</h4>
<ul>
	<li><a href="/admin/users">Users Feed</a></li>
	<li><a href="/admin/shadowbanned">Shadowbanned Users</a></li>
	<li><a href="/banned">Permabanned Users</a></li>
	<li><a href="/agendaposters">Users with Chud Theme</a></li>
	<li><a href="/grassed">Currently Grassed Users</a></li>
</ul>

<h4>Safety</h4>
<ul>
	<li><a href="/admin/banned_domains">Banned Domains</a></li>
	<li><a href="/admin/alt_votes">Multi Vote Analysis</a></li>
</ul>

<h4>Grant</h4>
<ul>
	<li><a href="/admin/awards">Give User Award</a></li>
	<li><a href="/admin/badge_grant">Grant Badges</a></li>
	<li><a href="/admin/badge_remove">Remove Badges</a></li>
</ul>

<h4>API Access Control</h4>
<ul>
	<li><a href="/admin/apps">Apps</a></li>
</ul>

<h4>Statistics</h4>
<ul>
	<li><a href="/stats">Content Stats</a></li>
	<li><a href="/weekly_chart">Weekly Stat Chart</a></li>
	<li><a href="/daily_chart">Daily Stat Chart</a></li>
</ul>

{% if SITE_NAME == 'PCM' %}
	<h4>Configuration</h4>
	<ul>
		<li><a href="/admin/sidebar">Edit Sidebar</a></li>
	</ul>
{% endif %}

{% if v.admin_level > 2 %}
	<pre></pre>
	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="signups" {% if site_settings['Signups'] %}checked{% endif %} onchange="post_toast(this,'/admin/site_settings/Signups');">
		<label class="custom-control-label" for="signups">Signups</label>
	</div>

	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="bots" {% if site_settings['Bots']  %}checked{% endif %} onchange="post_toast(this,'/admin/site_settings/Bots');">
		<label class="custom-control-label" for="bots">Bots</label>
	</div>

	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="Fart mode" {% if site_settings['Fart mode']  %}checked{% endif %} onchange="post_toast(this,'/admin/site_settings/Fart mode');">
		<label class="custom-control-label" for="Fart mode">Fart mode</label>
	</div>

	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="Read-only mode" {% if site_settings['Read-only mode']  %}checked{% endif %} onchange="post_toast(this,'/admin/site_settings/Read-only mode');">
		<label class="custom-control-label" for="Read-only mode">Read-only mode</label>
	</div>

	<div class="custom-control custom-switch">
		<input autocomplete="off" type="checkbox" class="custom-control-input" id="under_attack" name="under_attack" {% if under_attack%}checked{% endif %} onchange="post_toast(this,'/admin/under_attack');">
		<label class="custom-control-label" for="under_attack">Under attack mode</label>
	</div>

	<button class="btn btn-primary mt-3" onclick="post_toast(this,'/admin/purge_cache');" style="margin-bottom: 2em;">PURGE CACHE</button>
{% endif %}

<h4>Server Status</h4>
<div>
	Live Revision: <code>{{ gitref }}</code> <br>
</div>

{% endblock %}