{% extends "default.html" %}

{% block title %}
<title>API App Administration</title>
<meta name="description" content="{{"SITE_NAME" | app_config}} Help">
{% endblock %}

{% block content %}

<div class="row">
	<div class="col col-lg-8">
		<div class="settings">
{% for app in apps %}
<div class="settings-section rounded">
	<div class="d-lg-flex">
			<div class="title w-lg-25">
						<label for="over18"><a href="{{app.permalink}}" target="_blank">{{app.app_name}}</a></label>
				</div>
				<div class="body w-lg-100">
			<label for="edit-{{app.id}}-author" class="mb-0 w-lg-25">User</label>
			<input id="edit-{{app.id}}-author" class="form-control" type="text" name="name" value="{{app.author.username}}" readonly=readonly>

			<label for="edit-{{app.id}}-name" class="mb-0 w-lg-25">App Name</label>
			<input id="edit-{{app.id}}-name" class="form-control" type="text" name="name" value="{{app.app_name}}" readonly=readonly>

			{% if app.client_id %}
			<label for="edit-{{app.id}}-client-id" class="mb-0 w-lg-25">Client ID</label>
			<input id="edit-{{app.id}}-client-id" class="form-control" type="text" name="name" value="{{app.client_id}}" readonly="readonly">
			{% endif %}


			<label for="edit-{{app.id}}-redirect" class="mb-0 w-lg-25">Redirect URI</label>
			<input id="edit-{{app.id}}-redirect" class="form-control" type="text" name="redirect_uri" value="{{app.redirect_uri}}" readonly="readonly">
			<label for="edit-{{app.id}}-desc" class="mb-0 w-lg-25">Description</label>
			<textarea form="edit-app-{{app.id}}" class="form-control" name="description" id="edit-{{app.id}}-desc" maxlength="256" readonly="readonly">{{app.description}}</textarea>
		</div>
	</div>
	<div class="footer">
		<div class="d-flex">
			{% if not app.client_id %}

			<a href="javascript:void(0)" class="btn btn-primary ml-auto" onclick="post_toast('/admin/app/approve/{{app.id}}')">Approve</a>
			<a href="javascript:void(0)" class="btn btn-secondary mr-0" onclick="post_toast('/admin/app/reject/{{app.id}}')">Reject</a> 

			{% else %}

			<a href="javascript:void(0)" class="btn btn-primary ml-auto" onclick="post_toast('/admin/app/revoke/{{app.id}}')">Revoke</a>

			{% endif %}
		</div>
	</div>
</div>
{% endfor %}

</div>
</div>
</div>

<!----posttoast--->
<div class="toast" id="toast-post-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
	<div class="toast-body bg-success text-center text-white">
		<i class="fas fa-comment-alt-smile mr-2"></i><span id="toast-post-success-text"></span>
	</div>
</div>
<div class="toast" id="toast-post-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
	<div class="toast-body bg-danger text-center text-white">
		<i class="fas fa-exclamation-circle mr-2"></i><span id="toast-post-error-text"></span>
	</div>
</div>



{% endblock %}