{% extends "default.html" %}

{% block title %}
	<title>Banned Domains</title>
{% endblock %}

{% block content %}

<pre>

</pre>

<div class="overflow-x-auto"><table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th>Domain</th>
			<th>Ban reason</th>
		</tr>
	</thead>

	{% for domain in banned_domains %}
		<tr>
			<td>{{domain.domain}}</td>
			<td>{{domain.reason}}</td>
		</tr>
	{% endfor %}
</table>


<form action="/admin/banned_domains" method="post">
	<input type="hidden" name="formkey" value="{{v.formkey}}">
	<input autocomplete="off" name="domain" placeholder="Enter domain here.." class="form-control" required>
	<input autocomplete="off" name="reason" placeholder="Enter ban reason here.." oninput="document.getElementById('ban-submit').disabled=false" class="form-control">
	<input autocomplete="off" id="ban-submit" type="submit" class="btn btn-primary" value="Toggle ban" disabled>
</form>

{% endblock %}