{% extends "default.html" %}

{% block title %}
<title>Purge Image</title>
<meta name="description" content="Purge Image">
{% endblock %}

{% block content %}
<h1>Imgur and Cloudflare Image Purge</h1>
<p>Paste an image link here to remove it from imgur and from cloudflare cache. You need to enter the full url of the image like this "https://i.imgur.com/63OclpM_d.png?maxwidth=9999"</p>

<form action="/admin/image_purge" method="post" class="mb-6">
	<label for="link-input">Image Link</label>
	<input id="link-input" type="text" class="form-control mb-2" name="url">
	<input type="submit" value="Delete Image" class="btn btn-primary">
</form>


{% endblock %}