{%- extends 'login/authforms.html' -%}
{% block authtitle %}Whoops! You can't refer yourself!{% endblock %}
{% block authtext %}Send this link to a friend instead :){% endblock %}
{% block content %}
<div id="register-form" class="">
	<label>Referral code</label>
	<input autocomplete="off" type="text" class="form-control copy-link" readonly value="{{SITE_FULL}}/signup?ref={{request.values.get('ref')}}" data-clipboard-text="{{SITE_FULL}}/signup?ref={{request.values.get('ref')}}">

	<div class="text-center mt-5 mb-3">
		Already have an account? <a href="/login" class="font-weight-bold text-small toggle-login">Log in.</a>
	</div>
</div>
{% endblock %}
