{%- extends 'login/authforms.html' -%}

{% set login_namespace = namespace() %}
{% if ref_user %}
	{% set login_namespace.authtitle = '@' ~ ref_user.username ~ ' has invited you!' %}
	{% set login_namespace.authtext = 'Looks like someone wants you to join ' ~ SITE_NAME ~ '.' %}
{% else %}
	{% set login_namespace.authtitle = "Create your account." %}
	{% set login_namespace.authtext = "No email address required." %}
{% endif %}
{% block authtitle %}{{login_namespace.authtitle}}{% endblock %}
{% block authtext %}{{login_namespace.authtext}}{% endblock %}

{%- block content -%}
	<div id="register-form" class="">
		<form action="/signup" method="post" class="mt-md-3" id="signup">
			{% if error %}<span class="text-danger">{{error}}</span><br>{% endif %}

			<input type="hidden" name="formkey" value="{{formkey}}">
			<input type="hidden" name="now" value="{{now}}">

			{% if redirect %}<input type="hidden" name="redirect" value="{{redirect}}">{% endif %}
			{% if ref_user %}<input type="hidden" name="referred_by" value="{{ref_user.id}}">{% endif %}
			<label for="username-register" class="mt-3">Username</label>
			<input autocomplete="off" class="form-control" id="username-register" aria-describedby="usernameHelpRegister" type="text" name="username" pattern="[a-zA-Z0-9_\-]{3,25}" min="3" max="25" required autofocus tabindex="1">
			<small id="usernameHelpRegister"></small>

			<label for="email-register" class="mt-3">Email Address</label> <small class="d-inline-block text-muted ml-1">(optional)</small>
			<input style="background-color: var(--gray-800)" autocomplete="off" class="form-control" id="email-register" aria-describedby="emailHelpRegister" type="email" pattern='[^@]+@[^@]+\.[^@]+' name="email" tabindex="2">

			<label for="password-register" class="mt-3">Password</label>
			<input autocomplete="off" class="form-control" id="password-register" aria-describedby="passwordHelpReigster" type="password" name="password" required tabindex="4">
			<small id="passwordHelpRegister" class="form-text font-weight-bold text-muted d-none mt-1">Minimum of 8 characters required.</small>
			<small id="passwordHelpSuccess" class="form-text font-weight-bold text-success d-none mt-1">Your password meets the requirements.</small>

			<label for="password_confirm" class="mt-3">Confirm Password</label>
			<input autocomplete="off" class="form-control" id="password_confirm" aria-describedby="passwordConfirmHelp" type="password" name="password_confirm" required tabindex="5">
			
			<div class="custom-control custom-checkbox mt-4">
				<input autocomplete="off" type="checkbox" class="custom-control-input" id="termsCheck" required tabindex="6">
				<label class="custom-control-label terms" for="termsCheck">I accept the <a href="/rules" tabindex="8">rules</a></label>
			</div>

			{% if hcaptcha %}
				<div class="h-captcha" data-sitekey="{{hcaptcha}}"></div>
			{% endif %}

			<button class="btn btn-primary login w-100 mt-3" id="register_button" tabindex="7">Register</button>

			<div class="text-center text-muted text-small mt-2 mb-0">
				Already have an account? <a href="/login{{'?redirect='+redirect if redirect else ''}}" class="font-weight-bold toggle-login" tabindex="9">Log in</a>
			</div>
		</form>
	</div>
{%- endblock -%}
{%- block scripts -%}
<script src="{{ 'js/signup.js' | asset }}"></script>
{% if hcaptcha %}
	<script src="{{ 'js/hcaptcha.js' | asset }}"></script>
{% endif %}
{%- endblock -%}
