{% if v and v.id==c.author_id %}
	<div id="comment-edit-{{c.id}}" class="d-none comment-write collapsed child">
		<form id="comment-edit-form-{{c.id}}" action="/edit_comment/{{c.id}}" method="post" enctype="multipart/form-data"> 
			<input type="hidden" name="formkey" value="{{v.formkey}}">
			<textarea autocomplete="off" maxlength="{{COMMENT_BODY_LENGTH_MAXIMUM}}" oninput="markdown(this);charLimit(this)" id="comment-edit-body-{{c.id}}" data-id-for-file-input="comment-{{c.id}}" name="body" form="comment-edit-form-{{c.id}}" class="comment-box form-control rounded" aria-label="With textarea" placeholder="Add your comment..." rows="3">{{c.body}}</textarea> 
			<div class="charcount text-small font-weight-bold mt-1" style="right: 1rem; bottom: 0.5rem; z-index: 3;"></div>
			
			{% from 'component/comment/_editor_buttons.html' import editor_buttons %}
			{{ editor_buttons('comment-' ~ c.id, 'comment-edit-body-' ~ c.id) }}

			<a id="edit-btn-{{c.id}}" role="button" form="comment-edit-form-{{c.id}}" class="btn btn-primary ml-2 fl-r commentmob" onclick="comment_edit('{{c.id}}')">Save Edit</a> 
			<a id="cancel-edit-{{c.id}}" role="button" onclick="toggleEdit('{{c.id}}')" class="btn btn-link text-muted ml-auto cancel-form fl-r commentmob">Cancel</a> 
		</form>
		<div class="preview mb-3 mt-5"></div>
		<div class="form-text text-small p-0 m-0"><a href="/formatting" {% if v and v.newtab and not g.webview %}target="_blank"{% endif %}>Formatting help</a></div>
	</div>
{% endif %}
