<a class="btn btn-primary mt-2" role="button" onclick="openReplyBox('reply-message-{{c.id}}')">Reply</a>
<div id="reply-message-{{c.id}}" class="d-none">
    <div id="comment-form-space-{{c.id}}" class="comment-write collapsed child">		
	    <form id="reply-to-message-{{c.id}}" action="/reply" method="post" class="input-group" enctype="multipart/form-data">
			<input type="hidden" name="formkey" value="{{v.formkey}}"> 
			<textarea required autocomplete="off" minlength="1" maxlength="{{MESSAGE_BODY_LENGTH_MAXIMUM}}" name="body" form="reply-to-t3_{{c.id}}" data-id="{{c.id}}" class="comment-box form-control rounded" id="reply-form-body-{{c.id}}" aria-label="With textarea" rows="3" oninput="markdown('reply-form-body-{{c.id}}', 'message-reply-{{c.id}}')"></textarea> 
			<div class="comment-format" id="comment-format-bar-{{c.id}}">
			    {% if c.sentto == MODMAIL_ID %}
				    <label class="btn btn-secondary m-0 mt-3" for="file-upload">
				        <div id="filename"><i class="far fa-image"></i></div>
					    <input autocomplete="off" id="file-upload" type="file" name="file" accept="image/*" {% if request.headers.get('cf-ipcountry')=="T1" %}disabled{% endif %} onchange="changename('filename','file-upload')" hidden>
				    </label>
			    {% endif %}
			</div>
			<a role="button" onclick="document.getElementById('reply-message-{{c.id}}').classList.add('d-none')" class="btn btn-link text-muted ml-auto cancel-form">Cancel</a> 
			<a id="save-reply-to-{{c.id}}" class="btn btn-primary ml-2" onclick="post_reply('{{c.id}}') "role="button">Reply</a> 
		</form>
		<div id="message-reply-{{c.id}}" class="preview mt-2"></div>
	</div>
</div>
