{% extends "default.html" %}
{% block content %}
<script src="/static/assets/js/sort_table.js?v=240"></script>

<pre>

	
</pre>
<h5>List of subs</h5>
<pre></pre>
<div class="overflow-x-auto">
<table id="sortable_table" class="table table-striped mb-5">
	<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th role="button" onclick="sort_table(2)">Posts</th>
		<th role="button" onclick="sort_table(3)">Subscribers</th>
		<th role="button" onclick="sort_table(4)">Blockers</th>

	</tr>
</thead>
{% for sub, count in subs %}
	<tr>
		<td>{{loop.index}}</td>
		<td><a href="/s/{{sub.name}}" {% if v and v.newtab and not g.webview %}target="_blank"{% endif %}>{{sub.name}}</a></td>
		<td>{{count}}</td>
		<td><a href="/s/{{sub.name}}/subscribers" {% if v and v.newtab and not g.webview %}target="_blank"{% endif %}>{{sub.subscription_num}}</a></td>
		<td><a href="/s/{{sub.name}}/blockers" {% if v and v.newtab and not g.webview %}target="_blank"{% endif %}>{{sub.block_num}}</a></td>
	</tr>
{% endfor %}
</table>

{% endblock %}