{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<h5>Users subscribed to /h/{{sub.name}}</h5>
<pre></pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td>{{loop.index}}</td>
		<td><a style="color:#{{user.namecolor}}" href="/@{{user.username}}"><img loading="lazy" src="{{user.profile_url}}" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}}"{% endif %}>{{user.username}}</span></a></td>
	</tr>
{% endfor %}
</table>

{% endblock %}