{% extends "default.html" %}
{% block content %}
<script src="/assets/js/sort_table.js?v=242"></script>

<pre>

	
</pre>
<h5>List of holes</h5>
<pre></pre>
<div class="overflow-x-auto">
<table id="sortable_table" class="table table-striped mb-5">
	<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th role="button" onclick="sort_table(2)">Posts</th>
		{% if SITE_NAME == 'rDrama' %}<th role="button" onclick="sort_table(3)">Subscribers</th>{% endif %}
		<th role="button" onclick="sort_table(4)">Blockers</th>

	</tr>
</thead>
{% for sub, count in subs %}
	<tr>
		<td>{{loop.index}}</td>
		<td><a href="/h/{{sub.name}}">{{sub.name}}</a></td>
		<td><a href="/h/{{sub.name}}">{{count}}</a></td>
		{% if SITE_NAME == 'rDrama' %}<td><a href="/h/{{sub.name}}/subscribers">{{sub.subscription_num}}</a></td>{% endif %}
		<td><a href="/h/{{sub.name}}/blockers">{{sub.block_num}}</a></td>
	</tr>
{% endfor %}
</table>

{% endblock %}