@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

.test {
  @apply text-red-700 font-bold text-3xl;
}

.form-input {
	@apply block w-full rounded shadow-inner p-2 bg-white border border-gray-300 hover:border-gray-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 
}

label {
	@apply block font-bold text-gray-700 text-sm leading-normal mb-1;
}

.btn .btn-red {
	@apply block px-4 py-2 bg-gradient-to-t from-red-700 to-red-600 hover:from-red-600 hover:to-red-700 active:shadow-inner border border-red-900 rounded-md text-shadow-t shadow-inset-t-white-10 text-sm font-bold text-gray-100 focus:text-gray-200 focus:outline-none disabled:opacity-50;
}