@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------- VARIABLES --------------------- */
:root {
	--color-primary: 220, 38, 38;
}

/* ------------------------- FONTS ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

/* ---------------- RESPONSIVE UTILITIES ----------------- */
@responsive {
	.text-shadow {
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12)
	}
	.text-shadow-t {
	    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12)
	}
	.text-shadow-light {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1)
	}
	.text-shadow-light-t {
	    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1)
	}
}

/* -------------------- BASE STYLING -------------------- */
@layer base {
	/* Headings */
	h1, .h1 {
		@apply text-5xl font-bold leading-10 mb-2;
	}
	h2, .h2 {
		@apply text-4xl font-bold leading-8 mb-2;
	}
	h3, .h3 {
		@apply text-3xl font-bold leading-7 mb-2;
	}
	h4, .h4 {
		@apply text-2xl font-bold leading-6 mb-2;
	}
	h5, .h5 {
		@apply text-lg font-bold leading-5 mb-2;
	}
	h6, .h6 {
		@apply text-base font-bold leading-4 mb-2;
	}
	/* Typography */
	p {
		@apply mb-3 last:mb-0;
	}
	a {
		@apply text-primary break-all
	}
	hr {
		@apply my-3
	}
	ul {
		@apply mb-3
	}
	strong {
		@apply font-bold
	}
	code {
		@apply text-pink-600 dark:text-pink-300 font-mono;
	}
	pre {
		white-space: pre-wrap;       /* Since CSS 2.1 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
	/* Images */
	img[lazy=loading] {
		@apply animate-pulse;
	}
	/*Inputs*/
	input[type], select, textarea, input::-webkit-datetime-edit {
		@apply text-lg sm:text-base leading-5;
	}
	[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
		@apply text-lg sm:text-base leading-5 appearance-none;
	}
	.label {
		@apply block font-bold text-gray-700 text-sm leading-normal mb-1
	}
}

/* ----------------------- INPUTS ----------------------- */
.form-input {
	@apply block w-full rounded shadow-inner p-2 bg-white border border-gray-300 hover:border-gray-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 
}

/* ---------------------- BUTTONS ----------------------- */
.btn {
	@apply block px-4 py-2 active:shadow-inner border rounded-md text-shadow-t shadow-inset-t-white-10 text-sm font-bold focus:outline-none disabled:opacity-50;
}
.btn-red {
	@apply bg-gradient-to-t from-red-700 to-red-600 hover:from-red-600 hover:to-red-700 border-red-900 text-gray-100 focus:text-gray-200;
}