@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

.test {
  @apply text-red-700 font-bold text-3xl;
}

.form-input {
	@apply block w-full rounded shadow-inner p-2 bg-white border border-gray-300 hover:border-gray-400 focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50 
}

label {
	@apply block font-bold text-gray-700 text-sm leading-normal mb-1;
}