html {
  cursor:url('https://i.ibb.co/4VZB08S/Image.png'), auto;
}

/*body {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}*/

.nav-item .text-small.font-weight-bold::before {
    content: "((("
}
.nav-item .text-small.font-weight-bold::after {
    content: ")))"
}
.nav-item .text-small-extra.text-purple {
    font-size: 0 !important
}
.nav-item .text-small-extra.text-purple i {
    font-size: 11px !important
}

/*h1, h2, h3, h4, h5, h6, p, span, label {
 background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: transparent;
}

a {
 background-image: linear-gradient(to left, #00f2fb, #ff7f7f, white, white, #ff7f7f, #00f2fb);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 color: transparent;
}*/