// Colors

$primary: #ff66ac;
$dark: #8b949e;
$secondary: #8b949e;
$danger: #da3633;
$white: #c9d1d9;
$black: #c9d1d9;
$light: #b1bac4;
$success: #3fb950;
$muted: #c9d1d9;
$info: #168EEA;

$purple: #ff66ac;
$red: #da3633;
$gray: #8b949e;
$green: #3fb950;

$gray-100: #c9d1d9;
$gray-200: #b1bac4;
$gray-300: #8b949e;
$gray-400: #6e7681;
$gray-500: #484f58;
$gray-600: #21262d;
$gray-700: #21262d;
$gray-800: #161b22;
$gray-900: #0d1117;

$bg-dark: #21262d;

$upvote: #ff66ac;
$downvote: #38B2AC;
$admin: #ff66ac;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";

body {
	background-color: $bg-dark !important;
}

.navbar-light, .navbar-dark {
	background-color: $gray-800 !important;
}

.form-control {
	border-color: $gray-700 !important;
}

#frontpage .posts .card, #userpage .posts .card, #search .posts .card, #guild .posts .card, #settings-guild .posts .card {
	border-color: $gray-600 !important;
}

// * {
// 	border-color: $primary;
// }

// .border {
// 	border-color: $primary !important;
// }

// .form-control {
// 	background: transparent;
// 	border-color: $primary !important;
// }

// .btn {
// 	background: transparent;
// 	border-color: $primary !important;
// }

// .form-control:disabled, .form-control[readonly] {
// 	background: transparent;
// 	border-color: $primary !important;
// }

// .btn-success {
// 	border-color: #38A169 !important;
// }

// .btn-danger {
// 	border-color: #E53E3E !important;
// }

// #frontpage .pseudo-submit-form.card .card-body .form-control, #guild .pseudo-submit-form.card .card-body .form-control {
// 	border-color: transparent !important;
// }

// .btn-lg {
// 	border-color: transparent !important;
// }

// pre {
//     color: #CFCFCF;
// }