// Colors

$primary: #000000;
$dark: #2B353D;
$secondary: #000000;
$danger: #E53E3E;
$white: #c0c0c0;
$black: #000000;
$light: #000000;
$success: #38A169;
$muted: #404040;
$info: #168EEA;

$purple: #47a3ff;
$red: #E53E3E;
$gray: #2B353D;
$green: #38A169;

$gray-100: #394552;
$gray-200: #c0c0c0;
$gray-300: #c0c0c0;
$gray-400: #242C33;
$gray-500: #c0c0c0;
$gray-600: #c0c0c0;
$gray-700: #c0c0c0;
$gray-800: #07090A;
$gray-900: #000000;

$upvote: #47a3ff;
$downvote: #38B2AC;
$admin: #47a3ff;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";


* {
	background-color: $gray-500 !important;
}

.pseudo-submit-form .card-header, .card-blank .card-header, .navbar-light, .nav, .flex-row.bg-gray-200.sticky.justify-content-center.d-flex.d-sm-none.mt-3.mb-3.mb-sm-5.rounded {
	background: #000091!important;
}