<!-- Train award -->
{% if p.award_count("train") %}
{% include "CHRISTMAS/awards/Christmas/Sleighs.html" %}
{% endif %}

<!-- Poop award -->
{% if p.award_count("shit") %}
<script defer src="/assets/CHRISTMAS/js/bugs.js?a=1"></script>
{% set minbugs = 10*p.award_count("shit") if p.award_count("shit") < 3 else 20 %}
{% set maxbugs = 20*p.award_count("shit") if p.award_count("shit") < 3 else 40 %}
<script>
	new BugController({
		imageSprite: "/assets/CHRISTMAS/images/fly-sprite.gif",
		canDie: false,
		minBugs: {{minbugs}},
		maxBugs: {{maxbugs}},
		mouseOver: "multiply"
	});
</script>
{% endif %}

<!-- Fireflies award -->
{% if p.award_count("fireflies") %}
<script defer src="/assets/CHRISTMAS/js/fireflies.js?a=1"></script>
{% set minbugs = 10*p.award_count("fireflies") if p.award_count("fireflies") < 3 else 20 %}
{% set maxbugs = 20*p.award_count("fireflies") if p.award_count("fireflies") < 3 else 40 %}
<script>
	new BugController({
		imageSprite: "/assets/CHRISTMAS/images/fireflies.gif",
		canDie: false,
		minBugs: {{minbugs}},
		maxBugs: {{maxbugs}},
		mouseOver: "multiply"
	});
</script>
{% endif %}

