<!-- Badmin Ban user Modal -->
<div class="modal fade" id="guildmasterBanModal" tabindex="-1" role="dialog" aria-labelledby="guildmasterBanModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	 <form action="/mod/exile/{{b.base36id}}" method="post">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Ban user from +{{b.name}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="far fa-times"></i></span>
				</button>
			</div>
			<div class="modal-body">
				<p>Users exiled from a guild will receive a notification shortly after you exile them.</p>
			 <input type="hidden" name="formkey" value="{{v.formkey}}">
			 <input type="text" name="username" placeholder="enter username" class="form-control" oninput="check_exile('{{b.base36id}}')" required>
			 <span class="form-text text-danger" id="exile-error"></span>
		 </div>
		 <div class="modal-footer">
			<button type="button" class="btn btn-link text-muted" data-dismiss="modal">Cancel</button>
			<button type="submit" class="btn btn-primary" id="exileUserButton" disabled>Ban user</button>
		</div>
	</div>
</form>
</div>
</div>