<div class="modal fade show" id="gmInvitationModal" tabindex="-1" role="dialog" aria-labelledby="gmInvitationModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body text-center">
				<div class="py-4">
					<i class="fad fa-crown text-warning" style="font-size: 3.5rem;"></i>
				</div>
				<p>You've been invited to be an admin.</p>
				<a class="btn btn-primary btn-block" href="javascript:void(0)" onclick="post('/mod/accept/{{b.base36id}}', callback=function(){window.location.reload(true)})">Accept Invitation</a>
				<button type="button" class="btn btn-link text-muted mt-2" data-dismiss="modal">Ignore</button>
			</div>
		</div>
	</div>
</div>