{% extends "default.html" %}



{% block content %}
<h1 class="article-title">User titles</h1>

<p>Drama titles are text-based, cosmetic achievements that can be displayed next to your username across the Drama platform. Titles may be earned through various activities on Drama: earning rep, inviting friends, helping staff, and more.</p>

<div class="mb-5">

	<h3 class="h5">Article guide:</h3>

	<ul>
		<li><a href="#UnlockableTitles">Unlockable titles</a></li>
		<li><a href="#SupporterTitles">Supporter titles</a></li>
		<li><a href="#GrantedTitles">Granted titles</a></li>
		<li><a href="#UnobtainableTitles">Unobtainable titles</a></li>
	</ul>

</div>

<h2 class="h3" id="UnlockableTitles">Unlockable titles</h2>

<p>These titles automatically unlock through different kinds of activity on Drama.</p>

<table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		{% for t in titles if t.kind==1 %}
		<tr>
			<td>{% if v %}<a href="{{v.permalink}}" class="user-name">{{v.username}}</a>{% else %}[name]{% endif %}{{t.rendered | safe}}</td>
			<td>{{t.requirement_string}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2 class="h3" id="SupporterTitles">Supporter titles</h2>

<p>These titles can be obtained by financially supporting Drama.</p>

<table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		{% for t in titles if t.kind==2 %}
		<tr>
			<td>{% if v %}<a href="{{v.permalink}}" class="user-name">{{v.username}}</a>{% else %}[name]{% endif %}{{t.rendered | safe}}</td>
			<td>{{t.requirement_string}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<h2 class="h3" id="GrantedTitles">Granted titles</h2>

<p>These titles can be granted by Drama staff.</p>

<table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		{% for t in titles if t.kind==3 %}
		<tr>
			<td>{% if v %}<a href="{{v.permalink}}" class="user-name">{{v.username}}</a>{% else %}[name]{% endif %}{{t.rendered | safe}}</td>
			<td>{{t.requirement_string}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2 class="h3" id="UnobtainableTitles">Unobtainable titles</h2>

<p>There is no way to acquire these titles if you don't already have them.</p>

<table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		{% for t in titles if t.kind==4 %}
		<tr>
			<td>{% if v %}<a href="{{v.permalink}}" class="user-name">{{v.username}}</a>{% else %}[name]{% endif %}{{t.rendered | safe}}</td>
			<td>{{t.requirement_string}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
