{% extends "settings2.html" %}

{% block pagetitle %}Admins{% endblock %}

{% block content %}
<pre class="hidden md:inline-block"></pre>
<h5 style="font-weight:bold;">Admins</h5>
<pre></pre>
<table class="table table-striped mb-5">
	<thead class="bg-primary text-white">
		<tr>
			<th class="font-bold">Name</th>
			<th class="font-bold text-right">Score</th>
		</tr>
	</thead>
	{% for user in admins %}
	<tr>
		<td>
			<a class="font-bold" style="color:#{{user.namecolor}}" href="/@{{user.username}}">
				<img loading="lazy" src="/uid/{{user.id}}/pic" class="w-12 h-12 object-cover rounded"/>
				<span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}};"{% endif %}>{{user.username}}</span>
			</a>
			{% if user.admin_level == 1 and v and v.admin_level > 1 %}
			<i class="fas fa-broom align-middle ml-2 color-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Meme Admin"></i>
			{% endif %}
		</td>
		<td class="font-bold text-right">{{user.truecoins}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}