{% extends "settings2.html" %}

{% block pagetitle %}Admins{% endblock %}

{% block content %}

<script src="{{ 'js/sort_table.js' | asset }}"></script>

<h5 class="font-weight-bold mt-3 mb-3">Admins</h5>
<div class="overflow-x-auto">
<table id="sortable_table" class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th role="button" onclick="sort_table(2)" class="text-right">Mod Actions</th>
	</tr>
</thead>
{% for user in admins %}
	<tr>
		<td>{{loop.index}}</td>
		<td><a href="/@{{user.username}}"><img loading="lazy" src="{{user.profile_url}}" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}}"{% endif %}>{{user.username}}</span></a></td>
		<td class="text-right"><a href="/log?admin={{user.username}}">{{user.modaction_num}}</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
