{% extends "default.html" %}
{% block content %}
<pre>


</pre>
<h1>User Badges</h1>
<div>This page describes the requirements for obtaining all profile badges.</div>
<pre>


</pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>Name</th>
		<th>Image</th>
		<th>Description</th>
	</tr>
</thead>
{% for k,v in badges.items() %}
	<tr>
		<td>{{v['name']}}</td>
		<td><img loading="lazy" src="/assets/images/badges/{{v['name']}}.webp?v=190" width=50 height=50>
		<td>{{v['description']}}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}