{% extends "default.html" %}
{% block content %}
<pre>


</pre>
<h1>User Badges</h1>
<div>This page describes the requirements for obtaining all profile badges.</div>
<pre>


</pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Image</th>
		<th>Description</th>
	</tr>
</thead>
{% for badge in badges %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{{badge.name}}</td>
		<td><img alt="{{badge.name}}" loading="lazy" src="/static/assets/images/badges/{{badge.id}}.webp?a=1014" width=45.83 height=50>
		<td>{{badge.description}}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}