{% extends "settings2.html" %}

{% block content %}
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Ban reason</th>
		<th>Banned by</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td>{{loop.index}}</td>
		<td><a style="color:#{{user.namecolor}}" href="/@{{user.username}}"><img loading="lazy" src="{{user.profile_url}}" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}}"{% endif %}>{{user.username}}</span></a></td>
		<td>{% if user.ban_reason %}{{user.ban_reason}}{% endif %}</td>
		<td href="/@{{user.banned_by.username}}"><img loading="lazy" src="{{user.banned_by.profile_url}}" class="pp20"><span {% if user.banned_by.patron %}class="patron" style="background-color:#{{user.banned_by.namecolor}}"{% endif %}>{{user.banned_by.username}}</span></a></td>
	</tr>
{% endfor %}
</table>

{% endblock %}
