{% extends "settings2.html" %}

{% block content %}
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">#</th>
		<th style="font-weight:bold;">Name</th>
		<th style="font-weight:bold;">Ban reason</th>
		<th style="font-weight:bold;">Banned by</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td style="font-weight:bold;">{{users.index(user)+1}}</td>
		<td><a {% if user.animatedname %}class="{% if user.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="color:#{{user.namecolor}}; font-weight:bold;" href="/@{{user.username}}"><img src="/uid/{{user.id}}/pic/profile" class="profile-pic-20 mr-1">{{user.username}}</a></td>
		<td style="font-weight:bold;">{% if user.ban_reason %}{{user.ban_reason}}{% endif %}</td>
		<td>{% if user.banned_by %}<a {% if user.banned_by.animatedname %}class="{% if user.banned_by.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="color:#{{user.banned_by.namecolor}}; font-weight:bold;" href="/@{{user.banned_by.username}}"><img src="/uid/{{user.banned_by.id}}/pic/profile" class="profile-pic-20 mr-1">{{user.banned_by.username}}</a>{% endif %}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
