{% extends "settings2.html" %}

{% block pagetitle %}Blocks{% endblock %}

{% block content %}
<h1> Blocks</h1>
<pre></pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">User</th>
		<th style="font-weight:bold;">Target</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td><a {% if user.patron %}class="patron"{% endif %} style="font-weight:bold;color:#{{user.namecolor}}; {% if user.patron %}background-color:#{{user.namecolor}};{% endif %}" href="/@{{user.username}}">{{user.username}}</a></td>
		<td><a {% if targets[loop.index-1].patron %}class="patron"{% endif %} style="font-weight:bold;color:#{{targets[loop.index-1].namecolor}}; {% if targets[loop.index-1].patron %}background-color:#{{targets[loop.index-1].namecolor}};{% endif %}" href="/@{{targets[loop.index-1].username}}">{{targets[loop.index-1].username}}</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
