{% extends "settings2.html" %}

{% block pagetitle %}Blocks{% endblock %}

{% block content %}
<h1> Blocks</h1>
<pre></pre>
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">User</th>
		<th style="font-weight:bold;">Target</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td><a {% if user.animatedname %}class="{% if user.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="font-weight:bold;color:#{{user.namecolor}};" href="/@{{user.username}}">{{user.username}}</a></td>
		<td><a {% if targets[loop.index-1].animatedname %}class="{% if targets[loop.index-1].patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="font-weight:bold;color:#{{targets[loop.index-1].namecolor}};" href="/@{{targets[loop.index-1].username}}">{{targets[loop.index-1].username}}</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
