{% extends "default.html" %}
{% block pagetype %}chat{% endblock %}

{% block fixedMobileBarJS %}
<link rel="stylesheet" href="{{'css/chat_done.css' | asset}}">
{% endblock %}

{% block Banner %}{% endblock %}
{% block mobilenavbar %}{% endblock %}

{% block defaultContainer %}
	{% include "component/modal/expanded_image.html" %}
	<div
		id="root"
		data-id="{{v.id}}"
		data-username="{{v.username}}"
		data-admin="{{v.admin_level >= PERMS['CHAT_MODERATION']}}"
		data-sitename="{{SITE_ID}}"
		data-themecolor="{{v.themecolor}}"
		data-avatar="{{v.profile_url}}">
	</div>
	<script>window.global = window</script>
	<script defer src="{{'js/chat_done.js' | asset}}"></script>
{% endblock %}
