{% extends "default.html" %}

{% block title %}
<title>Unable to post comment</title>
{% endblock %}

{% block pagetype %}message{% endblock %}

{% block content %}
<div class="">

	<p>Please remove the following link(s) from your comment, and then you will be able to post it:</p>

	<ul>
	{% for site in badlinks %}
	<li>{{site}}</li>
	{% endfor %}
	</ul>

	<div>
		<div class="comment-write collapsed child p-4">
			<form id="reply" action="{{action}}" method="post" class="input-group">

				<input type="hidden" name="formkey" value="{{v.formkey}}">

				{% if parent_fullname %}<input type="hidden" name="parent_fullname" value="{{parent_fullname}}">{% endif %}
				{% if parent_submission %}<input type="hidden" name="submission" value="{{parent_submission}}">{% endif %}

				<textarea name="body" form="reply" class="comment-box form-control rounded" id="reply-form" aria-label="With textarea" placeholder="Add your comment..." {% if v.longpost %}minlength="280"{% endif %} maxlength="{% if v.bird %}140{% else %}10000{% endif %}" rows="10">{{body}}</textarea> 

				<div class="comment-format"> 
					<small class="format pl-0"><i class="fas fa-bold" aria-hidden="true" onclick="makeReplyBold()" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Bold"></i></small> 
					<a class="format" href="javascript:void(0)"><i class="fas fa-italic" aria-hidden="true" onclick="makeReplyItalics()" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Italicize"></i></a> 
					<a class="format" href="javascript:void(0)"><i class="fas fa-quote-right" aria-hidden="true" onclick="makeReplyQuote()" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Quote"></i></a> 
					<a class="format" href="javascript:void(0)"><i class="fas fa-link" aria-hidden="true"></i></small>

				</div> 
				<button form="reply" class="btn btn-primary ml-auto fl-r">Comment</a> 
			</form> 
		</div>
	</div>

</div>
{% endblock %}
