{% extends "default.html" %}

{% block title %}
<title>{{"SITE_NAME" | app_config}} - Contact</title>
<meta name="description" content="Contact {{"SITE_NAME" | app_config}} Admins">
{% endblock %}

	
{% block content %}

		{% if request.args.get('error') or error %}
		<div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
			<i class="fas fa-exclamation-circle my-auto"></i>
			<span>
				{{error if error else request.args.get('error')}}
			</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="far fa-times"></i></span>
			</button>
		</div>
		{% endif %}
		{% if request.args.get('msg') or msg %}
		<div class="alert alert-success alert-dismissible fade show my-3" role="alert">
			<i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
			<span>
				{{msg if msg else request.args.get('msg')}}
			</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="far fa-times"></i></span>
			</button>
		</div>
		{% endif %}

<h1 class="article-title">Contact {{"SITE_NAME" | app_config}} Admins</h1>
{% if v and v.is_activated and not v.is_suspended %}

<p>Use this form to contact {{"SITE_NAME" | app_config}} Admins.</p>

<label class="mt-3">Your Email</label>
<input class="form-control" value="{{v.email}}" readonly="readonly" disabled>

<form id="contactform" action="/contact" method="post">

<label for="input-message" class="mt-3">Your message</label>
<textarea id="input-message" form="contactform" name="message" class="form-control" required></textarea>

<input type="submit" value="Submit" class="btn btn-primary mt-3">

</form>

{% elif v and v.is_suspended %}

<p>Your {{"SITE_NAME" | app_config}} account has been suspended. You are not permitted to use this form.</p>


{% elif v %}

<p>Please <a target="_blank" href="/settings/security">verify your email address</a> in order to ensure we can respond to your message if needed. Then, refresh this page.</p>

{% else %}

<p>In order to ensure that we can respond to your message, please first <a href="/signup" target="_blank">sign up</a> or <a href="/login" target="_blank">log in</a> and make sure you have <a target="_blank" href="/settings/security">verified your email address</a>. Then, refresh this page.</p>

{% endif %}

<pre>


</pre>

<p>If you can see this line, we haven't been contacted by any law enforcement or governmental organizations in 2021 yet.</p>

<pre>


</pre>

{% endblock %}
