<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="{{config('DESCRIPTION')}}">
	<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' ajax.cloudflare.com; connect-src 'self' tls-use1.fpapi.io api.fpjs.io {% if PUSHER_ID != '3435tdfsdudebussylmaoxxt43' %}{{PUSHER_ID}}.pushnotifications.pusher.com{% endif %}; object-src 'none';">

	<script src="/static/assets/js/bootstrap.js?a=245"></script>
	{% if v %}
		<style>:root{--primary:#{{v.themecolor}}}</style>
		<link rel="stylesheet" href="/static/assets/css/main.css?a=145">
		<link rel="stylesheet" href="/static/assets/css/{{v.theme}}.css?a=25">
		{% if v.agendaposter %}
			<style>
				html {
					cursor:url('/static/assets/images/dildo.webp?a=1008'), auto;
				}
				.nav-item .text-small.font-weight-bold::before {
					content: "((("
				}
				.nav-item .text-small.font-weight-bold::after {
					content: ")))"
				}
				.nav-item .text-small-extra.text-primary {
					font-size: 0 !important
				}
				.nav-item .text-small-extra.text-primary i {
					font-size: 11px !important
				}
			</style>
		{% elif v.css %}
			<link rel="stylesheet" href="/@{{v.username}}/css">
		{% endif %}
	{% else %}
		<style>:root{--primary:#{{config('DEFAULT_COLOR')}}</style>
		<link rel="stylesheet" href="/static/assets/css/main.css?a=145"><link rel="stylesheet" href="/static/assets/css/{{config('DEFAULT_THEME')}}.css?a=25">
	{% endif %}

	{% if sub and sub.css and not request.path.endswith('settings') %}
		<link rel="stylesheet" href="/s/{{sub.name}}/css" type="text/css">
	{% endif %}

	{% if v and v.themecolor == '30409f' %}
		<style>
			p a {
				color: #2a96f3;
			}
		</style>
	{% endif %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="thumbnail" content="/static/assets/images/{{SITE_NAME}}/site_preview.webp?a=1013">

	<link rel="icon" type="image/png" href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011">
	{% block title %}
	<title>{{SITE_NAME}}</title>

	<meta property="og:type" content="article" >
	<meta property="og:title" content="{{SITE_NAME}}" >
	<meta property="og:site_name" content="{{request.host}}" >
	<meta property="og:image" content="/static/assets/images/{{SITE_NAME}}/site_preview.webp?a=1013" >
	<meta property="og:url" content="{{SITE_FULL}}{{request.full_path}}">
	<meta property="og:description" name="description" content="{{SITE_NAME}} - {{config('DESCRIPTION')}}">
	<meta property="og:author" name="author" content="@{{SITE_FULL}}/" >
	<meta property="og:site_name" content="{{request.host}}" >

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@{{SITE_FULL}}/">
	<meta name="twitter:title" content="{{SITE_NAME}}" >
	<meta name="twitter:creator" content="@{{SITE_FULL}}/">
	<meta name="twitter:description" content="{{SITE_NAME}} - {{config('DESCRIPTION')}}" >
	<meta name="twitter:image" content="/static/assets/images/{{SITE_NAME}}/site_preview.webp?a=1013" >
	<meta name="twitter:url" content="{{SITE_FULL}}{{request.full_path}}" >
	{% endblock %}

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011">
		<link rel="manifest" href="/static/assets/manifest.json?a=1">
		<link rel="mask-icon" href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011">
		<link rel="shortcut icon" href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011">
		<meta name="apple-mobile-web-app-title" content="{{SITE_NAME}}">
		<meta name="application-name" content="{{SITE_NAME}}">
		<meta name="msapplication-TileColor" content="#{{config('DEFAULT_COLOR')}}">
		<meta name="msapplication-config" content="/static/assets/browserconfig.xml?a=1">
		<meta name="theme-color" content="#{{config('DEFAULT_COLOR')}}">



		<link
		rel="apple-touch-startup-image"
		sizes="320x480"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="640x960"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-icon"
		sizes="640x1136"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-icon"
		sizes="750x1334"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="768x1004"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="768x1024"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="828x1792"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1024x748"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1024x768"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1125x2436"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1242x2208"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1242x2688"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1334x750"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1536x2008"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1536x2048"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1668x2224"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="1792x828"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x1496"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x1536"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x2732"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2208x1242"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2224x1668"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2436x1125"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2668x1242"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>
		<link
		rel="apple-touch-startup-image"
		sizes="2737x2048"
		href="/static/assets/images/{{SITE_NAME}}/icon.webp?a=1011"
		>

		{% block fixedMobileBarJS %}
		{% endblock %}

 </head>

 <body id="{% if request.path != '/comments' %}{% block pagetype %}frontpage{% endblock %}{% endif %}" style="{% if path != '/formatting' %}overflow-x: hidden; {% endif %}{% if v and v.background %} background:url(/static/assets/images/backgrounds/{{v.background}}) no-repeat center center fixed !important; background-size: cover!important; background-color: #000!important;{% endif %}">

{% block Banner %}
	{% if '@' not in request.path %}		
		{% if v %}
			
			{% if sub %}
				<img alt="/s/{{sub.name}} banner" role="button" data-bs-toggle="modal" data-bs-target="#expandImageModal" onclick="expandDesktopImage('{{sub.banner_url}}')" loading="lazy" src="{{sub.banner_url}}" width=100% style="object-fit:cover;max-height:25vw">
			{% elif SITE_NAME == 'Drama' %}
				{% set path = "assets/images/" + SITE_NAME + "/banners_bhm" %}
				{% set image = "/static/" + path + "/" + listdir('files/' + path)|random() + '?a=21' %}

				<a href="https://naacp.org/donate">
					<img alt="site banner" src="{{image}}" width="100%">
				</a>
			{% else %}
				<a href="/">
					<img alt="site banner" src="/static/assets/images/{{SITE_NAME}}/banner.webp?a=1040" width="100%">
				</a>	
			{% endif %}

		{% else %}
			<a href="/login">
				<img class="banner" alt="site banner" src="/static/assets/images/{{SITE_NAME}}/cached.webp?a=1011" width="100%">
			</a>
		{% endif %}
	{% endif %}
{% endblock %}

{% include "header.html" %}

{% block mobileUserBanner %}
{% endblock %}

{% block mobileBanner %}
{% endblock %}

{% block postNav %}
{% endblock %}

<div class="container{% if request.path=='/' or '/post/' in request.path or '/comment/' in request.path %} transparent{% endif %}">
	<div class="row justify-content-around" id="main-content-row">

		<div class="col h-100 {% block customPadding %}{% if request.path.startswith('/@') %}user-gutters{% else %}custom-gutters{% endif %}{% endblock %}" id="main-content-col">

			{% block desktopUserBanner %}
			{% endblock %}

			{% block desktopBanner %}
			{% endblock %}

			{% block PseudoSubmitForm %}
			{% endblock %}

			{% block searchText %}
			{% endblock %}

			{% block content %}
			{% endblock %}

			{% block pagenav %}
			{% endblock %}

		</div>
		{% if home or sub and p %}
			{% block sidebar %}
				{% include "sidebar_" + SITE_NAME + ".html" %}
			{% endblock %}
		{% endif %}
	</div>
</div>

{% block mobilenavbar %}
	{% include "mobile_navigation_bar.html" %}
{% endblock %}

{% block actionsModal %}
{% endblock %}

{% block reportCommentModal %}
{% endblock %}

{% block GIFtoast %}
{% endblock %}

{% block GIFpicker %}
{% endblock %}


<div class="toast clipboard" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body text-center">
		<i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
	</div>
</div>

<div class="toast" id="toast-post-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-success text-center text-white">
		<i class="fas fa-comment-alt-smile mr-2"></i><span id="toast-post-success-text">Action successful!</span>
	</div>
</div>
<div class="toast" id="toast-post-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-danger text-center text-white">
		<i class="fas fa-exclamation-circle mr-2"></i><span id="toast-post-error-text">Error, please try again later.</span>
	</div>
</div>

<script src="/static/assets/js/lozad.js?a=240"></script>

{% if v %}
	<script src="/static/assets/js/post_toast2.js?a=243"></script>
	<script src="/static/assets/js/formatting.js?a=240"></script>
	<script src="/static/assets/js/default.js?a=240"></script>
{% endif %}

<script src="/static/assets/js/lite-youtube.js?a=240"></script>

</body>

</html>
