<script src="/assets/js/delete_post_modal.js?v=240"></script>

<div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header d-none d-md-flex">
				<h5 class="modal-title">Delete post?</h5>
				<button class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="far fa-times"></i></span>
				</button>
			</div>
			<div class="modal-body text-center">

				<div class="py-4">
					<i class="fas fa-trash-alt text-muted d-none d-md-block" style="font-size: 3.5rem;"></i>
				</div>

				<div class="h4 d-md-none">Delete post?</div>

				<p class="d-none d-md-block">Your post will be deleted everywhere on {{SITE_NAME}}.</p>

				<p class="text-muted d-md-none">Your post will be deleted everywhere on {{SITE_NAME}}.</p>
		
				<button id="deletePostButton" class="btn btn-danger btn-block mt-5" data-bs-dismiss="modal">Delete post</button>

				<button class="btn btn-secondary btn-block" data-bs-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
