<!-- Delete Comment Modal -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete comment?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="far fa-times"></i></span>
				</button>
			</div>
			
			<div class="modal-body text-center">

				<div class="py-4">
					<i class="fad fa-trash-alt text-muted" style="font-size: 3.5rem;"></i>
				</div>

				<p>Your comment will be removed everywhere on {{"SITE_NAME" | app_config}}. This action cannot be undone.</p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-link text-muted" data-dismiss="modal">Cancel</button>
				<button id="deleteCommentButton" class="btn btn-danger">Delete comment</button>
			</div>
			
		</div>
	</div>
</div>
