<!-- Emoji Selection Modal -->
<div class="modal fade" id="emojiModal" tabindex="-1" role="dialog" aria-labelledby="emojiModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-1" role="document">
		<div class="modal-content" id="emojiTabs">
			<div class="modal-header">
				<div>
					<ul class="nav nav-pills py-2">
						<li class="nav-item">
							<a class="nav-link active btn-sm" data-toggle="tab" href="#emoji-tab-marsey">Marsey</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-platy">Platy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-tay">Tay</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-classic">Classic</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-rage">Rage</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-wojak">Wojak</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn-sm" data-toggle="tab" href="#emoji-tab-flags">Flags</a>
						</li>
					</ul>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fal fa-times text-muted"></i>
				</button>
			</div>
			<div style="overflow-y: scroll;">
				<div class="modal-body p-0" id="emoji-modal-body">
					<div id="no-emojis-found"></div>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="emoji-tab-marsey">
							<div class="d-flex flex-wrap py-3 pl-2" id="EMOJIS_marsey"></div>
						</div>
						<div class="tab-pane fade" id="emoji-tab-platy">
							<div class="d-flex flex-wrap py-3 pl-2" id="EMOJIS_platy"></div>
						</div>
						<div class="tab-pane fade" id="emoji-tab-tay">
							<div class="d-flex flex-wrap py-3 pl-2" id="EMOJIS_tay"></div>
						</div>
						<div class="tab-pane fade" id="emoji-tab-classic">
							<div class="d-flex flex-wrap py-3 pl-2" id="EMOJIS_classic"></div>
						</div>
						<div class="tab-pane fade" id="emoji-tab-rage">
							<div class="d-flex flex-wrap py-3 pl-2" id="EMOJIS_rage"></div>
						</div>
						<div class="tab-pane fade" id="emoji-tab-wojak">
							<div class="d-flex flex-wrap py-3 pl-2" id="EMOJIS_wojak"></div>
						</div>
						<div class="tab-pane fade" id="emoji-tab-flags">
							<div class="d-flex flex-wrap py-3 pl-2" id="EMOJIS_flags"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>