<div id="form" class="d-none"></div>
<div class="modal fade" id="emojiModal" tabindex="-1" role="dialog" aria-labelledby="emojiModalTitle" aria-hidden="true">
	<style>
		#emojiTabs {height: 80%;}
		@media (max-height: 900px) {
			#emojiTabs {height: 100%;}
			#emojiModalInternalDivIDK {margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important;}
		}
	</style>
	<div id="emojiModalInternalDivIDK" class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-2 py-5 emoji-modal" role="document">
		<div class="modal-content" id="emojiTabs">
			<div class="modal-header">
				<div>
					<ul class="nav nav-pills py-2" id="emoji-modal-tabs">
						<li class="nav-item">
							<a class="nav-link active emojitab" data-class-name="favorite" data-bs-toggle="tab" href="#" onclick="switchEmojiTab(event)">⭐ Favorite ⭐</a>
						</li>
					</ul>
				</div>
				<button class="close" data-bs-dismiss="modal" aria-label="Close">
					<i class="fal fa-times text-muted"></i>
				</button>
			</div>

			<div class="px-3">
				<input disabled autocomplete="off" class="form-control px-2" type="text" id="emoji_search" placeholder="Search..">
			</div>
			<div class="px-3 d-flex flex-row">
				<fieldset class="p-2">
					<label for="emoji-algo">Search Algorithm</label>
					<select id="emoji-algo">
						<option value="binary" selected>Binary Search</option>
						<option value="normal" title="YIKES" disabled>Complete (slower)</option>
					</select>
				</fieldset>

				<fieldset class="p-2">
					<label style="display: inline">Options:</legend>

					<div style="display: inline" title="Makes the emoji larger">
						<input type="checkbox" id="emoij-sel-0" value="#" class="emoij-suffix">
						<label for="emoij-sel-0">Large</label>
					</div>

					<div style="display: inline" title="Mirror the emoji along the Y axis">
						<input type="checkbox" id="emoij-sel-1" value="!" class="emoij-suffix">
						<label for="emoij-sel-1">Mirror</label>
					</div>

					<div style="display: inline" title="Adds a hand that pats the emoji.&#10;Does not work with animated emoji">
						<input type="checkbox" id="emoij-sel-2" value="pat" class="emoij-postfix">
						<label for="emoij-sel-2">Pat</label>
					</div>
				</fieldset>
				<!--
				<fieldset class="p-2">
					<label>marseyalphabet:</label>
					<input type="text">
					<button>generate!</button>
				</fieldset>-->
			</div>

			<div style="overflow-y: scroll;">
				<div class="modal-body p-0" id="emoji-modal-body">
					<div id="no-emojis-found" class="tab-content py-3 pl-2" hidden>
						No results... Next time be better with your query. 💅
					</div>
					<div id="emojis-work" class="tab-content py-3 pl-2">
						I am working as hard as I can, sweety... 🚴
					</div>
					<div id="tab-content" class="tab-content d-flex flex-wrap py-3 pl-2" hidden>
						<style>
							.emoji2 {
								/*background: None!important;*/
								width:60px; 
								height: 85px;
								overflow: hidden;
								border: none
							}
						</style>
						<template id="emoij-button-template">
							<button class="btn m-1 px-0 emoji2" data-bs-toggle="tooltip" delay:="0">
								<img loading="lazy" width=50>
							</button>
						</template>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/assets/js/emoji_modal.js?v=272"></script>