<div class="modal desktop-expanded-image-modal" id="expandImageModal" tabindex="-1" role="dialog" aria-labelledby="expandImageModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered mx-auto expandedimage" style="max-width:80%!important" role="document">
		<div class="modal-content bg-transparent shadow-none">

			<div class="modal-body text-center p-0">
				<div class="d-inline-block position-relative">
					<a href="/" rel="nofollow noopener noreferrer" target="_blank" id="desktop-expanded-image-wrap-link">
						<img loading="lazy" alt="expanded image" referrerpolicy="no-referrer" src="" class="img-fluid rounded" id="desktop-expanded-image" style="min-width: 250px;">
					</a>
					<div class="position-absolute d-flex justify-content-between align-items-center w-100 mt-1">
						<a href="/" rel="nofollow noopener noreferrer" target="_blank" class="text-gray-500 font-weight-bold text-left" id="desktop-expanded-image-link">View original</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>