<!-- Expand Desktop Video Modal -->

<div class="modal desktop-expanded-image-modal" id="expandVideoModal" tabindex="-1" role="dialog" aria-labelledby="expandVideoModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered mx-auto" role="document" style="width: fit-content;">
		<div class="modal-content bg-transparent shadow-none m-5 m-md-0">

			<div class="modal-body text-center p-0">
				<div class="d-inline-block position-relative">
					<a href="" ref="nofollow noopener" target="_blank" id="desktop-expanded-video-wrap-link">
						<iframe src="" frameborder="0" class="img-fluid rounded" id="desktop-expanded-video" style="min-width:250px;"></iframe>
					</a>
					<div class="position-absolute d-flex justify-content-between align-items-center w-100 mt-1">
						<a href="" ref="nofollow noopener" target="_blank" class="text-gray-500 font-weight-bold text-left" id="desktop-expanded-video-link">View original</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>


<div style="padding-top:5px; padding-bottom: 10px;"></div>