{% extends "default.html" %}
{% block content %}
<script src="/assets/js/following.js?v=241"></script>
<pre>

	
</pre>
<h5>Users followed by @{{u.username}}</h5>
<pre></pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		{% if v.id == u.id %}
			<th></th>
		{% endif %}
	</tr>
</thead>
<tbody id="followers-table">
{% for user in users %}
	<tr>
		<td>{{loop.index}}</td>
		<td><a style="color:#{{user.namecolor}}" href="/@{{user.username}}"><img loading="lazy" src="{{user.profile_url}}" class="pp20"><span {% if user.patron %}class="patron" style="background-color:#{{user.namecolor}}"{% endif %}>{{user.username}}</span></a></td>
		{% if v.id == u.id %}
		<td><div class="btn btn-danger" onclick="removeFollowing(event, '{{user.username}}')">Unfollow</div></td>
		{% endif %}
	</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}