{% extends "authforms.html" %}

{% block pagetitle %}{{"SITE_NAME" | app_config}} Password Reset{% endblock %}

{% block authtitle %}Reset your password.{% endblock %}

{% block authtext %}If there's an email address associated with your account, you can use it to recover your {{"SITE_NAME" | app_config}} account and change your password.{% endblock %}

{% block content %}

												<div id="login-form" class="">

														<form action="/forgot" method="post" class="mt-3">

																<label for="username" class="mt-3">Username</label>

																<input class="form-control" id="username" aria-describedby="usernameHelp"
																		type="text" name="username" required="">

																<label for="email" class="mt-3">Email</label>

																<input class="form-control" id="password" aria-describedby="passwordHelp"
																		type="email" name="email" required="">

																<input class="btn btn-primary login w-100 mt-3" type="submit" value="Send recovery link">

														</form>

												</div>

{% endblock %}