<!-- Navigation -->

<nav class="navbar navbar-expand-md navbar-light shadow shadow-md fixed-top" id="navbar">
	<div class="container-fluid">
		<div class="flex-grow-1"><a href="/" class="navbar-brand"><img src="/assets/images/logo.gif" height="20"><span class="text-small-extra text-uppercase text-gray-400"> Sigma</span></a></div>
		<div class="flex-grow-1 d-fl d-none d-md-block">
			<form class="form-inline search flex-nowrap mx-0 mx-lg-auto" action="/search/posts/" method="get">
				<input class="form-control w-100" type="search" placeholder="Search" aria-label="Search" name="q" value="{{request.args.get('q', '')}}">
				<span class="input-group-append">
					<span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem;">
						<i class="fa fa-search" aria-hidden="true"></i>
					</span>
				</span>
			</form>
		</div>
		<a class="mobile-nav-icon d-block d-md-none" href="/random"><i class="fas fa-random align-middle text-gray-500"></i></a>
		{% if v and v.admin_level > 0 %}
		<a class="mobile-nav-icon d-block d-md-none" href="/admin"><i class="fas fa-crown align-middle text-gray-500"></i></a>
		{% endif %}
		{% if v %}
		<a class="mobile-nav-icon d-block d-md-none" href="/submit"><i class="fas fa-feather-alt align-middle text-gray-500"></i></a>
		{% else %}
		<a class="mobile-nav-icon d-block d-md-none" href="/login"><i class="fas fa-feather-alt align-middle text-gray-500"></i></a>
		{% endif %}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon {% if v and v.notifications_count %}position-relative{% endif %}"><i class="fal fa-bars text-gray-500"></i>
			{% if v and v.notifications_count %}
				<span class="badge-count font-weight-bolder" style="right: -6px; font-size:18px;">{{v.notifications_count}}</span>
			{% endif %}
		</span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto d-none d-md-flex">

			<li class="nav-item d-flex align-items-center justify-content-center text-center mx-1">
				<a class="nav-link" href="/random/" data-toggle="tooltip" data-placement="bottom" title="Random post"><i class="fas fa-random"></i></a>
			</li>

			{% if v and v.admin_level==6 %}
			<li class="nav-item d-flex align-items-center justify-content-center text-center mx-1">
				<a class="nav-link" href="/admin/" data-toggle="tooltip" data-placement="bottom" title="Badmin tools"><i class="fas fa-crown{% if v.has_report_queue %} text-success{% endif %}"></i></a>
			</li>
			{% endif %}

			{% if v %}

			{% if v.notifications_count %}

			<li class="nav-item d-flex align-items-center text-center justify-content-center mx-1">
				<a class="nav-link position-relative" href="/notifications{% if v.notifications_count == v.post_notifications_count %}?posts=true{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Notifications"><i class="fas fa-bell text-danger"></i><span class="badge-count font-weight-bolder">{{v.notifications_count}}</span></a>
			</li>

			{% else %}

			<li class="nav-item d-flex align-items-center text-center justify-content-center mx-1">
				<a class="nav-link" href="/notifications?all=true" data-toggle="tooltip" data-placement="bottom" title="Notifications"><i class="fas fa-bell"></i></a>
			</li>

			{% endif %}

			<li class="nav-item d-flex align-items-center justify-content-center text-center mx-1">
				<a class="nav-link" href="/submit" data-toggle="tooltip" data-placement="bottom" title="Create post"><i class="fas fa-feather-alt"></i></a>
			</li>

			<li class="nav-item d-flex align-items-center justify-content-center text-center mx-1">
				<a class="nav-link" href="/comments" data-toggle="tooltip" data-placement="bottom" title="Comments"><i class="fas fa-comment-dots"></i></a>
			</li>

			<li class="nav-item d-flex align-items-center justify-content-center text-center mx-1">
				<a class="nav-link" href="/leaderboard" data-toggle="tooltip" data-placement="bottom" title="Users"><i class="fas fa-trophy"></i></a>
			</li>

			<li class="nav-item d-flex align-items-center justify-content-center text-center">
				<div class="dropdown">
					<a class="nav-link bg-transparent py-0 pr-0" href="{{v.url}}" role="button" id="dropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<div class="d-flex">
						<div><img src="{{v.profile_url}}" class="profile-pic-35"></div>
						<div class="text-left pl-2">
							<div style="color: #{{v.namecolor}}" class="text-small font-weight-bold {% if v.animatedname %}{% if v.patron %}patron{% else %}leaderboard{% endif %}{% endif %}">{{v.username}}</div>
							<div class="text-small-extra text-purple"><i class="fad fa-coins mr-1"></i>{{v.coins}} {{"SITE_NAME" | app_config}}coins</div>
						</div>
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left border-0 shadow fade px-0 mt-2"
				aria-labelledby="dropdownMenuButton">
				<div class="px-2">
					<a class="dropdown-item" href="{{v.url}}"><i class="fas fa-user-circle fa-fw text-left mr-3"></i>My
						profile</a>
							<a class="dropdown-item" href="/settings"><i class="fas fa-cog fa-fw text-left mr-3"></i>Settings</a>
						</div>
						<hr class="my-2">
						<div class="px-2">
							<button class="dropdown-item copy-link" data-clipboard-text="/signup?ref={{v.username}}"><i class="fad fa-user-friends fa-fw text-left mr-3"></i>Invite friends</button>
						</div>
						<hr class="my-2">
						<div class="px-2">
							<a class="dropdown-item" href="/assets/{{"SITE_NAME" | app_config}}.apk"><i class="fab fa-android fa-fw text-left mr-3"></i>Android app</a>
							<a class="dropdown-item" href="/post/1xq/posting-guidelines-policies-legal-shit"><i class="fas fa-balance-scale fa-fw text-left mr-3"></i>Rules</a>
							<a class="dropdown-item" href="/changelog"><i class="fas fa-clipboard fa-fw text-left mr-3"></i>Changelog</a>
							<a class="dropdown-item" href="https://github.com/Aevann1/{{"SITE_NAME" | app_config}}"><i class="fab fa-github fa-fw text-left mr-3"></i>Source code</a>
							<a class="dropdown-item" href="/discord"><i class="fab fa-discord fa-fw text-left mr-3"></i>Discord</a>
							<a class="dropdown-item" href="https://rdrama.gumroad.com/l/tfcvri"><i class="fas fa-dollar-sign fa-fw text-left mr-3"></i>Gumroad</a>
							<a class="dropdown-item" href="/archives"><i class="fas fa-book fa-fw text-left mr-3"></i>Subreddit Archives</a>
							<a class="dropdown-item" href="/contact"><i class="fas fa-file-signature fa-fw text-left mr-3"></i>Contact us</a>
						</div>
						<hr class="my-2">
						<div class="px-2">
							<a class="dropdown-item" href="javascript:void(0)", onclick="post('/logout', callback=function(){window.location.reload(true)})"><i class="fas fa-sign-out fa-fw text-left mr-3"></i>Log out</a>
						</div>
					</div>
				</div>
			</li>
			{% else %}
			<li class="nav-item d-flex align-items-center justify-content-center mx-1">
			 <a class="btn btn-outline-purple" href="/contact">Contact us</a>
		 </li>
			<li class="nav-item d-flex align-items-center justify-content-center mx-1">
			 <a class="btn btn-outline-purple" href="/login?redirect={{request.path | urlencode}}">Sign in</a>
		 </li>
		 <li class="nav-item d-flex align-items-center justify-content-center mx-1">
			 <a class="btn btn-outline-purple" href="/signup?redirect={{request.path | urlencode}}">Sign up</a>
		 </li>
		 {% endif %}
	 </ul>

	 <!-- Mobile Nav Menu -->
	 <ul class="navbar-nav ml-auto d-flex d-md-none mt-3">
		 <li class="nav-item pb-3">
			<form id="searchform" class="form-inline search flex-nowrap mx-0 mx-lg-auto" action="/search/posts/" method="get">
				<input class="form-control form-control-sm w-100" type="search" placeholder="Search" aria-label="Search" name="q">
				<span class="input-group-append">
					<span class="input-group-text border-0 bg-transparent" style="margin-left: -2.5rem;" onclick="document.getElementById('searchform').submit()">
						<i class="fa fa-search" aria-hidden="true"></i>
					</span>
				</span>
			</form>
		</li>
		{% if v %}
		<li class="nav-item">
			<a class="nav-link" href="{{v.url}}"><i class="fas fa-user-circle fa-fw mr-3"></i>@{{v.username}}</a>
		</li>
		<li class="nav-item">			
			<a class="nav-link {% if v.notifications_count %}position-relative{% endif %}" href="/notifications{% if not v.notifications_count %}?all=true{% elif v.notifications_count == v.post_notifications_count %}?posts=true{% endif %}">
				<i class="fas fa-envelope fa-fw mr-3"></i>Inbox
				{% if v.notifications_count %}
				<i class="fas fa-circle text-danger position-absolute" style="left: 19px; top: 5px; font-size: 10px;"></i>
				{% endif %}
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/settings"><i class="fas fa-cog fa-fw mr-3"></i>My account</a>
		</li>
		<li class="nav-item"><a class="nav-link" href="/assets/{{"SITE_NAME" | app_config}}.apk"><i class="fab fa-android fa-fw mr-3"></i>Android app</a></li>
		<li class="nav-item"><a class="nav-link" href="/post/1xq/posting-guidelines-policies-legal-shit"><i class="fas fa-balance-scale fa-fw mr-3"></i>Rules</a></li>
		<li class="nav-item"><a class="nav-link" href="https://github.com/Aevann1/{{"SITE_NAME" | app_config}}"><i class="fab fa-github fa-fw mr-3"></i>Source code</a></li>
		<li class="nav-item"><a class="nav-link" href="/discord"><i class="fab fa-discord fa-fw mr-3"></i>Discord</a></li>
		<li class="nav-item"><a class="nav-link" href="https://rdrama.gumroad.com/l/tfcvri"><i class="fas fa-dollar-sign fa-fw mr-3"></i>Gumroad</a></li>
		<li class="nav-item"><a class="nav-link" href="/archives"><i class="fas fa-book fa-fw mr-3"></i>Subreddit Archives</a></li>
		<li class="nav-item"><a class="nav-link" href="/contact"><i class="fas fa-file-signature fa-fw mr-3"></i>Contact us</a></li>

		<li class="nav-item border-top border-bottom mt-2 pt-2">
			<a class="nav-link" href="javascript:void(0)", onclick="post('/logout', callback=function(){window.location.reload(true)})"><i class="fas fa-sign-out fa-fw mr-3 text-danger"></i>Log out</a>
		</li>
		{% else %}
		<li class="nav-item d-flex align-items-center justify-content-center pb-3">
			<a class="btn btn-outline-purple btn-block" href="/contact">Contact us</a>
		</li>
		<li class="nav-item d-flex align-items-center justify-content-center pb-3">
			<a class="btn btn-outline-purple btn-block" href="/login?redirect={{request.path | urlencode}}">Sign in</a>
		</li>
		<li class="nav-item d-flex align-items-center justify-content-center">
			<a class="btn btn-outline-purple btn-block" href="/signup?redirect={{request.path | urlencode}}">Sign up</a>
		</li>
		{% endif %}
</div>
</div>
</nav>