{% extends "default.html" %}

{% block pagetitle %}Leaderboard{% endblock %}

{% block subHeader %}
	<div class="relative max-w-screen-2xl mx-auto px-4 py-4 grid grid-cols-12 rounded-t">
		<div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-gray-400 to-gray-300 rounded-t sub-header-shadow"></div>
		<div class="relative col-span-full flex items-center">
			<div>
				<h1 class="font-bold text-xl font-heading leading-normal">
					Leaderboards
				</h1>
				<ul class="text-gray-700 text-sm flex items-center space-x-3 leading-normal">
					<li>
						<a class="{% if not '=true' in request.full_path %}font-bold text-red-600{% endif %}" href="/notifications">
							Wealthiest
						</a>
					</li>
					<li>
						<a class="{% if '/notifications?posts=true' in request.full_path %}font-bold text-red-600{% endif %}" href="/notifications?posts=true">
							Spenders
						</a>
					</li>
					<li>
						<a class="{% if '/notifications?messages=true' in request.full_path %}font-bold text-red-600{% endif %}" href="/notifications?messages=true">
							Followers
						</a>
					</li>
					<li>
						<a class="{% if '/notifications?messages=true' in request.full_path %}font-bold text-red-600{% endif %}" href="/notifications?messages=true">
							Posts
						</a>
					</li>
					<li>
						<a class="{% if '/notifications?messages=true' in request.full_path %}font-bold text-red-600{% endif %}" href="/notifications?messages=true">
							Comments
						</a>
					</li>
					<li>
						<a class="{% if '/notifications?messages=true' in request.full_path %}font-bold text-red-600{% endif %}" href="/notifications?messages=true">
							Awards
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
<div class="col-span-full">
	<div class="flex items-center px-4 py-4 bg-gray-100 sticky top-0">
		<h1 class="text-2xl font-heading font-bold">
			rDrama's 100 Greediest Users
		</h1>
	</div>
	<div class="mb-4 flex flex-col bg-gray-100 rounded-lg overflow-hidden">
		{% for user in users1 %}
		<div class="flex items-center border-b last:border-b-none border-gray-300 shadow-inset-t-white-05 px-5 py-3 {% if v.username == user.username %}text-red-900 text-shadow-light bg-red-600{% elif users1.index(user) % 2 != 0 %}bg-gray-200{% endif %}">
			<!-- Rank -->
			<h2 class="text-2xl font-bold font-heading text-center w-16 -ml-5 {{ 'text-red-900' if v.username == user.username else 'text-gray-400' }}">
				{{users1.index(user)+1}}
			</h2>
			<div class="relative">
				<img src="{{user.profile_url}}" class="p-[3px] border w-12 h-12 object-cover {{ 'bg-red-800 border-red-900' if v.username == user.username else 'bg-white border-gray-300' }}" alt="{{ user.username }} avatar"/>
				{% if users1.index(user)+1 == 1 %}
				<img src="https://i.ibb.co/xFgG6yf/Coinfixed.gif" width="20px" height="12px" class="absolute -top-1 -right-2.5 object-contain"/>
				{% endif %}
			</div>
			<!-- User Details -->
			<div class="ml-3">
				<a class="block font-heading font-bold text-xl" href="/@{{user.username}}">
					{{user.username}}
				</a>
				{% if user.customtitle %}
				<p class="text-sm" style="#{{user.namecolor}}">
					{{user.customtitle | safe}}
				</p>
				{% endif %}
			</div>
			<div class="ml-auto mr-4">
				<span class="text-xl font-heading font-bold {{ 'text-red-900' if v.username == user.username else 'text-gray-700' }}">
					{{user.coins}}
				</span>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

<!-- user7 {{user.coins_spent}} -->

<!-- user2 {{user.stored_subscriber_count}} -->

<!-- user3 {{user.post_count}} -->

<!-- user4 {{user.comment_count}} -->

<!-- user5 {{user.received_award_count}} -->