{% extends "default.html" %}
{% block content %}

<script src="/static/assets/js/sort_table.js?v=240"></script>

<pre>

	
</pre>
<div class="overflow-x-auto">
<table  id="sortable_table"class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Marsey</th>
		<th role="button" onclick="sort_table(3)">Usage</th>
		{% if SITE_NAME == 'Drama' %}<th role="button" onclick="sort_table(4)">Author</th>{% endif %}
	</tr>
</thead>
<tbody id="followers-table">
{% if SITE_NAME == 'Drama' %}
	{% for marsey, author in marseys %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{marsey.name}}</td>
			<td><img class="marsey" loading="lazy" data-bs-toggle="tooltip" alt=":{{marsey.name}}:" title=":{{marsey.name}}:" src="/e/{{marsey.name}}.webp?v=1012" ></td>
			<td>{{marsey.count}}</td>
			<td>{{author.username}}</td>
		</tr>
	{% endfor %}
{% else %}
	{% for marsey in marseys %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{{marsey.name}}</td>
		<td><img class="marsey" loading="lazy" data-bs-toggle="tooltip" alt=":{{marsey.name}}:" title=":{{marsey.name}}:" src="/e/{{marsey.name}}.webp?v=1012" ></td>
		<td>{{marsey.count}}</td>
	</tr>
	{% endfor %}
{% endif %}
</tbody>
</table>

{% endblock %}