{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight: bold">#</th>
		<th style="font-weight: bold">Name</th>
		<th style="font-weight: bold">Marsey</th>
		<th style="font-weight: bold">Usage</th>
		<th style="font-weight: bold">Author</th>
	</tr>
</thead>
<tbody id="followers-table">
{% for k in marseys %}
	<tr>
		<td style="font-weight: bold">{{loop.index}}</td>
		<td style="font-weight: bold">{{k[0]}}</td>
		<td><img class="marsey" loading="lazy" data-bs-toggle="tooltip" alt=":{{k[0]}}:" title=":{{k[0]}}:" delay="0" src="/static/assets/images/emojis/{{k[0]}}.webp?a=1002" ></td>
		<td style="font-weight: bold">{{k[2]}}</td>
		<td>{% if k[1] in ('anton-d','unknown') %}{{k[1]}}{% else %}<a style="font-weight:bold;" href="/@{{k[1]}}"><img alt="@{{k[1]}}'s profile picture" loading="lazy" src="/@{{k[1]}}/pic" class="pp20">{{k[1]}}</a>{% endif %}</td>
	</tr>
{% endfor %}
</tbody>
</table>

<style>
	.marsey {
		max-width: 125px;
		max-height: 125px;
	}
	@media (max-width: 768px) {
		.marsey {
			max-width: 60px;
			max-height: 60px;
		}
	}
</style>
{% endblock %}