{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Marsey</th>
		<th>Usage</th>
		{% if SITE_NAME == 'Drama' %}<th>Author</th>{% endif %}
	</tr>
</thead>
<tbody id="followers-table">
{% if SITE_NAME == 'Drama' %}
	{% for marsey, author in marseys %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{marsey.name}}</td>
			<td><img class="marsey" loading="lazy" data-bs-toggle="tooltip" alt=":{{marsey.name}}:" title=":{{marsey.name}}:" data-bs-original-title=":{{marsey.name}}:" src="/static/assets/images/emojis/{{marsey.name}}.webp?a=1010" ></td>
			<td>{{marsey.count}}</td>
			<td><a style="color:#{{author.namecolor}};font-weight:bold" href="/@{{author.username}}"><img loading="lazy" src="{{author.profile_url}}" class="pp20"><span {% if author.patron %}class="patron" style="background-color:#{{author.namecolor}}"{% endif %}>{{author.username}}</span></a></td>
		</tr>
	{% endfor %}
{% else %}
	{% for marsey in marseys %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{{marsey.name}}</td>
		<td><img class="marsey" loading="lazy" data-bs-toggle="tooltip" alt=":{{marsey.name}}:" title=":{{marsey.name}}:" data-bs-original-title=":{{marsey.name}}:" src="/static/assets/images/emojis/{{marsey.name}}.webp?a=1010" ></td>
		<td>{{marsey.count}}</td>
	</tr>
	{% endfor %}
{% endif %}
</tbody>
</table>

{% endblock %}