<script defer src="/assets/js/mobile_navigation_bar.js?v=53"></script>

<div class="container inline-flex sm:hidden">

	<div class="z-100 fixed shadow-sm bottom-0 w-full bg-gray-100 border-t border-gray-300 px-4 py-2" id="mobile-bottom-navigation-bar" style="transition: bottom cubic-bezier(0, 0, 0.2, 1) 220ms;">

		<ul class="flex flex-nowrap justify-around">
			<li>
				<button type="button" class="col px-0 ml-3 btn btn-dead m-0">
					<a href="/" class="text-decoration-none" role="button">
						<div class="text-center {% if request.path=='/' and request.full_path!='/?sort=hot&t=all' and request.full_path!='/?sort=new&t=all' %}text-primary{% else %}text-muted{% endif %}">
							<i class="fas fa-home-alt text-lg"></i>
							<div class="text-small">Home</div>
						</div>
					</a>
				</button>
			</li>
			{% if v and v.defaultsorting == 'new' %}
			<li>
				<button type="button" class="col px-0 btn btn-dead m-0">
					<a href="/?sort=hot&t=all" class="text-decoration-none" role="button">
						<div class="text-center {% if request.full_path=='/?sort=hot&t=all' %}text-primary{% else %}text-muted{% endif %}">
							<i class="fas fa-fire text-lg"></i>
							<div class="text-small">Hot</div>
						</div>
					</a>
				</button>
			</li>
			{% else %}
			<li>
				<button type="button" class="col px-0 btn btn-dead m-0">
					<a href="/?sort=new&t=all" class="text-decoration-none" role="button">
						<div class="text-center {% if request.full_path=='/?sort=new&t=all' %}text-primary{% else %}text-muted{% endif %}">
							<i class="fas fa-sparkles text-lg"></i>
							<div class="text-small">New</div>
						</div>
					</a>
				</button>
			</li>
			{% endif %}
			<li>
				<button type="button" class="col px-2 btn btn-dead m-0">
					<a href="/comments" class="text-decoration-none" role="button">
						<div class="text-center {% if request.path=='/comments' %}text-primary{% else %}text-muted{% endif %}">
							<i class="fas fa-comment-dots text-lg"></i>
							<div class="text-small">Comments</div>
						</div>
					</a>
				</button>
			</li>
			<li>
				<button type="button" class="col px-0 btn btn-dead m-0">
					<a href="/leaderboard" class="text-decoration-none" role="button">
						<div class="text-center {% if request.path=='/leaderboard' %}text-primary{% else %}text-muted{% endif %}">
							<i class="fas fa-trophy text-lg"></i>
							<div class="text-small">Users</div>
						</div>
					</a>
				</button>
			</li>
			{% if v %}
			<li>
				<button type="button" class="col px-0 mr-3 btn btn-dead m-0">
					<a href="/shop" class="text-decoration-none" role="button">
						<div class="text-center {% if request.path=='/shop' %}text-primary{% else %}text-muted{% endif %}">
							<i class="fas fa-store text-lg"></i>
							<div class="text-small">Shop</div>
						</div>
					</a>
				</button>
			</li>
			{% else %}
			<li>
				<button type="button" class="col px-0 mr-3 btn btn-dead m-0">
					<a href="/signup" class="text-decoration-none" role="button">
						<div class="text-center text-muted">
							<i class="fas fa-user-plus text-lg"></i>
							<div class="text-small">Sign Up</div>
						</div>
					</a>
				</button>
			</li>
			{% endif %}
		</ul>
	</div>
</div>