{% extends "errors/default.html" %}

{% block title %}
<title>Log</title>
{% endblock %}

{% block pagetype %}Log{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
		<div class="text-center px-3 my-8">
			<pre></pre>
			<p class="text-muted mb-5">Hiding the modlog is unironically something we can't stand for. Transparent moderation is the only thing that makes this site any better from Reddit in regards to free speech while still not being retarded like Ruqqus.</p>
		</div>
	</div>
</div>
{% endblock %}
