<nav id="navigation-secondary" class="text-center text-md">
	<a class="navigation-secondary-link d-md-none" href="/rules" data-bs-toggle="tooltip" data-bs-placement="top" title="Rules"><i class="fas fa-scale-balanced"></i><span class="d-md-none">Rules</span></a>
	<a class="navigation-secondary-link" href="/admins" data-bs-toggle="tooltip" data-bs-placement="top" title="Admins"><i class="fas fa-crown"></i><span class="d-md-none">Admins</span></a>
	<a class="navigation-secondary-link" href="/log" data-bs-toggle="tooltip" data-bs-placement="top" title="Moderation Log"><i class="fas fa-scroll-old"></i><span class="d-md-none">Moderation Log</span></a>
	<a class="navigation-secondary-link" href="/random_post" data-bs-toggle="tooltip" data-bs-placement="top" title="Random Post"><i class="fas fa-random"></i><span class="d-md-none">Random Post</span></a>
	<a class="navigation-secondary-link" href="/random_user" data-bs-toggle="tooltip" data-bs-placement="top" title="Random User"><i class="fas fa-user-circle"></i><span class="d-md-none">Random User</span></a>
</nav>
