{% extends "default.html" %}

{% block fixedMobileBarJS %}{% endblock %}

{% block pagetype %}{% endblock %}

{% block PseudoSubmitForm %}{% endblock %}

{% block navbar %}
<div class="font-weight-bold py-3"></div>
{% endblock %}

{% block content %}

<div class="row border-bottom bg-white w-200 pr-0" style="overflow: visible;">
  <div class="col p-0 w-100">
	<ul class="nav settings-nav" style="padding:0 0 0 20px">
	<li class="nav-item">
		<a class="nav-link py-3{% if not '=true' in request.full_path %} active{% endif %}" href="/notifications">
		All {% if v.normal_count %} <span class="font-weight-bold" style="color:red">({{v.normal_count}})</span>{% endif %}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link py-3{% if '/notifications?posts=true' in request.full_path %} active{% endif %}" href="/notifications?posts=true">
		Posts {% if v.post_notifications_count %}<span class="font-weight-bold" style="color:blue">({{v.post_notifications_count}})</span>{% endif %}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link py-3{% if '/notifications?messages=true' in request.full_path %} active{% endif %}" href="/notifications?messages=true">
		Messages
		</a>
	</li>
	{% if v.admin_level > 1 %}
		<li class="nav-item">
			<a class="nav-link py-3{% if '/notifications?modmail=true' in request.full_path %} active{% endif %}" href="/notifications?modmail=true">
			Modmail
			</a>
		</li>
	{% endif %}
	{% if v.admin_level %}
		<li class="nav-item">
			<a class="nav-link py-3{% if '/notifications?reddit=true' in request.full_path %} active{% endif %}" href="/notifications?reddit=true">
			Reddit {% if v.reddit_notifications_count %}<span class="font-weight-bold" style="color:#805ad5">({{v.reddit_notifications_count}})</span>{% endif %}
			</a>
		</li>
	{% endif %}
	</ul>
  </div>
</div>


<a class="btn btn-primary mt-3 ml-3" role="button" onclick="post_toast(this,'/clear', '1')">Clear all notifications</a>

<div class="notifs px-3 p-md-0">

	{% with comments=notifications %}
		{% include "comments.html" %}
	{% endwith %}

	{% if not notifications %}
	<div class="text-center py-7 py-md-8">

		<span class="fa-stack fa-2x text-muted mb-4">
			<i class="fas fa-square text-gray-400 fa-stack-2x"></i>
			<i class="fas text-gray-600 fa-envelope fa-stack-1x text-lg"></i>
		</span>

		<div class="h5">No unread messages</div>
		<div class="text-small text-muted mb-3">When someone comments or replies, it will show up here.</div>
		<a href="/notifications" class="btn btn-primary ">View entire inbox</a>
	</div>

	{% endif %}

</div>

{% endblock %}

{% block pagenav %}
{% if notifications %}
<nav aria-label="Page navigation">
	<ul class="pagination pagination-sm mb-0 mt-4">
		{% if page>1 %}
		<li class="page-item">
			{% if "?page=" in request.full_path %}
				{% set path = request.full_path.split("?page=")[0] %}
			{% elif "&page=" in request.full_path %}
				{% set path = request.full_path.split("&page=")[0] %}
			{% else %}
				{% set path = request.full_path %}
			{% endif %}
			{% if '=true' in request.full_path %}
				<small><a class="page-link" href="{{path}}&page={{page-1}}">Previous</a></small>
			{% else %}
				<small><a class="page-link" href="{{request.path}}?page={{page-1}}">Previous</a></small>
			{% endif %}
		</li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">Prev</span></li>
		{% endif %}

		{% if next_exists %}
		<li class="page-item">
			{% if "?page=" in request.full_path %}
				{% set path = request.full_path.split("?page=")[0] %}
			{% elif "&page=" in request.full_path %}
				{% set path = request.full_path.split("&page=")[0] %}
			{% else %}
				{% set path = request.full_path %}
			{% endif %}
			{% if '=true' in request.full_path %}
				<small><a class="page-link" href="{{path}}&page={{page+1}}">Next</a></small>
			{% else %}
				<small><a class="page-link" href="{{request.path}}?page={{page+1}}">Next</a></small>
			{% endif %}
		</li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">Next</span></li>
		{% endif %}
	</ul>
</nav>
{% endif %}
<style>
	.comment {
		margin-top: 1rem;
	}
</style>
{% endblock %}

{% block GIFpicker %}
{% endblock %}