{% extends "settings2.html" %}

{% block content %}
<table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight:bold;">#</th>
		<th style="font-weight:bold;">Name</th>
		<th style="font-weight:bold;">Tier</th>
		<th style="font-weight:bold;">Awards</th>
	</tr>
</thead>
{% for user in users %}
	<tr>
		<td style="font-weight:bold;">{{users.index(user)+1}}</td>
		<td><a {% if user.animatedname %}class="{% if user.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="color:#{{user.namecolor}}; font-weight:bold;" href="/@{{user.username}}"><img src="/uid/{{user.id}}/pic/profile" class="profile-pic-20 mr-1">{{user.username}}</a></td>

		<td><img style="width: 32px; height: 32px" src="/assets/images/badges/patron-{{user.patron}}.gif"></td>

		<td style="font-weight:bold;">
			{% for a in user.display_awards %}
			<span class="d-inline-block mx-2 my-1">
				<i class="{{ a['icon'] }} {{ a['color'] }} fa-fw" data-toggle="tooltip" data-placement="bottom" title="{{ a['title'] }} Awards owned"></i>
				{{ a['count'] }}
			</span>
			{% endfor %}
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
