<div style="display:none" id="popover">
	<div class="popover-user-profile" role="tooltip">
		<img loading="lazy" class="pop-banner w-100 h-64 object-cover">
		<div class="flex items-end px-3 -mt-8 mb-3">
			<img loading="lazy" class="pop-picture h-38 w-48 rounded-sm p-[3px] bg-white shadow-sm">
			<div class="px-3 truncate">
			<h5 class="pop-username truncate ellipsis text-black"></h5>
			</div>
		</div>
		<div class="px-3">
			<span class="pop-bio popover-bio text-black"></span>
		</div>

		<div class="pop-badges ml-3 mr-3 my-2">
		</div>

	  <div class="border-t flex items-center p-3 gap-3 text-sm">
		<span>
		  <strong class="pop-postcount text-black"></strong>
		  <span class="text-black">posts</span>
		</span>
		<span class="ml-3">
		  <strong class="pop-commentcount text-black"></strong>
		  <span class="text-black">comments</span>
		</span>
		<span class="ml-3">
			<strong class="pop-coins text-black"></strong>
			<span class="text-black">coins</span>
		</span>  
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a target="_blank" class="pop-viewmore ml-auto text-decoration-none">
		  View
		  <i class="fas fa-arrow-right fa-sm fa-fw px-1"></i>
		</a>
	  </div>
	</div>
</div>