<div class="modal-body">
  <div class="h6">We're sorry something here is wrong.</div>
  <small class="form-text text-muted">Please enter a reason for reporting below.</small>
  <pre></pre>
  <div>
    <input type="radio" id="low-effort" name="report-reason" value="low-effort" />
    <label for="low-effort">Low Effort</label>
  </div>
  <div>
    <input type="radio" id="antagonistic" name="report-reason" value="antagonistic" />
    <label for="antagonistic">Antagonistic/Uncharitable/Unkind</label>
  </div>
  <div>
    <input type="radio" id="boo-outgroup" name="report-reason" value="boo-outgroup" />
    <label for="boo-outgroup">Boo Outgroup</label>
  </div>
  <div>
    <input type="radio" id="build-consensus" name="report-reason" value="build-consensus" />
    <label for="build-consensus">Attempting to speak for the whole forum or build consensus</label>
  </div>
  <div>
    <input type="radio" id="quality-contribution" name="report-reason" value="quality-contribution" />
    <label for="quality-contribution">Actually a quality contribution</label>
  </div>
  <div>
    <input type="radio" id="other" name="report-reason" value="other" />
    <label for="other">Other</label>
  </div>
  <input autocomplete="off" maxlength="100" id="reason-field" class="form-control b2" />
</div>
