<div class="modal fade" id="reportPostModal" tabindex="-1" role="dialog" aria-labelledby="reportPostModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Report post</h5>
				<button class="close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="far fa-times"></i></span>
				</button>
			</div>
			<div id="reportPostFormBefore">
				<div class="modal-body">
					<div class="h6">We're sorry something here is wrong.</div>
					<small class="form-text text-muted">Please enter a reason for reporting below.</small>
					<pre></pre>
					<input autocomplete="off" maxlength="100" id="reason" class="form-control b2">
				</div>
				<div class="modal-footer">
					<button class="btn btn-link text-muted" data-bs-dismiss="modal">Cancel</button>
					<button id="reportPostButton" class="btn btn-danger">Report post</button>
				</div>
			</div>
			<div class="d-none" id="reportPostFormAfter">
				<div class="modal-body">
					<div class="h6">Thank you for reporting this post!</div>
					<small class="form-text text-muted">We'll take it from here.</small>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/assets/js/report_post_modal.js?v=241"></script>