{% extends "authforms.html" %}

{% block pagetitle %}{{SITE_NAME}} Password Reset{% endblock %}

{% block authtitle %}Change your password.{% endblock %}

{% block content %}

												<div id="login-form" class="">

														<form action="/reset" method="post" class="mt-3">

				<input type="hidden" name="time" value="{{time}}">
				<input type="hidden" name="user_id" value="{{v.id}}">
				<input type="hidden" name="token" value="{{token}}">

																<label for="passentry" class="mt-3">New Password</label>

																<input autocomplete="off" class="form-control" id="passentry" aria-describedby="usernameHelp"
																		type="password" name="password" required="">

																<label for="confentry" class="mt-3">Confirm New Password</label>

																<input autocomplete="off" class="form-control" id="confentry" aria-describedby="passwordHelp"
																		type="password" name="confirm_password" required="">

																<input autocomplete="off" class="btn btn-primary login w-100 mt-3" type="submit" value="Change password">

														</form>

												</div>

{% endblock %}