{% extends "default.html" %}

{% block title %}
<title>{{SITE_NAME}} Rules</title>
{% endblock %}

{% block content %}
<pre>


</pre>
<div class="mx-4 mt-2 mb-6">
	<h1 class="text-muted text-uppercase">Rules</h5>

	<div id="sidebar" class="my-3">
        <div id="toc_container">
            <h1 id="Contents" class="toc_title"><a href="#Contents">Contents</a></h1>
            <ul class="toc_list">
                <li><a href="#Foundation">Foundation</a></li>
                <li><a href="#The_Rules">The Rules</a>
                    <ul>
                        <li><a href="#Courtesy">Courtesy</a>
                            <ul>
                                <li><a href="#Kindness">Be Kind</a></li>
                                <li><a href="#Clarity">Make your point reasonably clear and plain. Try to assume other people are doing the same.</a></li>
                                <li><a href="#Antagonism">Be no more antagonistic than is absolutely necessary for your argument.</a></li>
                                <li><a href="#Charity">Be charitable.</a></li>
                            </ul>
                        </li>
                        <li><a href="#Content">Content</a>
                            <ul>
                                <li><a href="#Effort">Avoid low-effort participation</a></li>
                                <li><a href="#Weakman">Do not weakman in order to show how bad a group is</a></li>
                                <li><a href="#Culture">Keep culture ware in the culture war thread</a></li>
                                <li><a href="#Leave">Leave the rest of the internet at the door</a></li>
                            </ul>
                        </li>
                        <li><a href="#Engagement">Engagement</a>
                            <ul>
                                <li><a href="#Disagreement">When disagreeing with someone, state your objections explicitly.</a></li>
                                <li><a href="#Evidence">Proactively provide evidence in proportion to how partisan and inflammatory your claim might be.</a></li>
                                <li><a href="#Timeouts">Accept temporary bans as a time-out, and don't attempt to rejoin the conversation until it's lifted.</a></li>
                                <li><a href="#Blocking">Do not weaponize the block feature.</a></li>
                                <li><a href="#Consensus">Don't attempt to build consensus or enforce ideological conformity.</a></li>
                                <li><a href="#Inclusion">Write like everyone is reading and you want them to be included in the discussion.</a></li>
                            </ul>
                        </li>
                        <li><a href="#The_Wildcard_Rule">The Wildcard Rule</a>
                            <ul>
                                <li><a href="#Obnoxious">Don't be egregiously obnoxious</a></li>
                            </ul>
                        </li>
                        <li><a href="#The_Metarule">The Metarule</a>
                            <ul>
                                <li><a href="#Sentiment">Moderation is very much driven by user sentiment. Feel free to report comments or message the mods with your thoughts.</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <pre>

            </pre>
            <h1 id="Foundation"><a href="#Foundation">The Foundation</a></h1>
            <p>
                The purpose of this community is to be a working discussion ground for people who may hold dramatically 
                different beliefs. It is to be a place for people to examine the beliefs of others as well as their own 
                beliefs; it is to be a place where strange or abnormal opinions and ideas can be generated and discussed 
                fairly, with consideration and insight instead of kneejerk responses.<br/><br/>
    
                All of the community's rules must be justified by this foundation.
            </p>

            <pre>

            </pre>
            <h2 id="The_Rules"><a href="The_Rules">The Rules</a></h2>
            <p>
                Here's a list of subreddit rules. Each of them includes an explanation of why it's important.<br/><br/>

                Be aware that you are expected to follow all the rules, not just some of the rules. At the same time, these 
                rules are very subjective. We often give people some flex, especially if they have a history of making good 
                comments, but note that every mod evaluates comments a little differently. You should not be trying to find 
                the edge of the rules, i.e. the Most Offensive Behavior That Won't Get You Banned; I guarantee that, through 
                sheer statistical chance, you will find yourself banned in the process.<br/><br/>
                
                Finally, you don't get a pass to break the rules if the person you're responding to broke the rules first. Report 
                their comment, then either set an example by responding with something that fits the desired subreddit 
                behavior, or don't respond.<br/><br/>
                
                Our goal is to <a href="https://slatestarcodex.com/2014/12/03/framing-for-light-instead-of-heat/">
                optimize for light, not heat</a>. This is a group effort, and all commentators are asked to do 
                their part.
            </p>

                <h3 id="Courtesy"><a href="#Courtesy">Courtesy</a></h3>
                <p>
                    One of the most difficult parts about communities is that it is very easy for them to turn into a pit of 
                    toxicity. People who see toxic behavior in a community will follow that cue with their own toxic behavior, 
                    and this can quickly spiral out of control. This is bad for most subreddits, but would be an absolute 
                    death sentence for ours - it's impossible to discuss sensitive matters in an environment full of flaming 
                    and personal attacks. Therefore, this set of subreddit rules are intended to address this preemptively.
                </p>

                    <h4 id="Kindness"><a href="#Kindness">Be Kind</a></h4>
                    <p>
                        People tend to overestimate offense aimed at them, while underestimating offense aimed at others; relying 
                        on "treat people like they treat you" turns conversations into flame wars. We ask that people be kind, 
                        under all circumstances, even if you think the other person is being mean. Please remember that you can 
                        always drop out of a conversation, ideally (though not necessarily) with an explanation; if a user follows 
                        you and harasses you, report them.<br/><br/>

                        To a lesser but non-zero extent, this also applies to third parties. You shouldn't just go and attack people 
                        that you think are bad, you should be kind to them, even if you think they're mean, even if you think 
                        they're bad.
                    </p>
                    
                    <h4 id="Clarity"><a href="#Clarity">Make your point reasonably clear and plain. Try to assume other people are doing the same.</a></h4>
                    <p>
                        When dealing with sensitive topics, people often veer into sarcasm and mockery, or rely on insinuation. 
                        These do not carry on well to written text (even more so with people with a different outlook), and make 
                        your point harder to understand, which leads discussions to spiral off into confusion. Say what you mean, 
                        mean what you say, and when in doubt, err on the side of being too explicit. Thought experiments are fine, 
                        but mark them as such.<br/><br/>

                        In addition, we ask that responders address what was literally said, on the assumption that this was at least 
                        part of the intention. Nothing is more frustrating than making a clear point and having your conversation 
                        partner assume you're talking in circles. We don't require that you stop after addressing what was literally 
                        said, but try, at least, to start there.
                    </p>
                    
                    <h4 id="Antagonism"><a href="#Antagonism">Be no more antagonistic than is absolutely necessary for your argument.</a></h4>
                    <p>
                        Some of the things we discuss are controversial, and even stating a controversial belief can antagonize people. 
                        That's OK, you can't avoid that, but try to phrase it in the least antagonistic manner possible. If a 
                        reasonable reader would find something antagonistic, and it could have been phrased in a way that preserves 
                        the core meaning but dramatically reduces the antagonism, then it probably should have been phrased differently.
                        <br/><br/>

                        Sometimes this means that you'll feel very silly by adding a bunch of qualifiers (popular ones include "I think", 
                        "I believe", and "in my experience") and couching everything in unnecessarily elaborate language. That's OK! 
                        Remember, the goal is for people with differing opinions to discuss things; if padding a statement with words 
                        helps someone not take it personally, then that's what you should do!<br/><br/>

                        <a href="https://www.reddit.com/r/TheMotte/comments/b6s8up/meta_i_am_on_this_council/ejn2ba3/?context=3">
                            More information here
                        </a>.
                    </p>
                    
                    <h4 id="Charity"><a href="#Charity">Be charitable.</a></h4>
                    <p>
                        Assume the people you're talking to or about have thought through the issues you're discussing, and try to 
                        represent their views in a way they would recognize. Don't paraphrase unflatteringly. Beating down strawmen is 
                        fun, but it's not productive for you, and it's certainly not productive for anyone attempting to engage you in 
                        conversation; it just results in repeated back-and-forths where your debate partner has to say "no, that's not 
                        what I think".
                    </p>

                <pre>

                </pre>
                <h3 id="Content"><a href="#Content">Content</a></h3>
                <p>
                    There's a lot of common commenting practice that makes it easy for people to cause friction and inflammation 
                    without producing value for the community. You can see this behavior on most high-traffic discussion forums, 
                    including most popular subreddits.<br/><br/>

                    This is not intended to suppress anything that people might want to post, but it is intended to force people to 
                    invest effort if they want to post things that have traditionally been pain points.
                </p>

                    <h4 id="Effort"><a href="#Effort">Avoid low-effort participation</a></h4>
                    <p>
                        Discussing things is hard. Discussing things in a useful way, in an environment with opposing views, is really 
                        hard. Doing all of this while responding to three-word shitposts is basically impossible.<br/><br/>

                        Put some effort into your comment; if you wrote it in two seconds, it probably does not contribute much. If 
                        someone responds to you with a three-word shitpost, you are welcome to just not respond back. There's no sense 
                        in encouraging that.
                    </p>

                    <h4 id="Weakman"><a href="#Weakman">Do not weakman in order to show how bad a group is</a></h4>
                    <p>
                        There are literally millions of people on either side of every major conflict, and finding that one of them is 
                        doing something wrong or thoughtless proves nothing and adds nothing to the conversation. We want to engage with 
                        the best ideas on either side of any issue, not the worst.<br/><br/>

                        Post about specific groups, not general groups, wherever possible. General groups include things like gun rights 
                        activists, pro-choice groups, and environmentalists. Specific groups include things like The NRA, Planned 
                        Parenthood, and the Sierra Club. Posting about general groups is often not falsifiable, and can lead to straw 
                        man arguments and non-representative samples.<br/><br/>
                        
                        Avoid posting solely about gaffes, misstatements, or general bad behavior from prominent people. Discussing policy 
                        implications is always fine, and concrete criminal or impeachable offenses are also fair game. For example, 
                        "Look at Congressman Jones being a jerk" is not OK; "congressman Jones is under suspicion of taking bribes" is 
                        fine, as is "congressman Jones's employment law is bad for these reasons . . ."<br/><br/>
                        
                        Sometimes we get good discussion about the consequences of gaffes, misstatements, or general bad behavior; for 
                        example, "here's Congressman Jones being a jerk, let's talk about the underlying reason why congressmen do this 
                        sort of thing regularly". In most cases, these should stand as valuable posts regardless of whether they refer 
                        to Congressman Jones or not.<br/><br/>
                        
                        Links to news stories should generally follow the above rules, although cannot be expected to adhere to them exactly. 
                        For instance, a news story which uses an anecdote to introduce a concept is OK (this is a very common framing 
                        discussion), a news story which is about tweets from non-prominent people reacting to some event isn't ok.
                    </p>

                    <h4 id="Culture"><a href="#Culture">Keep culture ware in the culture war thread</a></h4>
                    <p>
                        "Culture war" is hard to define, but here's a list of things that currently fall in that category:
                        <ul>
                            <li>The politically-charged actions or beliefs of prominent current or recent politicians</li>
                            <li>The actions or beliefs of political-party-affiliated voters</li>
                            <li>Race</li>
                            <li>Abortion</li>
                            <li>Affirmative action</li>
                            <li>Human biodiversity</li>
                            <li>IQ differences across various groups of humans</li>
                            <li>Sexual harrassment</li>
                            <li>Censorship</li>
                            <li>Trans issues</li>
                        </ul>
                        We keep these topics in a single unified sort-by-new thread for a few reasons.
                        <ul>
                            <li>
                                Keeping them in a high-volume post discourages any individual topic from reaching a boiling point. 
                                We do occasionally get deep subthreads where two people debate back and forth for a hundred posts, 
                                but it's intentionally hard for other people to discover it, which prevents either side from being 
                                overwhelmed by responses.
                            </li>
                            <li>
                                It forces people who are looking for culture war topics to at least skim past the rest of the general 
                                culture-war discussion. People have a tendency to look at only threads that they feel strongly about, 
                                which can quickly ratchet up the overall heat, both perceived and actual.
                            </li>
                            <li>
                                It's what we did before, and it worked, which makes us <a href="https://wiki.lesswrong.com/wiki/Chesterton%27s_Fence">
                                hesitant to change it</a>.
                            </li>
                        </ul>
                        Remember that <a href="https://www.joelonsoftware.com/2003/03/03/building-communities-with-software/">
                        the implementation of a community influences the community's growth</a>; we're aware that some of this 
                        is inconvenient, but that's intended.
                    </p>

                    <h4 id="Leave"><a href="#Leave">Leave the rest of the internet at the door</a></h4>
                    <p>
                        In keeping with the rules above regarding "low-effort" and "weak-man" comments, and our goal to produce more 
                        light than heat, we ask that you refrain from posting bare links to culture-war-related discussions held outside 
                        of this sub. If you are going to link to another platform or subreddit we ask that you please put in the work 
                        to contextualize the post and explain why it is relevant to readers of this community. Furthermore, any links 
                        to Reddit must be to the non-participation np.reddit.com domain as vote manipulation and brigading are against 
                        the site-wide terms of service.<br/><br/>

                        Finally, in the interest of the health of this community, we ask that you do not post links from this subreddit 
                        to other high-participation platforms or ping Reddit users who do not already participate here. Both are invitations 
                        for users unfamiliar with our norms to come here and (often angrily) make posts that break our rules. Exceptions 
                        may be made for communities specifically designed for compatible content, but these will be examined by the 
                        moderators on a case by case basis. If in doubt, please ask first by messaging the moderators.
                    </p>
                    
                <pre>

                </pre>
                <h3 id="Engagement"><a href="#Engagement">Engagement</a></h3>
                <p>
                    Online discussion is hard to do properly. A lot of tonal information is lost through text, and in an asynchronous 
                    forum like Reddit, simply asking someone "what do you mean?" can take hours. In addition, because Reddit is a threaded 
                    medium, responding to multiple people asking the same question requires that you either copy-paste your answer, rewrite 
                    your answer, make a bunch of posts that simply link to your original answer, or ignore some of the replies; all of 
                    these solutions suck, for various reasons.<br/><br/>

                    Finally, people are bad at disagreeing. It's always easier to say "yes, I agree" than "no, you're wrong, because . . .". 
                    We try to keep things open for the latter as much as possible; this isn't going to be always possible, but if it 
                    were easy, other people would have done it.<br/><br/>
                    
                    We ask that people keep these in mind and try to keep the discussion working as well as it can.
                </p>

                    <h4 id="Disagreement"><a href="#Disagreement">When disagreeing with someone, state your objections explicitly.</a></h4>
                    <p>
                        To have a discussion on some point of disagreement it is necessary that both parties be willing to say what they 
                        believe and why, not merely that they disagree with the other party. Sarcasm and mockery make it very easy to 
                        express that you disagree with someone without explaining why, or what contrary claim you actually endorse, and 
                        you can't grow a discussion from those grounds.<br/><br/>

                        In addition, online discussion forums often have a long turnaround time between replies; if it takes a day for you 
                        to explain what you meant, that's a day wasted, and a day you could have better used to make your point.
                    </p>

                    <h4 id="Evidence"><a href="#Evidence">Proactively provide evidence in proportion to how partisan and inflammatory your claim might be.</a></h4>
                    <p>
                        Also known as the "hot take" rule.<br/><br/>

                        If you're saying something that's deeply out of the ordinary or difficult-to-defend, the next person is going 
                        to ask you to explain what you mean. You can head this off by explaining what you mean before hitting submit. The 
                        alternative is that the first half-dozen responses will all be "can you explain in more detail", which increases 
                        clutter and makes it much harder to follow the conversation.
                    </p>

                    <h4 id="Timeouts"><a href="#Timeouts">Accept temporary bans as a time-out, and don't attempt to rejoin the conversation until it's lifted.</a></h4>
                    <p>
                        In part, our temporary bans are intended for people to cool down, think about how they've been approaching 
                        discussion, and come back when they've mentally reset. Ban evasion is treated rather strictly, and the definition 
                        of "ban evasion" is broad - in general, it includes attempts to post things in the subreddit even when the ban is 
                        not yet lifted. Specifically, this includes editing your comment in an attempt to continue the discussion, which 
                        may be grounds for your comment to be removed and for the ban to be increased.<br/><br/>

                        Please don't do that. Come back when the ban is up and the conversation does not seem as immediate.<br/><br/>
                        
                        If you believe you have been banned in error, please send us modmail and explain the situation. There is an appeal 
                        process and we do sometimes overturn bans.
                    </p>

                    <h4 id="Blocking"><a href="#Blocking">Do not weaponize the block feature.</a></h4>
                    <p>
                        As a community, we strongly discourage blocking. It goes against the ethos of this sub, which is to engage with 
                        all perspectives, even ones you find disagreeable. That said, if you really, really can't stand to see someone's 
                        posts, block them if you absolutely have to. Quietly. Do not announce it, brag about it, or use it as a "parting shot." 
                        If you block someone, you may not reply to them first.<br/><br/>

                        If you are blocking a lot of people, to the point that threads are being disrupted by multiple people unable to 
                        reply, we will consider that an abuse of the block feature. You can't stand That One Guy? Fine. You're blocking 
                        everyone who argues with you? That's disruptive.<br/><br/>

                        We cannot "prove" who is blocking, who blocked first, or whether it was justified. We will use our best judgment 
                        and the preponderance of the evidence and it's possible we'll make mistakes, but consider this a very strong 
                        reason not to use the feature. If you didn't block anyone and we think you did and ban you for it, we can probably 
                        be convinced we made a mistake. If you frequently block people but try to convince us that you didn't do anything 
                        wrong, it's going to be much harder to convince us we made a mistake.
                    </p>

                    <h4 id="Consensus"><a href="#Consensus">Don't attempt to build consensus or enforce ideological conformity.</a></h4>
                    <p>
                        "As everyone knows . . ."<br/><br/>

                        "I'm sure you all agree that . . ."<br/><br/>
                    
                        We visit this subreddit specifically because we don't all agree, and regardless of how universal you believe 
                        knowledge is, I guarantee <a href="https://xkcd.com/1053/">someone doesn't know it yet</a>. Humans are bad at 
                        disagreeing with each other, and starting out from an assumption of agreement is a great way to quash disagreement. 
                        It's a nice rhetorical trick in some situations, but it's against what we're trying to accomplish here.
                    </p>

                    <h4 id="Inclusion"><a href="#Inclusion">Write like everyone is reading and you want them to be included in the discussion.</a></h4>
                    <p>
                        If the goal of the subreddit is to promote discussion, then we ask that people keep this in mind when posting. 
                        Avoid being dismissive of your political opponents, relying too much on injokes at someone else's expense, or 
                        anything that discourages people from participating in the discussion. This is one of the vaguest rules and one 
                        of the rules least likely to be enforced, since any real violation is likely to fall under another category. 
                        But please keep it in mind. Discussion is a group effort; be part of the group, and invite others into the group.
                    </p>
                    
                <pre>

                </pre>
                <h3 id="The_Wildcard_Rule"><a href="#The_Wildcard_Rule">The Wildcard Rule</a></h3>
                <p>
                    So there's this Jewish weekly event called Shabbat.<br/><br/>

                    Stay with me. I'm going somewhere with this.<br/><br/>
                    
                    Shabbat is a holy day that is intended as a day of rest. It dates back over two thousand years. If you're 
                    an Orthodox Jew, you treat it pretty seriously, including following a rule against doing "work". Work is defined in 
                    terms of 39 things, including stuff like "plowing earth" and "lighting a fire", but also including weirdly specific 
                    items like "separating two threads" and "erasing two or more letters". The rationale for some of this has been lost 
                    to time, but what is clear is that these are not meant to be taken exactly, but rather taken as categories.<br/><br/>
                    
                    And, inevitably, in the last two thousand years, we've invented some new things that humans like to do, like "playing 
                    video games" and "turning light bulbs on".<br/><br/>
                    
                    If we were rewriting the holy texts today, the people in charge would just make a decision on whether those count as 
                    "work" and we'd go from there. But of course we're not doing so, and we have to interpret the texts as they currently 
                    exist. And there's some branches of Judaism that think turning light bulbs on should be prohibited.<br/><br/>
                    
                    But there's also a subset in that group that thinks it should only be prohibited because of the letter of the law. 
                    It's not "doing a thing that causes a light bulb to turn on" that's disallowed, it's that flipping a switch that's 
                    connected to mains current which could in theory cause a spark which technically violates the prohibition against 
                    "lighting a fire".<br/><br/>
                    
                    Behold: the <a href="https://en.wikipedia.org/wiki/KosherSwitch">Kosher Switch</a>. This little device has an external switch, 
                    but the external switch is not connected to anything electronic. Instead, it moves a small opaque object into the path 
                    of a light emitter and a photosensor. Every once in a while the KosherSwitch turns on a light on the outside casing 
                    to warn the user that it's about to check its light path, then turns on the internal light and checks the position 
                    of the switch. If it needs to switch on or off the circuit it's connected to, it then does so.<br/><br/>
                    
                    This may technically be allowed, because you aren't switching any electrical circuits on or off, you're just moving 
                    a little bit of plastic which, by a weird and totally unforeseeable coincidence that definitely does not violate any 
                    holy texts, eventually results in a light being turned on or off.<br/><br/>
                    
                    The following rule is intended for anyone who thinks the Kosher Switch is a reasonable solution to a problem.
                </p>

                    <h4 id="Obnoxious"><a href="#Obnoxious">Don't be egregiously obnoxious</a></h4>
                    <p>
                        No matter how careful we are, someone's going to come up with a way to be annoying, in a way that technically 
                        follows the rules. If we were to write a rule saying "don't do this thing", they would bend the rule to be as 
                        broad as possible, then complain that we're not enforcing it properly.<br/><br/>

                        The goal of this subreddit is not, however, slavish adherence to rules. It's discussion. And if this means 
                        we need to use our human judgement to make calls, then that's exactly what we will do.<br/><br/>
                        
                        There are people who think that every rule should be absolutely objective, to the point where our job could be 
                        done by a robot. I will point out that no legal system in history has ever worked this way and that if you 
                        think we can do better than the entire human race working on it for five thousand years, then I invite you to 
                        submit a proposal on how it will work.
                    </p>
                    
                <pre>

                </pre>
                <h3 id="The_Metarule"><a href="#The_Metarule">The Metarule</a></h3>
                <p></p>

                    <h4 id="Sentiment"><a href="#Sentiment">Moderation is very much driven by user sentiment. Feel free to report comments or message the mods with your thoughts.</a></h4>
                    <p>
                        In the end, subreddits exist for people. They don't necessarily exist for all people, but without people, 
                        they die.<br/><br/>

                        You are encouraged to make suggestions and ask questions. You are also encouraged to report comments that you 
                        think violate the above rules; there's a lot of comments on this subreddit and we don't necessarily see them all, 
                        so if you think a comment definitely breaks the rules, and we haven't said anything about it, we may just not 
                        have seen it. If you're reporting for something that falls under the Wildcard, please explain why you think it 
                        should be removed. It is not against the rules to disagree with you; please don't report comments simply for making 
                        statements that you disagree with.<br/><br/>
                        
                        Note that "driven by" does not mean "controlled by" or "dictated by". We override more than 90% of all reports, 
                        and we will sometimes go against the will of the community. This is not a democracy and does not pretend to be 
                        one. However, the stronger that will is, the better a justification we'll need to do so.
                    </p>
        </div>
	</div>
</div>
{% endblock %}
