{% extends "search.html" %}

{% block listing_template %}
<div class="row row-cols-1 row-cols-md-3 mt-3">
{% include "user_listing.html" %}
</div>
{% endblock %}

{% block listinglength %}{{users | length}}{% endblock %}

{% block pagenav %}
	<nav aria-label="Page navigation">
		<ul class="pagination pagination-sm mb-0">
			<li class="page-item{% if page==1 %} disabled{% endif %}">

				<small><a class="page-link" href="?q={{query | urlencode}}&page={{page-1}}" tabindex="-1"{% if page==1 %} aria-disabled="true"{% endif %}>Back</a></small>
			</li>
			<li class="page-item{% if not next_exists %} disabled{% endif %}">
				<small><a class="page-link" href="?q={{query | urlencode}}&page={{page+1}}">Next</a></small>

			</li>
		</ul>
	</nav>
{% endblock %}
