{% extends "home.html" %}

{% block pagetype %}search{% endblock %}

{% block title %}
<title>Search for "{{query}}" - {{SITE_NAME}}"</title> <meta name="description" content="{{total}} result{{'s' if total != 1 else ''}}">
{% endblock %}

{% block PseudoSubmitForm %}{% endblock %}

{% block navbar %}
	{% if not '/users/' in request.path %}
		<div class="mt-5 d-flex align-items-center">
			<div class="dropdown dropdown-actions">
				<button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% if t=="hour" %}<i class="fas fa-clock mr-1"></i>
					{% elif t=="day" %}<i class="fas fa-calendar-day mr-1"></i>
					{% elif t=="week" %}<i class="fas fa-calendar-week mr-1"></i>
					{% elif t=="month" %}<i class="fas fa-calendar-alt mr-1"></i>
					{% elif t=="year" %}<i class="fas fa-calendar mr-1"></i>
					{% elif t=="all" %}<i class="fas fa-infinity mr-1"></i>
					{% endif %}
				{{t | capitalize}}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
					{% if t != "hour" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort={{sort}}&t=hour"><i class="fas fa-clock mr-2"></i>Hour</a>{% endif %}
					{% if t != "day" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort={{sort}}&t=day"><i class="fas fa-calendar-day mr-2"></i>Day</a>{% endif %}
					{% if t != "week" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort={{sort}}&t=week"><i class="fas fa-calendar-week mr-2"></i>Week</a>{% endif %}
					{% if t != "month" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort={{sort}}&t=month"><i class="fas fa-calendar-alt mr-2"></i>Month</a>{% endif %}
					{% if t != "year" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort={{sort}}&t=year"><i class="fas fa-calendar mr-2"></i>Year</a>{% endif %}
					{% if t != "all" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort={{sort}}&t=all"><i class="fas fa-infinity mr-2"></i>All</a>{% endif %}
				</div>
			</div>

			<div class="dropdown dropdown-actions">
				<button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% if sort=="top" %}<i class="fas fa-arrow-alt-circle-up mr-1"></i>{% endif %}
					{% if sort=="bottom" %}<i class="fas fa-arrow-alt-circle-down mr-1"></i>{% endif %}
					{% if sort=="new" %}<i class="fas fa-sparkles mr-1"></i>{% endif %}
					{% if sort=="old" %}<i class="fas fa-book mr-1"></i>{% endif %}
					{% if sort=="controversial" %}<i class="fas fa-bullhorn mr-1"></i>{% endif %}
					{% if sort=="comments" %}<i class="fas fa-comments mr-1"></i>{% endif %}
					{{sort | capitalize}}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
					{% if sort != "top" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort=top&t={{t}}"><i class="fas fa-arrow-alt-circle-up mr-2"></i>Top</a>{% endif %}
					{% if sort != "bottom" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort=bottom&t={{t}}"><i class="fas fa-arrow-alt-circle-down mr-2"></i>Bottom</a>{% endif %}
					{% if sort != "new" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort=new&t={{t}}"><i class="fas fa-sparkles mr-2"></i>New</a>{% endif %}
					{% if sort != "old" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort=old&t={{t}}"><i class="fas fa-book mr-2"></i>Old</a>{% endif %}
					{% if sort != "controversial" %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort=controversial&t={{t}}"><i class="fas fa-bullhorn mr-2"></i>Controversial</a>{% endif %}
					{% if sort != "comments" and "/posts/" in request.path %}<a class="dropdown-item" href="?q={{query | urlencode}}&sort=comments&t={{t}}"><i class="fas fa-comments mr-2"></i>Comments</a>{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block content %}

<div class="row no-gutters my-md-3">

	<div class="col">

		<div class="card search-results">

			<div class="card-header bg-white d-none">
				<ul class="list-inline no-bullets mb-0">
					<li class="list-inline-item active mr-4"><i class="fas fa-align-left text-gray-400"></i></li>
					<li class="list-inline-item"><i class="fas fa-link text-gray-400"></i></li>
				</ul>
			</div>
			<div class="card-body">
				<div class="pl-md-3">
					<div class="text-muted text-small mb-1">Advanced search parameters (with examples): "author:quadnarca", "domain:reddit.com", "over18:true"<div>
					<br>
					<div class="text-muted text-small mb-1">Showing {% block listinglength %}{{listing | length}}{% endblock %} of {{total}} result{{'s' if total != 1 else ''}} for</div>
					<h1 class="h4 mb-0">{{query}}</h1>

				</div>
			</div>
		</div>
	</div>

</div>


{% if not '/users/' in request.path %}

<div class="flex-row tab-bar sticky d-none">

	<ul class="nav post-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link{% if sort=='top' %} active{% endif %}" href="?sort=top&q={{query | urlencode}}&t={{t}}"><i class="fas fa-arrow-alt-circle-up"></i>Top</a>
		</li>
		<li class="nav-item">
			<a class="nav-link{% if sort=='bottom' %} active{% endif %}" href="?sort=bottom&q={{query | urlencode}}&t={{t}}"><i class="fas fa-arrow-alt-circle-down"></i>Bottom</a>
		</li>
		<li class="nav-item">
			<a class="nav-link{% if sort=='new' %} active{% endif %}" href="?sort=new&q={{query | urlencode}}&t={{t}}"><i class="fas fa-sparkles"></i>New</a> 
		</li>
		<li class="nav-item">
			<a class="nav-link{% if sort=='old' %} active{% endif %}" href="?sort=old&q={{query | urlencode}}&t={{t}}"><i class="fas fa-book"></i>Old</a> 
		</li>
		<li class="nav-item">
			<a class="nav-link{% if sort=='fiery' %} active{% endif %}" href="?sort=fiery&q={{query | urlencode}}&t={{t}}"><i class="fas fa-bullhorn"></i>Controversial</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link {% if sort=='comments' %} active{% endif %}" href="/?sort=comments&q={{query | urlencode}}&t={{t}}"><i class="fas fa-comments"></i>Comments</a>
		</li>
		<li class="nav-item">
			<a class="nav-link{% if sort=='random' %} active{% endif %}" href="?sort=random&q={{query | urlencode}}&t={{t}}"><i class="fas fa-arrow-alt-circle-down"></i>Random</a>
		</li>
	</ul>

	</div>
	{% endif %}

	<div class="row no-gutters">
		<div class="col">
			<div class="flex-row box-shadow-bottom d-flex justify-content-center justify-content-md-between align-items-center">
				<ul class="nav settings-nav">
					<li class="nav-item">
						<a class="nav-link{% if '/posts/' in request.path %} active{% endif %}" href="/search/posts/?sort={{sort}}&q={{query | urlencode}}&t={{t}}">Posts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link{% if  '/comments/' in request.path %} active{% endif %}" href="/search/comments/?sort={{sort}}&q={{query | urlencode}}&t={{t}}">Comments</a>
					</li>
					<li class="nav-item">
						<a class="nav-link{% if  '/users/' in request.path %} active{% endif %}" href="/search/users/?sort={{sort}}&q={{query | urlencode}}&t={{t}}">Users</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row no-gutters">

		<div class="col-12">

			<div class="posts" id="posts">

				{% block listing_template %}
					{% include "submission_listing.html" %}
				{% endblock %}

			</div>
		</div>
	</div>
	{% endblock %}

	{% block pagenav %}
		<nav aria-label="Page navigation">
			<ul class="pagination pagination-sm mb-0">
				<li class="page-item{% if page==1 %} disabled{% endif %}">

					<small><a class="page-link" href="?sort={{sort}}&q={{query | urlencode}}&t={{t}}&page={{page-1}}" tabindex="-1"{% if page==1 %} aria-disabled="true"{% endif %}>Back</a></small>
				</li>
				<li class="page-item{% if not next_exists %} disabled{% endif %}">
					<small><a class="page-link" href="?sort={{sort}}&q={{query | urlencode}}&t={{t}}&page={{page+1}}">Next</a></small>

				</li>
			</ul>
		</nav>

	{% endblock %}