{% extends "settings.html" %}

{% block pagetitle %}Custom CSS - {{'SITE_NAME' | app_config}}{% endblock %}

{% block content %}

<div class="flex flex-col space-y-4 sm:py-4 my-2.5 sm:my-0">

	<!-- Custom website CSS -->
	<div class="rounded-lg divide-y divide-gray-300 bg-gray-100 border border-gray-300 shadow-inset-t-white-10">
		<div class="px-4 py-4">
			<h2 class="label text-black">Custom site CSS</h2>
			<form id="profile-settings" action="/settings/css" method="post">
				<input type="hidden" name="formkey" value="{{v.formkey}}">
				<textarea class="text-lg sm:text-base text-gray-100 appearance-none block w-full rounded shadow-inner p-2 bg-gray-800 border border-gray-900 hover:border-black focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" id="bio-text" aria-label="With textarea" placeholder="Custom CSS" rows="50" name="css" form="profile-settings" maxlength="4000">{% if v.css %}{{v.csslazy}}{% endif %}</textarea>
				<small>Limit of 4000 characters</small>
				<div class="d-flex mt-2">
					<input id="submit-btn" class="btn btn-primary ml-auto" type="submit" value="Save">
				</div>
			</form>
		</div>
	</div>

</div>

{% endblock %}

{% block scripts %}
{% if v.agendaposter %}
<script>
	const flip = (e) => {
		e.preventDefault();
		document.getElementsByTagName("body")[0].setAttribute("style", "-moz-transform: scale(-1, -1);-o-transform: scale(-1, -1);-webkit-transform: scale(-1, -1);transform: scale(-1, -1);");
	};

	document.getElementById("submit-btn").onclick = flip;
</script>
{% endif %}
{% endblock %}