{% extends "settings.html" %}

{% block pagetitle %}Custom profilecss - {{SITE_NAME}}{% endblock %}

{% block content %}

<div class="row">

	<div class="col col-md-8">

	<div class="settings">

		<div id="description">

		<p class="text-small text-muted">Edit your profile css.</p>

		<div class="settings-section rounded mb-0">

			<div class="body d-lg-flex border-bottom">
				<div class="w-lg-100">
					<form id="profile-settings" action="/settings/profilecss" method="post">
						<input type="hidden" name="formkey" value="{{v.formkey}}">
						<textarea autocomplete="off" class="form-control rounded" id="bio-text" aria-label="With textarea" placeholder="Custom profile css" rows="50" name="profilecss" form="profile-settings" maxlength="4000">{% if v.profilecss %}{{v.profilecss}}{% endif %}</textarea>
						<small>Limit of 4000 characters</small>
						<div class="d-flex mt-2">
							<input autocomplete="off" class="btn btn-primary ml-auto" type="submit" value="Save">
						</div>
					</form>
				</div>

			</div>

	</div>

	</div>

</div>
</div>
</div>

{% endblock %}