{% extends "settings.html" %}

{% block pagetitle %}Profile Settings - {{SITE_NAME}}{% endblock %}

{% block content %}

<style>
	.bg-image {
		padding: 0.25rem;
		width: 15rem;
		height: 10rem;
		object-fit: cover;
	}
	.bg-button {
		margin: 0.25rem;
		padding: 0;
	}
</style>

<div id="posts" class="row">

	<div class="col col-lg-10">

		<div class="settings">


			{% if SITE_NAME == 'rDrama' %}
				<h2 class="h5" name="referral">House</h2>

				<div class="settings-section rounded">

					<div class="d-lg-flex border-bottom">
						<div class="title w-lg-25">
							<label for="theme">House</label>
						</div>

						<div class="body w-lg-100">
							{% if v.house %}
								{% set cost=2000 %}
								<p>Change your house (cost: {{cost}} coins or marseybux).</p>
							{% else %}
								{% set cost=500 %}
								<p>Join a house (cost: {{cost}} coins or marseybux).</p>
							{% endif %}
							<div class="input-group mb2">
								<select {% if v.coins < cost and v.procoins < cost %}disabled{% endif %} autocomplete="off" id='house' class="form-control" form="profile-settings" name="house" onchange="post_toast(this,'/settings/profile?house='+document.getElementById('house').value, '1')">
								{% for entry in  ("None","Furry","Femboy","Vampire","Racist") %}
									<option value="{{entry}}" {% if v.house==entry %} selected {% endif %}>
										{{entry}}
									</option>
								{% endfor %}
							</select>
							</div>

							</div>

					</div>
				</div>
			{% endif %}


















			<h2 class="h5" name="referral">Theme</h2>

			<div class="settings-section rounded">

					<div class="d-lg-flex border-bottom">

						<div class="title w-lg-25">
							<label for="cardview">Card View</label>
						</div>

						<div class="body w-lg-100">

							<div class="custom-control custom-switch">
								<input autocomplete="off" type="checkbox" class="custom-control-input" id="cardview" name="cardview"{% if v.cardview %} checked{% endif %} onchange="post_toast(this,'/settings/profile?cardview='+document.getElementById('cardview').checked);">
								<label class="custom-control-label" for="cardview"></label>
							</div>

							<span class="text-small-extra text-muted">Enable if you would like to display images and videos in full size on the frontpage.</span>

						</div>

					</div>


					<div class="d-lg-flex border-bottom">

						<div class="title w-lg-25">
							<label for="highlightcomments">Highlight New Comments</label>
						</div>

						<div class="body w-lg-100">

							<div class="custom-control custom-switch">
								<input autocomplete="off" type="checkbox" class="custom-control-input" id="highlightcomments" name="highlightcomments"{% if v.highlightcomments %} checked{% endif %} onchange="post_toast(this,'/settings/profile?highlightcomments='+document.getElementById('highlightcomments').checked);">
								<label class="custom-control-label" for="highlightcomments"></label>
							</div>

							<span class="text-small-extra text-muted">Enable if you would like to highlight comments made after the last time you visited a thread.</span>

						</div>

					</div>


					<div class="d-lg-flex border-bottom">
						<div class="title w-lg-25">
							<label for="theme">Website Theme</label>
						</div>

						<div class="body w-lg-100">
							<p>Change the theme for the website.</p>
							<div class="input-group mb2">
								<select autocomplete="off" id='theme' class="form-control" form="profile-settings" name="theme" onchange="post_toast(this,'/settings/profile?theme='+document.getElementById('theme').value, '1')">
								
								{% if SITE_NAME == 'rDrama' %}
									{% set themes = ["dramblr", "classic", "classic_dark", "transparent", "win98", "dark", "light", "coffee", "tron", "4chan", "midnight"] %}
								{% else %}
									{% set themes = ["dramblr", "reddit", "transparent", "win98", "dark", "light", "coffee", "tron", "4chan", "midnight"] %}
								{% endif %}
								
								{% for entry in themes %}
									<option value="{{entry}}" {% if v.theme==entry %} selected {% endif %}>
										{{entry}}
									</option>
								{% endfor %}
							</select>
							</div>

						</div>

				</div>
				<div class="body d-lg-flex border-bottom">

				<label class="text-black w-lg-25">Theme Color</label>

				<div class="d-flex">

					<form action="/settings/themecolor" id="themecolor-form" method="post" class="color-picker" style="line-height: 0">
							<input type="hidden" name="formkey" value="{{v.formkey}}">

							{% for themecolor in COLORS %}
							<input autocomplete="off" type="radio" name="themecolor" id="themecolor-{{themecolor}}" value="{{themecolor}}" {% if v.themecolor == themecolor %}checked{% endif %} onclick="document.getElementById('themecolor-form').submit()">
							<label class="color-radio" for="themecolor-{{themecolor}}">
								<span style="background-color: #{{themecolor}}">
								{% if v.themecolor.lower() == themecolor %}
									<i class="fas fa-check text-white"></i>
								{% else %}
									&nbsp;
								{% endif %}
								</span>
							</label>
							{% endfor %}

					</form>

				</div>

				<p class="text-small mb-2">Or type a color code:</p>
				<div class="d-flex">
					<form action="/settings/themecolor" id="color-code-form" method="post">
						<input type="hidden" name="formkey" value="{{v.formkey}}">
	
						<input class="form-control" type="text" name="themecolor" id="color-code" value="{% if v.themecolor %}{{v.themecolor}}{% endif %}">
						<label class="btn btn-secondary text-capitalize mr-2 mt-2 mb-0">Update<input type="text" for="color-code" onclick="form.submit()" hidden=""></label>
					</form>
				</div>

			</div>
			<div class="d-lg-flex border-bottom">
			<div class="title w-lg-25">
				<label for="theme">Website Backgrounds</label>
			</div>
				<div class="body w-lg-100">
					<p>Change the background for the website.</p>
					<div class="input-group mb2">
							<select autocomplete="off" id='backgroundSelector' class="form-control" form="profile-settings" name="background" onchange="updatebgselection();">								
							{% for entry in ["anime", "fantasy", "solarpunk", "pixelart"] %}
								<option value="{{entry}}" {% if v.background and v.background.startswith(entry) %}selected{% endif %}>
									{{entry}}
								</option>
							{% endfor %}
						</select>
					</div>
					{% if v.background %}
						<div class="d-flex mt-2">
							<a class="btn btn-primary ml-auto" role="button" onclick="post_toast(this,'/settings/removebackground','1')">Remove Background</a>
							<pre></pre>
						</div>
					{% endif %}
					<div id="bgcontainer"></div>
				</div>
				</div>
			</div>

			<h2 class="h5">Profile Picture</h2>

			<div class="settings-section rounded">

				<div class="d-flex">

					<div class="title w-lg-25 text-md-center">
						<img loading="lazy" alt="your profile picture" src="{{v.profile_url}}" class="profile-pic-75">
					</div>

					<div class="body w-lg-100 my-auto">

						<div class="d-flex">

							<div>
								<form action="/settings/images/profile" method="post" enctype="multipart/form-data">
									<input type="hidden" name="formkey" value="{{v.formkey}}">
									<label class="btn btn-secondary text-capitalize mr-2 mb-0">
										Update<input autocomplete="off" type="file" accept="image/*" {% if request.headers.get('cf-ipcountry')=="T1" %}disabled{% endif %} hidden name="profile" onchange="form.submit()">
									</label>
								</form>

							</div>

						</div>

						<div class="text-small-extra text-muted mt-3">JPG, PNG, GIF files are supported. Max file size is {% if v and v.patron %}8{% else %}4{% endif %} MB.</div>

					</div>

				</div>

			</div>
			<h2 class="h5">Profile Banner</h2>

			<div class="settings-section rounded">

				<div class="d-flex">

					<div class="title w-lg-75 text-md-center">
						<img loading="lazy" alt="your banner" src="{{v.banner_url}}" class="banner-pic-135">
					</div>

					<div class="body w-lg-100 my-auto">

						<div class="d-flex">

							<div>
								<form action="/settings/images/banner" method="post" enctype="multipart/form-data">
									<input type="hidden" name="formkey" value="{{v.formkey}}">
									<label class="btn btn-secondary text-capitalize mr-2 mb-0">
										Update<input autocomplete="off" type="file" {% if request.headers.get('cf-ipcountry')=="T1" %}disabled{% endif %} accept="image/*" hidden name="banner" onchange="form.submit()">
									</label>
								</form>

							</div>

						</div>

						<div class="text-small-extra text-muted mt-3">JPG, PNG, GIF files are supported. Max file size is {% if v and v.patron %}8{% else %}4{% endif %} MB.</div>

					</div>

				</div>

			</div>

			<h2 class="h5" id="referral" name="referral">Referrals</h2>

			<p class="text-small text-muted">Invite a friend.</p>

			<div class="settings-section rounded">

				<div class="d-lg-flex">

					<div class="title w-lg-25">
						<label for="referral_code">Referral code</label>
					</div>

					<div class="body w-lg-100">

						<div class="input-group">

							<input autocomplete="off" type="text" readonly="" class="form-control copy-link" id="referral_code" value="{{SITE_FULL}}/signup?ref={{v.username}}" data-clipboard-text="{{SITE_FULL}}/signup?ref={{v.username}}">

							<span class="input-group-append" data-bs-toggle="tooltip" data-bs-placement="top" title="You have referred {{v.referral_count}} user{{'s' if v.referral_count != 1 else ''}} so far. {% if v.referral_count==0 %}¯\_(ツ)_/¯{% elif v.referral_count>10%}Wow!{% endif %}">
								<span class="input-group-text text-primary border-0">
									<i class="far fa-user mr-1" aria-hidden="true"></i>{{v.referral_count}}</span>
								</span>

							</div>

							<div class="text-small-extra text-muted mt-3">Share this link with a friend. {% if v.referral_count==0 %} When they sign up, you'll get the bronze recruitment badge. <a href="/badges">Learn more.</a>{% elif v.referral_count<10 %} When you refer 10 friends, you'll receive the silver recruitment badge. <a href="/badges">Learn more.</a>{% elif v.referral_count<100 %} When you refer 100 friends, you'll receive the gold recruitment badge. <a href="/badges">Learn more</a>.{% endif %}</div>

							</div>

						</div>

					</div>

					
					{% if SITE_NAME == 'rDrama' %}
						<h2 class="h5" name="referral">Linked Accounts</h2>

						<p class="text-small text-muted">Manage your connections to other services.</p>

						<div class="settings-section rounded">

							<div class="d-lg-flex">

							<div class="title w-lg-25">
								<label>Discord</label>
							</div>

							<div class="body w-lg-100">

								{% if v.discord_id %}
									<form action="/settings/remove_discord" method="post">
									<input type="hidden" name="formkey" value="{{v.formkey}}">
									<input type="submit" class="btn btn-secondary text-capitalize mr-2 mb-0 mt-2" value="Disconnect Discord">
									</form>

									<div class="text-small-extra text-muted mt-3">Disconnecting your Discord account will remove you from the {{SITE_NAME}} Discord server.</div>
								{% else %}
									<a href="/discord" class="btn btn-primary">Link Discord</a>
									<div class="text-small-extra text-muted mt-3">Link your Discord account to join the {{SITE_NAME}} Discord server.</div>
								{% endif %}

							</div>

							</div>

						</div>
					{% endif %}


					<h2 class="h5" name="referral">RSS Feed</h2>

					<p class="text-small text-muted">Subscribe to the {{SITE_NAME}} RSS feed.</p>

					<div class="settings-section rounded">

						<div class="d-lg-flex">

							<div class="body w-lg-100">

								<input autocomplete="off" type="text" readonly="" class="form-control copy-link" id="rss_feed" value="{{SITE_FULL}}/rss/hot/all" data-clipboard-text="{{SITE_FULL}}/rss/hot/all">

								<div class="text-small-extra text-muted mt-3">You can change the feed by replacing "hot" with whatever sorting you want and "all" with whatever time filter you want.</div>

							</div>

						</div>

					</div>

						<h2 class="h5" id="bio" name="bio">Your Profile</h2>

						<p class="text-small text-muted">Edit how others see you on {{SITE_NAME}}.</p>

						<div class="settings-section rounded mb-0">

							<div class="body d-lg-flex border-bottom">

								<label class="text-black w-lg-25">Username</label>

								<div class="w-lg-100">
									<p>Your original username will always stay reserved for you: <code>{{v.original_username}}</code></p>

									<form action="/settings/name_change" method="post">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<input autocomplete="off" type="text" name="name" class="form-control" value="{{v.username}}">
										<small>3-25 characters, including letters, numbers, _ , and -</small>
										<div class="d-flex mt-2">
											<input autocomplete="off" class="btn btn-primary ml-auto" type="submit" value="Change Display Name">
										</div>
									</form>
								</div>

							</div>
							<div class="body d-lg-flex border-bottom">

								<label class="text-black w-lg-25">Profile Anthem</label>

								<div class="w-lg-100">
									<p>Must be a youtube video link.</p>

									<form action="/settings/song_change" method="post">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<input autocomplete="off" type="text" name="song" class="form-control" value="{% if v.song %}https://youtu.be/{{v.song}}{% endif %}" placeholder='Enter a youtube video link here'>
										<br><small>In some browsers, users have to click at least once anywhere in the profile page for the anthem to play.</small>
										<div class="d-flex mt-2">
											<input autocomplete="off" class="btn btn-primary ml-auto" type="submit" value="Change Profile Anthem">
										</div>
									</form>
								</div>

							</div>
							<div class="body d-lg-flex border-bottom">

								<label class="text-black w-lg-25">Name Color</label>

								<div class="d-flex">

									<form action="/settings/namecolor" id="color-form" method="post" class="color-picker" style="line-height: 0">
											<input type="hidden" name="formkey" value="{{v.formkey}}">

											{% for color in COLORS %}
											<input autocomplete="off" type="radio" name="color" id="color-{{color}}" value="{{color}}" {% if v.namecolor == color %}checked{% endif %} onclick="document.getElementById('color-form').submit()">
											<label class="color-radio" for="color-{{color}}">
												<span style="background-color: #{{color}}">
												{% if v.namecolor.lower() == color %}
													<i class="fas fa-check text-white"></i>
												{% else %}
													&nbsp;
												{% endif %}
												</span>
											</label>
											{% endfor %}

									</form>

								</div>

								<p class="text-small mb-2">Or type a color code:</p>
								<div class="d-flex">
								<form action="/settings/namecolor" id="color-code-form" method="post">
									<input type="hidden" name="formkey" value="{{v.formkey}}">
									<input autocomplete="off" class="form-control" type="text" name="color" id="color-code" maxlength="6" value="{% if v.namecolor %}{{v.namecolor}}{% endif %}">
									<label class="btn btn-secondary text-capitalize mr-2 mt-2 mb-0">Update<input autocomplete="off" type="text" for="color-code" onclick="form.submit()" hidden=""></label>
								</form>
								</div>
							</div>							

							<div class="body d-lg-flex border-bottom">

								<label class="text-black w-lg-25">Flair</label>

								<div class="w-lg-100">

									<form id="profile-settings" action="/settings/title_change" method="post">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<input maxlength=100 {% if v.flairchanged %}disabled{% endif %} autocomplete="off" id="customtitlebody" type="text" name="title" class="form-control" placeholder='Enter a flair here' value="{% if v.flairchanged %}Your flair has been locked until {{ti}}{% elif v.customtitleplain %}{{v.customtitleplain}}{% endif %}">
										<div class="d-flex mt-2">
											<a class="format" role="button"><i class="btn btn-secondary format d-inline-block m-0 fas fa-smile-beam" onclick="loadEmojis('customtitlebody')" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#emojiModal" data-bs-toggle="tooltip" data-bs-placement="bottom"  title="Add Emoji"></i></a>
											&nbsp;&nbsp;&nbsp;
											<small>Limit of 100 characters</small>
											<input {% if v.flairchanged %}disabled{% endif %} autocomplete="off" class="btn btn-primary ml-auto" id="titleSave" type="submit" value="Change Flair">
										</div>
									</form>
								</div>

							</div>

							<div class="body d-lg-flex border-bottom">

								<label class="text-black w-lg-25">Flair Color</label>

								<div class="d-flex">

									<form action="/settings/titlecolor" id="titlecolor-form" method="post" class="color-picker" style="line-height: 0">
											<input type="hidden" name="formkey" value="{{v.formkey}}">

											{% for titlecolor in COLORS %}
											<input autocomplete="off" type="radio" name="titlecolor" id="titlecolor-{{titlecolor}}" value="{{titlecolor}}" {% if v.titlecolor == titlecolor %}checked{% endif %} onclick="document.getElementById('titlecolor-form').submit()">
											<label class="color-radio" for="titlecolor-{{titlecolor}}">
												<span style="background-color: #{{titlecolor}}">
												{% if v.titlecolor.lower() == titlecolor %}
													<i class="fas fa-check text-white"></i>
												{% else %}
													&nbsp;
												{% endif %}
												</span>
											</label>
											{% endfor %}

									</form>

								</div>
		
									

								<p class="text-small mb-2">Or type a color code:</p>
								<div class="d-flex">
								<form action="/settings/titlecolor" id="color-code-form" method="post">
									<input type="hidden" name="formkey" value="{{v.formkey}}">
									<input autocomplete="off" class="form-control" type="text" name="titlecolor" id="color-code" maxlength="6" value="{% if v.titlecolor %}{{v.titlecolor}}{% endif %}">
									<label class="btn btn-secondary text-capitalize mr-2 mt-2 mb-0">Update<input autocomplete="off" type="text" for="color-code" onclick="form.submit()" hidden=""></label>
								</form>
								</div>

							</div>





							{% if v.verified %}

								<div class="body d-lg-flex border-bottom">

									<label class="text-black w-lg-25">Bluecheck Color</label>
		
									<div class="d-flex">
		
										<form action="/settings/verifiedcolor" id="verifiedcolor-form" method="post" class="color-picker" style="line-height: 0">
												<input type="hidden" name="formkey" value="{{v.formkey}}">
		
											{% for verifiedcolor in COLORS %}
												<input autocomplete="off" type="radio" name="verifiedcolor" id="verifiedcolor-{{verifiedcolor}}" value="{{verifiedcolor}}" {% if v.verifiedcolor == verifiedcolor %}checked{% endif %} onclick="document.getElementById('verifiedcolor-form').submit()">
												<label class="color-radio" for="verifiedcolor-{{verifiedcolor}}">
													<span style="background-color: #{{verifiedcolor}}">
													{% if v.verifiedcolor and v.verifiedcolor.lower() == verifiedcolor %}
														<i class="fas fa-check text-white"></i>
													{% else %}
														&nbsp;
													{% endif %}
													</span>
												</label>
											{% endfor %}
		
										</form>
		
									</div>

									<p class="text-small mb-2">Or type a color code:</p>
									<div class="d-flex">
									<form action="/settings/verifiedcolor" id="color-code-form" method="post">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<input autocomplete="off" class="form-control" type="text" name="verifiedcolor" id="color-code" maxlength="6" value="{% if v.verifiedcolor %}{{v.verifiedcolor}}{% endif %}">
										<label class="btn btn-secondary text-capitalize mr-2 mt-2 mb-0">Update<input autocomplete="off" type="text" for="color-code" onclick="form.submit()" hidden=""></label>
									</form>
									</div>
	
								</div>	
							{% endif %}



							<div class="body d-lg-flex border-bottom">
								
								<label class="text-black w-lg-25">Bio</label>

								<div class="w-lg-100">						
									<form id="profile-bio" action="/settings/profile" method="post" enctype="multipart/form-data">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<div class="input-group mb-2">
											<textarea autocomplete="off"  id="bio-text" class="form-control rounded" aria-label="With textarea" placeholder="Tell the community a bit about yourself." rows="3" name="bio" form="profile-bio" maxlength="1500">{% if v.bio %}{{v.bio}}{% endif %}</textarea>
										</div>
										<div class="d-flex">
											<pre style="padding-top:0.7rem" class="btn btn-secondary format d-inline-block m-0 fas fa-bold" aria-hidden="true" onclick="makeBold('bio-text')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bold"></pre>
											&nbsp;
											<pre style="padding-top:0.7rem" class="btn btn-secondary format d-inline-block m-0 fas fa-italic" aria-hidden="true" onclick="makeItalics('bio-text')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Italicize"></pre>
											&nbsp;
											<pre style="padding-top:0.7rem" class="btn btn-secondary format d-inline-block m-0 fas fa-quote-right" aria-hidden="true" onclick="makeQuote('bio-text')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Quote"></pre>
											&nbsp;
											<pre style="padding-top:0.7rem;line-height:1" class="btn btn-secondary format d-inline-block m-0 font-weight-bolder text-uppercase" onclick="commentForm('bio-text');getGif()" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#gifModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add GIF">GIF</pre>
											&nbsp;
											<pre style="padding-top:0.7rem" class="btn btn-secondary format d-inline-block m-0 fas fa-smile-beam" onclick="loadEmojis('bio-text')" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#emojiModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Emoji"></pre>
											&nbsp;
											<label class="btn btn-secondary format d-inline-block m-0">
												<div id="filename-show"><i class="far fa-image"></i></div>
												<input autocomplete="off" id="file-upload" type="file" name="file" {% if request.headers.get('cf-ipcountry')=="T1" %}disabled{% endif %} accept="image/*, video/*" onchange="changename('filename-show','file-upload')" hidden>
											</label>
										</div>
										<pre></pre>
										<div class="d-flex">
											<small>Limit of 1500 characters</small>
											<input autocomplete="off" class="btn btn-primary ml-auto" id="bioSave" type="submit" value="Save Changes">
										</div>
									</form>
								</div>

							</div>


							<div class="body d-lg-flex border-bottom">

								<label class="text-black w-lg-25">Friends</label>
							
								<div class="w-lg-100">						
									<form id="profile-friends" action="/settings/profile" method="post" enctype="multipart/form-data">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<div class="input-group mb-2">
											<textarea autocomplete="off"  id="friends-text" class="form-control rounded" aria-label="With textarea" placeholder="Enter your friends on the site..." rows="3" name="friends" form="profile-friends" maxlength="1500">{% if v.friends %}{{v.friends}}{% endif %}</textarea>
										</div>
										<pre></pre>
										<div class="d-flex">
											<small>Limit of 500 characters</small>
											<input autocomplete="off" class="btn btn-primary ml-auto" id="friendsSave" type="submit" value="Save Changes">
										</div>
									</form>
								</div>
							
							</div>
							

							<div class="body d-lg-flex border-bottom">

								<label class="text-black w-lg-25">Enemies</label>
							
								<div class="w-lg-100">						
									<form id="profile-enemies" action="/settings/profile" method="post" enctype="multipart/form-data">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<div class="input-group mb-2">
											<textarea autocomplete="off"  id="enemies-text" class="form-control rounded" aria-label="With textarea" placeholder="Enter your enemies on the site..." rows="3" name="enemies" form="profile-enemies" maxlength="1500">{% if v.enemies %}{{v.enemies}}{% endif %}</textarea>
										</div>
										<pre></pre>
										<div class="d-flex">
											<small>Limit of 500 characters</small>
											<input autocomplete="off" class="btn btn-primary ml-auto" id="enemiesSave" type="submit" value="Save Changes">
										</div>
									</form>
								</div>
							
							</div>


							{% if v.patron or v.id == MOOSE_ID %}
							<div class="body d-lg-flex border-bottom">
								<label class="text-black w-lg-25">Signature</label>

								<div class="w-lg-100">						
									<form id="profile-sig" action="/settings/profile" method="post" enctype="multipart/form-data">
										<input type="hidden" name="formkey" value="{{v.formkey}}">
										<div class="input-group mb-2">
											<textarea autocomplete="off"  id="sig-text" class="form-control rounded" aria-label="With textarea" placeholder="Enter a signature..." rows="3" name="sig" form="profile-sig" maxlength="200">{% if v.sig %}{{v.sig}}{% endif %}</textarea>
										</div>
										<div class="d-flex">
											<pre style="padding-top:0.7rem" class="btn btn-secondary format d-inline-block m-0 fas fa-bold" aria-hidden="true" onclick="makeBold('sig-text')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bold"></pre>
											&nbsp;
											<pre style="padding-top:0.7rem" class="btn btn-secondary format d-inline-block m-0 fas fa-italic" aria-hidden="true" onclick="makeItalics('sig-text')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Italicize"></pre>
											&nbsp;
											<pre style="padding-top:0.7rem" class="btn btn-secondary format d-inline-block m-0 fas fa-quote-right" aria-hidden="true" onclick="makeQuote('sig-text')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Quote"></pre>
											&nbsp;
											<pre style="padding-top:0.7rem;line-height:1" class="btn btn-secondary format d-inline-block m-0 font-weight-bolder text-uppercase" onclick="commentForm('sig-text');getGif()" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#gifModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add GIF">GIF</pre>
											&nbsp;
											<pre style="padding-top:0.7rem" class="btn btn-secondary format d-inline-block m-0 fas fa-smile-beam" onclick="loadEmojis('sig-text')" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#emojiModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Emoji"></pre>
										</div>
										<pre></pre>
										<div class="d-flex">
											<small>Limit of 200 characters</small>
											<input autocomplete="off" class="btn btn-primary ml-auto" id="sigSave" type="submit" value="Save Changes">
										</div>
									</form>
								</div>
								
							</div>
							{% endif %}

						<div class="d-lg-flex border-bottom">

							<div class="title w-lg-25">
								<label for="privateswitch">Private Mode</label>
							</div>

							<div class="body w-lg-100">

								<div class="custom-control custom-switch">
									<input autocomplete="off" type="checkbox" class="custom-control-input" id="privateswitch" name="private"{% if v.is_private%} checked{% endif %} onchange="post_toast(this,'/settings/profile?private='+document.getElementById('privateswitch').checked)">
									<label class="custom-control-label" for="privateswitch"></label>
								</div>

								<span class="text-small-extra text-muted">This will hide your post and comment history from others. We will also ask search engines to not index your profile page. (Your content will still be accessible via direct link.)</span>

							</div>

						</div>
						<div class="d-lg-flex border-bottom">

							<div class="title w-lg-25">
								<label for="nofollowswitch">Disable Subscriptions</label>
							</div>

							<div class="body w-lg-100">

								<div class="custom-control custom-switch">
									<input autocomplete="off" type="checkbox" class="custom-control-input" id="nofollowswitch" name="nofollow"{% if v.is_nofollow%} checked{% endif %} onchange="post_toast(this,'/settings/profile?nofollow='+document.getElementById('nofollowswitch').checked)">
									<label class="custom-control-label" for="nofollowswitch"></label>
								</div>

								<span class="text-small-extra text-muted">Prevent other users from following you.</span>

							</div>

						</div>
					</div>
					</div>

				</div>

		</div>

	</div>

</div>

</div>


<script src="/assets/js/settings_profile.js?v=251"></script>

{% include "emoji_modal.html" %}
{% include "gif_modal.html" %}

{% endblock %}