<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="icon" type="image/png" href="/assets/images/{{'SITE_NAME' | app_config}}/icon.gif">

	<title>{% block pagetitle %}Settings - {{'SITE_NAME' | app_config}}{% endblock %}</title>
	<meta property="og:type" content="article" >
	<meta property="og:title" content="{{'SITE_NAME' | app_config}}" >
	<meta property="og:site_name" content="{{request.host}}" >
	<meta property="og:image" content="{{'SITE_NAME' | app_config}}/assets/images/{{'SITE_NAME' | app_config}}/preview.gif" >
	<meta property="og:url" content="{{request.host}}">
	<meta property="og:description" name="description" content="{{'SITE_NAME' | app_config}} - {{'SLOGAN' | app_config}}">
	<meta property="og:author" name="author" content="@{{request.host_url}}" >
	<meta property="og:site_name" content="{{request.host}}" >

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@{{request.host_url}}">
	<meta name="twitter:title" content="{{'SITE_NAME' | app_config}}" >
	<meta name="twitter:creator" content="@{{request.host_url}}">
	<meta name="twitter:description" content="{{'SITE_NAME' | app_config}} - {{'SLOGAN' | app_config}}" >
	<meta name="twitter:image" content="{{'SITE_NAME' | app_config}}/assets/images/{{'SITE_NAME' | app_config}}/preview.gif" >
	<meta name="twitter:url" content="{{request.host}}" >

	{% block stylesheets %}

	<link rel="stylesheet" href="/assets/css/main.css?v=125">

	{% assets 'css' %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}

	<link rel="stylesheet" href="/assets/css/mistletoe.css?v=18">

	{% if v %}
	<style>:root{--primary:#{{v.themecolor}}}</style>
	<!-- <link rel="stylesheet" href="/assets/css/{{v.theme}}.css?v=118"> -->
	{% if v.agendaposter %}
	<link rel="stylesheet" href="/assets/css/agendaposter.css?v=120">
	{% elif v.css %}
	<link rel="stylesheet" href="/@{{v.username}}/css">
	{% endif %}
	{% else %}
	<style>:root{--primary:#{{'DEFAULT_COLOR' | app_config}}</style>
	<!-- <link rel="stylesheet" href="/assets/css/{{'DEFAULT_THEME' | app_config}}.css?v=118"> -->
	{% endif %}

	{% endblock %}

	<link rel="preload" href="/assets/css/fa.css?v=52" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/assets/css/fa.css?v=52"></noscript>

	<style>
		@font-face { font-family: 'Delius Swash Caps'; src: url('/assets/fonts/DeliusSwashCaps-Regular.ttf'); } 
	</style>
</head>

<body class="overflow-hidden antialiased bg-cover bg-center bg-gray-200 text-gray-900" {% if v and v.background %}style="background:url(/assets/images/backgrounds/{{v.background}})"{% endif %}>

	{% include "header-tw.html" %}

	<div class="flex h-screen pt-2 sm:pt-16 bg-gray-500">
		<div class="w-full overflow-y-auto">

			<div class="px-4 bg-gray-700" id="sub-header-row">
				<div class="relative max-w-screen-2xl mx-auto px-4 py-4 grid grid-cols-12 rounded-t">
					<div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-gray-300 to-gray-200 rounded-t sub-header-shadow"></div>
					<div class="relative col-span-full flex items-center">
						<div>
							<h1 class="font-bold text-xl font-heading leading-normal mb-0">
								Settings
							</h1>
							<small class="hidden lg:block text-gray-700 leading-normal">
								Manage your rDrama profile and more.
							</small>
							<ul class="text-xs flex lg:hidden items-center space-x-3 leading-normal mb-0">
								<li>
									<a class="{{ 'font-bold text-red-600' if '/settings/profile' in request.full_path else 'text-gray-500' }}" href="/settings/profile">
										Profile
									</a>
								</li>
								<li>
									<a class="{{ 'font-bold text-red-600' if '/settings/security' in request.full_path else 'text-gray-500' }}" href="/settings/security">
										Security
									</a>
								</li>
								<li>
									<a class="{{ 'font-bold text-red-600' if '/settings/content' in request.full_path else 'text-gray-500' }}" href="/settings/content">
										Content
									</a>
								</li>
								<li>
									<a class="{{ 'font-bold text-red-600' if '/settings/css' in request.full_path else 'text-gray-500' }}" href="/settings/css">
										CSS
									</a>
								</li>
								<li>
									<a class="{{ 'font-bold text-red-600' if '/settings/blocks' in request.full_path else 'text-gray-500' }}" href="/settings/blocks">
										Blocked
									</a>
								</li>
								<li>
									<a class="{{ 'font-bold text-red-600' if '/settings/apps' in request.full_path else 'text-gray-500' }}" href="/settings/apps">
										Apps
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="w-full px-4">
				<div class="w-full max-w-screen-2xl mx-auto mb-4 px-4 grid grid-cols-12 gap-6 bg-gray-200 rounded-b" id="main-content-row">

					<div class="col-span-full xl:col-span-9">
						{% if error %}
						<div class="mt-4 mb-0 alert show fade rounded-lg shadow-lg p-3 text-white bg-red-600 border border-red-900 shadow-inset-t-white-10" role="alert">
							<i class="fas fa-exclamation-circle fa-fw mr-1"></i>
							<span class="font-medium">
								{{error}}
							</span>
							<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
								<span aria-hidden="true"><i class="far fa-times"></i></span>
							</button>
						</div>
						{% endif %}
						{% if msg %}
						<div class="mt-4 mb-0 alert show fade rounded-lg shadow-lg p-3 text-gray-200 bg-green-600 border border-green-900 shadow-inset-t-white-10" role="alert">
							<i class="fas fa-check-circle fa-fw mr-1"></i>
							<span class="font-medium">
								{{msg}}
							</span>
							<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
								<span aria-hidden="true"><i class="far fa-times"></i></span>
							</button>
						</div>
						{% endif %}

						{% block content %}
						{% endblock %}
					</div>

					{% include "/sidebars/SettingsSidebar.html" %}

				</div>
			</div>

			{% include "footer.html" %}
		</div>
	</div>

	{% block clipboard %}
	<div class="toast clipboard" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
		<div class="toast-body text-center">
			<i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
		</div>
	</div>
	{% endblock %}

	<div class="toast" id="toast-post-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
		<div class="toast-body bg-success text-center text-white">
			<i class="fas fa-comment-alt-smile mr-2"></i><span id="toast-post-success-text"></span>
		</div>
	</div>
	<div class="toast" id="toast-post-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
		<div class="toast-body bg-danger text-center text-white">
			<i class="fas fa-exclamation-circle mr-2"></i><span id="toast-post-error-text">Error, please try again later.</span>
		</div>
	</div>

	{% if v %}
	{% include "/modals/Modal2FA.html" %}
	{% endif %}

	{% block modals %}{% endblock %}

	{% block onload %}{% endblock %}

	{% block scripts %}{% endblock %}

	<script src="/assets/js/default.js"></script>
	<script src="/assets/js/header.js?v=54"></script>

	<!-- Bootstrap -->
	<script src="/assets/js/bootstrap.js"></script>

	<!-- Clipboard JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
	<script>
		var clipboard = new ClipboardJS('.copy-link');
		clipboard.on('success', function(e) {
			var myToast = new bootstrap.Toast(document.getElementById('toast-success'));
			myToast.show();
			console.log(e);
		});
	</script>
</body>
</html>