<img src="/static/assets/images/{{'SITE_NAME' | app_config}}/banners/{{range(1,95)|random()}}.webp?a=3" width=100%>
<a class="btn btn-primary btn-block mt-4" href="/submit">SUBMIT DRAMA!</a>
<a class="btn btn-primary btn-block mt-4" href="/post/16583">EMOJI MEGATHREAD</a>
<a class="btn btn-primary btn-block mt-4" href="/post/32341">SIDEBAR ARTWORK MEGATHREAD</a>
<a class="btn btn-primary btn-block mt-4" href="/post/29748">BUGS/SUGGESTIONS MEGATHREAD</a>

/post/29748
<p class="mt-4">Drama: any incident, scene, gaffe, rumor, opinion, or disagreement that is blown entirely out of proportion.</p>

<p>Do your part to keep our community healthy by blowing everything out of proportion and making literally everything as dramatic as possible.</p>

<p>rdrama.net caters to drama in all forms such as: Real life, videos, photos, gossip, rumors, news sites, Reddit, and Beyond™. There isn't drama we won't touch, and we want it all.</p>

What we want

<ul>
    <li>Arguments.</li>
    <li>Gossip.</li>
    <li>Scandals.</li>
    <li>Lolcows.</li>
    <li>Assholes.</li>
    <li>Trainwrecks.</li>
    <li>Meltdowns.</li>
    <li>Dramatic news articles.</li>
    <li>Dramatic rumours (with context).</li>
    <li>Dramatic everything from anywhere</li>
</ul>

<h5>RULE 1</h5>No sexualizing minors even as a “joke.” There is zero tolerance for pedo shit here. Go to Reddit if you want that.<br><br>

<h5>RULE 2 </h5>No doxxing ANYONE. <br><br>

<h5>RULE 3 </h5>Using alts to game dramacoin will get you banned. <br><br>

<h5>RULE 4 </h5>We’re all doing this for fun. Don’t make this “not fun.” <br><br>

<h5>RULE 5 </h5>All rules can and likely will be ignored at admin discretion. Be funny, or at least compelling, and pretty much anything legal is fine.<br><br>

Okay I think that’s all, thanks for reading! No one cares about your dumb <I>free speech</I> or whatever, go to Gab or something if you want to screech about amendments and stuff. Rules are not hard and fast, and janitorial abuse is inherent to the platform. So is ban evasion. Have fun or log out, both are easy!