<div class="col sidebar text-left d-none d-lg-block pt-3 bg-white" style="max-width:300px">
    {% if sub %}
        {% set image='/static/assets/images/subs/' + sub.name + '.webp?a=1008' %}
    {% else %}
        {% set image='/static/assets/images/2Much4You/sidebar.webp?a=1008' %}
    {% endif %}

    <img role="button" data-bs-toggle="modal" data-bs-target="#expandImageModal" onclick="expandDesktopImage('{{image}}')" loading="lazy" src="{{image}}" width=100%>


{% if sub %}
    <div class="mt-4">{{sub.sidebar_html|safe}}</div>
    <a class="btn btn-primary btn-block mt-4" href="/s/{{sub.name}}/mods">MODS</a>
    {% if v and v.mods(sub.name) %}
        <a class="btn btn-primary btn-block" href="/s/{{sub.name}}/sidebar">EDIT SIDEBAR</a>
    {% endif %}
{% else %}
    <p class="mt-4">Rules: No doxxing, No CP or other clearly illegal shit. Thanks!</p>
{% endif %}

<pre>




    
</pre>
</div>