<div class="col sidebar text-left d-none d-lg-block pt-4 pb-5 bg-white">

	<div class="d-none d-lg-block">
		{% include "nav_secondary.html" %}
	</div>

	<div class="rules mt-4">

		<h4>What is this place?</h4>
		<p>
			You people have, like, worms in your brains, honestly.
		</p>

		<br/>
		<h4>Why are you called The Motte?</h4>

		<br/>
        <h4><a href="/rules">Rules</a></h4>
		<ul>
			<li><a href="/rules#Courtesy">Courtesy</a>
				<ul>
					<li><a href="/rules#Kindness">Be Kind</a></li>
					<li><a href="/rules#Clarity">Make your point reasonably clear and plain. Try to assume other people are doing the same.</a></li>
					<li><a href="/rules#Antagonism">Be no more antagonistic than is absolutely necessary for your argument.</a></li>
					<li><a href="/rules#Charity">Be charitable.</a></li>
					<li><a href="/rules#Single">Keep to a single account.</a></li>
				</ul>
			</li>
			<li><a href="/rules#Content">Content</a>
				<ul>
					<li><a href="/rules#Effort">Avoid low-effort participation.</a></li>
					<li><a href="/rules#Weakman">Do not weakman in order to show how bad a group is.</a></li>
					<li><a href="/rules#Culture">Keep culture war in the culture war thread.</a></li>
					<li><a href="/rules#Leave">Leave the rest of the internet at the door.</a></li>
					<li><a href="/rules#Multiple">Post on multiple subjects.</a></li>
				</ul>
			</li>
			<li><a href="/rules#Engagement">Engagement</a>
				<ul>
					<li><a href="/rules#Disagreement">When disagreeing with someone, state your objections explicitly.</a></li>
					<li><a href="/rules#Evidence">Proactively provide evidence in proportion to how partisan and inflammatory your claim might be.</a></li>
					<li><a href="/rules#Timeouts">Accept temporary bans as a time-out, and don't attempt to rejoin the conversation until it's lifted.</a></li>
					<li><a href="/rules#Consensus">Don't attempt to build consensus or enforce ideological conformity.</a></li>
					<li><a href="/rules#Inclusion">Write like everyone is reading and you want them to be included in the discussion.</a></li>
				</ul>
			</li>
			<li><a href="/rules#The_Wildcard_Rule">The Wildcard Rule</a>
				<ul>
					<li><a href="/rules#Obnoxious">Don't be egregiously obnoxious</a></li>
				</ul>
			</li>
			<li><a href="/rules#The_Metarule">The Metarule</a>
				<ul>
					<li><a href="/rules#Sentiment">Moderation is very much driven by user sentiment. Feel free to report comments or message the mods with your thoughts.</a></li>
				</ul>
			</li>
		</ul>

		<br/>

		<h4>Recommended Posts And Communities</h4>
		<ul>
			{{[
			'<li><a href="https://www.vault.themotte.org/">The Vault</a></li>',
			'<li><a href="https://www.lesswrong.com/">Lesswrong</a></li>',
			'<li><a href="https://astralcodexten.substack.com/">Astral Codex Ten</a></li>',
			'<li><a href="https://www.slatestarcodex.com/">Slate Star Codex</a></li>',
			'<li><a href="https://www.reddit.com/r/FeMRADebates/">FeMRA Debates</a></li>',
			]|shuffle|join('\n')|safe}}
		</ul>

		<h4>Recommended Realtime Chats</h4>
		<ul>
			{{[
			'<li><a href="https://discord.gg/Hkyq5eN">Astral Codex Ten Discord</a></li>',
			'<li><a href="https://t.me/quokkas_den">Quokka\'s Den Telegram</a></li>',
			]|shuffle|join('\n')|safe}}
		</ul>
	</div>
</div>
