{% extends "default.html" %}

{% block title %}
<title>{{SITE_NAME}} Sidebar</title>

{% endblock %}

{% block content %}
<pre>


</pre>
<div class="mx-4 mt-2 mb-6">
	<h1 class="text-muted text-uppercase">Sidebar{% if v and v.admin_level > 2 %} <a href="/admin/sidebar" class="btn btn-link text-lowercase"><i class="far fa-fw fa-pencil"></i> Edit sidebar</a>{% endif %}</h5>

	<div id="sidebar" class="my-3">
		{% include "sidebar_" + SITE_NAME + ".html" %}
	</div>
</div>
<style>
	.sidebar {
		display:block!important;
	}
</style>
{% endblock %}