<div class="col sidebar text-left d-none d-lg-block pt-3 pb-5 bg-white" style="max-width:300px">

	{% if sub %}
		{% set image=sub.sidebar_url %}
	{% else %}
		{% set image='/assets/images/' + SITE_NAME + '/sidebar.webp?v=1' %}
	{% endif %}

	<img class="mb-4" alt="sidebar image" role="button" data-bs-toggle="modal" data-bs-target="#expandImageModal" onclick="expandDesktopImage('{{image}}')" loading="lazy" src="{{image}}" width=100%>

	{% if sub %}
		{% if sub.sidebar_html %}
			<div class="mb-4">{{sub.sidebar_html|safe}}</div>
		{% endif %}
		{% if v %}
			<a class="btn btn-primary btn-block mb-3" href="/create_sub">CREATE HOLE</a>
			{% if v.mods(sub.name) %}
				<a class="btn btn-primary btn-block mb-3" href="/h/{{sub.name}}/settings">HOLE SETTINGS</a>
			{% endif %}
		{% endif %}
		<a class="btn btn-primary btn-block mb-3" href="/h/{{sub.name}}/mods">HOLE MODS</a>
		<a class="btn btn-primary btn-block mb-3" href="/h/{{sub.name}}/exilees">HOLE EXILEES</a>
		<a class="btn btn-primary btn-block mb-3" href="/h/{{sub.name}}/blockers">HOLE BLOCKERS</a>
	{% else %}
		<a class="btn btn-primary btn-block mb-3" href="/create_sub">CREATE HOLE</a>
		<a class="btn btn-primary btn-block mb-3" href="/holes">BROWSE HOLES</a>

		<div class="mt-4">
			Rules:<br><br>

			- Don't post anything illegal<br><br>
			
			- No sexualizing minors even as a “joke”<br><br>

			- No doxing<br><br>

			- No boring agendaposting<br><br>
		</div>
	{% endif %}
<pre>










			


		
</pre>
</div>