
<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="description" content="{{config('DESCRIPTION')}}">
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'; connect-src 'self'; object-src 'none';">

		<script src="/assets/js/bootstrap.js?v=245"></script>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="author" content="">
		<meta property="og:type" content="article">
		<meta property="og:title" content="{{SITE_NAME}}">
		<meta property="og:site_name" content="{{request.host}}">
		<meta property="og:image" content="/assets/images/{{SITE_NAME}}/site_preview.webp?v=1014">
		<meta property="og:url" content="{{request.host}}">
		<meta property="og:description" name="description" content="{{SITE_NAME}} - {{config('DESCRIPTION')}}">
		<meta property="og:author" name="author" content="{{SITE_FULL}}">
		<meta property="og:site_name" content="{{request.host}}">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="{{SITE_FULL}}">
		<meta name="twitter:title" content="{{SITE_NAME}}">
		<meta name="twitter:creator" content="{{SITE_FULL}}">
		<meta name="twitter:description" content="{{SITE_NAME}} - {{config('DESCRIPTION')}}">
		<meta name="twitter:image" content="/assets/images/{{SITE_NAME}}/site_preview.webp?v=1014">
		<meta name="twitter:url" content="{{request.host}}">

		<title>{% if ref_user %}{{ref_user.username}} invites you to {{SITE_NAME}}{% else %}{{SITE_NAME}}{% endif %}</title>

		<style>:root{--primary:#{{config('DEFAULT_COLOR')}}</style>
		<link rel="stylesheet" href="/assets/css/main.css?v=242"><link rel="stylesheet" href="/assets/css/{{config('DEFAULT_THEME')}}.css?v=56">

</head>

<body id="login">

	<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top border-0">
		<div class="container-fluid">
				<button class="navbar-toggler d-none" role="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
</div>
</nav>

<div class="container-fluid position-absolute h-100 p-0">
		<div class="row no-gutters h-100">

				<div class="col-12 col-md-6 my-auto p-3">

						<div class="row justify-content-center">

								<div class="col-10 col-md-7">

										<div class="text-center mb-5">
												<a href="/" class="text-decoration-none"><span class="h3 text-primary">‎</span></a>
										</div>

										<div id="register-form" class="">
												<h1 class="h4 font-weight-normal text-center">Whoops! You can't refer yourself!</h1>
												<p class="text-center text-muted mb-md-5">Send this link to a friend instead :)</p>
												<label>Referral code</label>
												<input autocomplete="off" type="text" class="form-control copy-link" readonly value="{{SITE_FULL}}/signup?ref={{request.values.get('ref')}}" data-clipboard-text="{{SITE_FULL}}/signup?ref={{request.values.get('ref')}}">

												<div class="text-center mt-5 mb-3">
														Already have an account? <a href="/login" class="font-weight-bold text-small toggle-login">Log in.</a>
														</div>
												</div>

										</div>

								</div>

						</div>

						<div class="col-12 col-md-6 d-none d-md-block">

								<div class="splash-wrapper">

										<div class="splash-overlay"></div>

										<img alt="cover" loading="lazy" class="splash-img" src="/assets/images/{{SITE_NAME}}/cover.webp?v=1013"></img>
								</div>

						</div>

				</div>
		</div>

		
		<div class="toast clipboard" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
			<div class="toast-body text-center">
				<i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
		</div>
</div>

</body>

</html>
