{% extends "default.html" %}

<script>
	var date = new Date('{{p.created_datetime}}');
	document.getElementById('timestamp').title = date.toString();
	{% if p.edited_utc %}
		var date = new Date('{{p.edited_datetime}}');
		document.getElementById('edited_timestamp').title = date.toString();
	{% endif %}
</script>

{% set title=p.title %}
{% set ups=p.upvotes_fuzzed %}
{% set downs=p.downvotes_fuzzed %}
{% set score=ups-downs %}

{% if v %}
{% set voted=p.voted if p.voted else 0 %}
{% else %}
{% set voted=-2 %}
{% endif %}

{% block title %}

<meta charset="utf-8" />
<meta property="og:type" content="article" />

{% if comment_info and not comment_info.is_banned and not linked_comment.deleted_utc > 0 %}
<title>{{'@'+comment_info.author.username}} comments on "{{title}} - {{"SITE_NAME" | app_config}}"</title>


<meta property="og:article:author" content="{{'@'+comment_info.author.username}}" />
<meta property="article:published_time" content="{{comment_info.created_datetime}}" />
{% if comment_info.edited_utc %}<meta property="article:modified_time" content="{{comment_info.edited_string}}" />{% endif %}
<meta property="og:description" name="description" content="{{comment_info.body}}" />
<meta property="og:author" name="author" content="{{'@'+comment_info.author.username}}" />
<meta property="og:title" content="{{'@'+comment_info.author.username}} comments on {{title}} - {{"SITE_NAME" | app_config}}" />
<meta property="og:image" content="{% if p.is_image %}{{p.realurl(v)}}{% elif p.has_thumb%}{{p.thumb_url}}{% else %}{{'/assets/images/preview.png' | full_link}}{% endif %}" />
<meta property="og:url" content="{{comment_info.permalink | full_link}}" />
<meta property="og:site_name" content="{{request.host}}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{request.host_url}}">
<meta name="twitter:title" content="{{'@'+comment_info.author.username}} comments on {{title}} - {{"SITE_NAME" | app_config}}" />
<meta name="twitter:creator" content="{{'@'+comment_info.author.username}}">
<meta name="twitter:description" content="{{comment_info.body}}" />
<meta name="twitter:image" content="{% if p.is_image %}{{p.realurl(v)}}{% elif p.has_thumb%}{{p.thumb_url}}{% else %}{{'/assets/images/preview.png' | full_link}}{% endif %}" />
<meta name="twitter:url" content="{{p.permalink | full_link}}" />

{% if linked_comment.author.is_private %}
<meta name="robots" content="noindex">
{% endif %}

{% else %}
<title>{{title | safe}} - {{"SITE_NAME" | app_config}}</title>


<meta property="og:article:author" content="{{'@'+p.author.username}}" />
<meta property="article:published_time" content="{{p.created_iso}}" />
{% if p.edited_utc %}<meta property="article:modified_time" content="{{p.edited_string}}" />{% endif %}
<meta property="og:description" name="description" content="{{p.body}}" />
<meta property="og:author" name="author" content="{{'@'+p.author.username}}" />
<meta property="og:title" content="{{title}} - {{"SITE_NAME" | app_config}}" />
<meta property="og:image" content="{% if p.is_image %}{{p.realurl(v)}}{% elif p.has_thumb%}{{p.thumb_url}}{% else %}{{'/assets/images/preview.png' | full_link}}{% endif %}" />
<meta property="og:url" content="{{p.permalink | full_link}}" />
<meta property="og:site_name" content="{{request.host}}" />

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="{{request.host_url}}">
<meta name="twitter:title" content="{{title}} - {{"SITE_NAME" | app_config}}" />
<meta name="twitter:creator" content="{{'@'+p.author.username}}">
<meta name="twitter:description" content="{{p.body}}" />
<meta name="twitter:image" content="{% if p.is_image %}{{p.realurl(v)}}{% elif p.has_thumb %}{{p.thumb_url}}{% else %}{{'/assets/images/preview.png' | full_link}}{% endif %}" />
<meta name="twitter:url" content="{{p.permalink | full_link}}" />

{% if p.author.is_private %}
<meta name="robots" content="noindex">
{% endif %}

{% endif %}
{% endblock %}

{% block pagetype %}thread{% endblock %}

{% block actionsModal %}
<!-- Post Actions Modal -->
<div class="modal fade modal-sm-bottom d-md-none" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="actionsModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header p-3">
				<h5 class="col modal-title text-center h6">More options</h5>
				<button type="button" class="close position-absolute py-3" style="right: 1rem;" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="fas fa-times-circle text-gray-500"></i></span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="list-group post-actions">
					<button class="btn btn-link btn-block btn-lg text-left text-muted" data-toggle="modal" data-dismiss="modal" data-target="#reportPostModal" onclick="report_postModal('{{p.id}}','{{'@'+p.author.username}}')" class="d-block"><i class="far fa-flag text-center text-muted mr-3"></i>Report</button>
					{% if v and v.id==p.author_id %}
						{% if p.private %}
						<button class="btn btn-link btn-block btn-lg text-left text-muted"><a href="javascript:void(0)" onclick="post('/publish/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-globe text-center text-muted mr-3"></i>Publish</a></button>
						{% endif %}

						<button class="btn btn-link btn-block btn-lg text-left text-muted" data-dismiss="modal" onclick="togglePostEdit('{{p.id}}')"><i class="far fa-edit text-center text-muted mr-3"></i>Edit</button>

						<button class="btn btn-link btn-block btn-lg text-muted text-left" id="pin-post-{{p.id}}" href="javascript:void(0)" onclick="post('/pin/{{p.id}}',callback=function(){window.location.reload(true);})"><i class="fas fa-thumbtack text-center mr-3"></i>{% if p.is_pinned %}Unpin from your profile{% else %}Pin to your profile{% endif %}</button>

						{% if p.deleted_utc > 0 %}
							<button class="btn btn-link btn-block btn-lg text-left text-muted" href="javascript:void(0)" onclick="post('/undelete_post/{{p.id}}', function(){window.location.reload(true);})"><i class="far fa-trash-alt text-center text-muted mr-3"></i>Undelete</button>
						{% else %}
							<button class="btn btn-link btn-block btn-lg text-left text-muted" data-toggle="modal" data-dismiss="modal" data-target="#deletePostModal" onclick="delete_postModal('{{p.id}}')"><i class="far fa-trash-alt text-center text-muted mr-3"></i>Delete</button>
						{% endif %}
					{% endif %}

					 <button class="btn btn-link btn-block btn-lg text-left text-muted"><a href="/votes?link={{p.fullname}}"><i class="fas fa-arrows-v text-center text-muted mr-3"></i>Votes</a></button>

					{% if v and v.id!=p.author_id %}
					  <button class="btn btn-link btn-block btn-lg text-left text-muted" data-toggle="modal" data-dismiss="modal" data-target="#awardModal" onclick="awardModal('/post/{{p.id}}/awards')"><i class="fas fa-gift text-center text-muted mr-3"></i>Give Award</button>
					{% endif %}

					{% if v and p.id in v.subscribed_idlist() %}
						<button class="btn btn-link btn-block btn-lg text-left text-muted"><a href="javascript:void(0)" onclick="post('/unsubscribe/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-eye-slash text-center text-muted mr-3"></i>Unsubscribe</a></button>
					{% elif v %}
						<button class="btn btn-link btn-block btn-lg text-left text-muted"><a href="javascript:void(0)" onclick="post('/subscribe/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-eye text-center text-muted mr-3"></i>Subscribe</a></button>
					{% endif %}

					{% if v and p.id in v.saved_idlist() %}
						<button class="btn btn-link btn-block btn-lg text-left text-muted"><a href="javascript:void(0)" onclick="post('/unsave_post/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-save text-center text-muted mr-3"></i>Unsave</a></button>
					{% elif v %}
						<button class="btn btn-link btn-block btn-lg text-left text-muted"><a href="javascript:void(0)" onclick="post('/save_post/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-save text-center text-muted mr-3"></i>Save</a></button>
					{% endif %}

					{% if v %}
						{% if v.admin_level >=3 %}
							<button class="btn btn-link btn-block btn-lg text-left" id="sticky-post-{{p.id}}" href="javascript:void(0)" onclick="post('/sticky/{{p.id}}',callback=function(){window.location.reload(true);})"><i class="fas fa-thumbtack text-center mr-3"></i>{% if p.stickied %}Unpin{% else %}Pin{% endif %}</button>
							{% if v==p.author %}
							<button class="btn btn-link btn-block btn-lg text-left" id="distinguish-post-{{p.id}}" href="javascript:void(0)" onclick="post('/distinguish/{{p.id}}',callback=function(){window.location.reload(true);})"><i class="fas fa-crown text-center mr-3"></i>Distinguish</button>
							{% endif %}

							<button class="btn btn-link btn-block btn-lg text-success text-left" id="moderate-post-{{p.id}}" href="javascript:void(0)" onclick="post('/unban_post/{{p.id}}',callback=function(){window.location.reload(true);})"><i class="far fa-check text-center mr-3"></i>Approve</button>
							<button class="btn btn-link btn-block btn-lg text-danger text-left" id="moderate-post-{{p.id}}" href="javascript:void(0)" onclick="post('/ban_post/{{p.id}}',callback=function(){window.location.reload(true);})"><i class="far fa-ban text-center mr-3"></i>Remove</button>
						{% endif %}

						{% if v.admin_level >=4 and p.oauth_app %}
							<button class="btn btn-link btn-block btn-lg text-muted text-left"	href="{{p.oauth_app.permalink}}"><a href="{{p.oauth_app.permalink}}"><i class="far fa-code text-center text-info mr-3"></i>API App</a></button>
						{% endif %}

					{% endif %}

					{% if v and v.id != p.author_id and v.admin_level == 0 %}
						<button id="block-user-button-{{p.id}}" class="btn btn-link btn-block btn-lg text-muted text-left{% if p.is_blocking %} d-none{% endif %}" data-dismiss="modal" onclick="post_toast('/settings/block?username={{p.author.username}}', callback=function(){document.getElementById('block-user-button-{{p.id}}').classList.toggle('d-none');document.getElementById('unblock-user-button-{{p.id}}').classList.toggle('d-none');})"
						><i class="fas fa-eye-slash mr-3"></i>Block user</button>
						<button id="unblock-user-button-{{p.id}}" class="btn btn-link btn-block btn-lg text-muted text-left{% if not p.is_blocking %} d-none{% endif %}" data-dismiss="modal" onclick="post_toast('/settings/unblock?username={{p.author.username}}', callback=function(){document.getElementById('block-user-button-{{p.id}}').classList.toggle('d-none');document.getElementById('unblock-user-button-{{p.id}}').classList.toggle('d-none');})"
						><i class="fas fa-eye mr-3"></i>Unblock user</button>
					{% endif %}

					{% if v and (v.id==p.author_id or v.admin_level>=3) %}
						<button class="btn btn-link btn-block btn-lg text-left text-danger" onclick="post('/toggle_post_nsfw/{{p.id}}', function(){window.location.reload(true);})"><i class="far fa-eye-evil text-center text-danger mr-3"></i>Toggle +18</button>
					{% endif %}

					{% if v and v.admin_level == 6 and v.id!=p.author_id %}
						{% if p.author.is_banned %}
							<button class="btn btn-link btn-block btn-lg text-success text-left" href="javascript:void(0)" onclick="post_toast('/unban_user/{{p.author_id}}?toast=1')"><i class="fas fa-user-minus mr-3"></i>Unban user</a></button>
						{% else %}
							<button class="btn btn-link btn-block btn-lg text-danger text-left" href="javascript:void(0)" onclick="post_toast('/ban_user/{{p.author_id}}?toast=1')"><i class="fas fa-user-minus mr-3"></i>Ban user</a></button>
						{% endif %}
					{% endif %}

				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

{% if p.has_award("shit") %}
<script src="/assets/js/bug-min.js" type="text/javascript"></script>
<script type="text/javascript">
	new BugController({
		imageSprite: "/assets/images/fly-sprite.png",
		canDie: false,
		minBugs: 10,
		maxBugs: 20,
		mouseOver: "multiply"
	});
</script>
{% endif %}

<div class="row mb-3">

	<div class="col-12">

		<div id="post-{{p.id}}" class="card border-0 mt-3{% if p.is_banned %} banned{% endif %}{% if p.stickied %} stickied{% endif %}{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}">
			<div class="{% if p.deleted_utc > 0 %}deleted {% endif %}d-flex flex-row-reverse flex-nowrap justify-content-end">

				{% if p.thumb_url and not p.embed_url %}
				<div class="card-header bg-transparent border-0 d-none d-md-flex flex-row flex-nowrap pl-3 p-0">
					<a href="{{p.realurl(v)}}" style="height: fit-content;" {% if v and v.newtabexternal %}target="_blank"{% endif %} rel="nofollow"{% if p.is_image %} data-toggle="modal" data-target="#expandImageModal" onclick="expandDesktopImage('{{p.realurl(v)}}','{{p.realurl(v)}}')"{% endif %}><img src="{{p.thumb_url}}" class="post-img d-none d-md-block" alt="Unable to load image"></a>

				</div>
				{% endif %}

				<div class="{% if p.deleted_utc > 0 %}deleted {% endif %}card-block w-100 my-md-auto">

					<div class="post-meta text-left mb-2">
						{% if p.awards %}
							{% for a in p.awards[:5] %}
								<i class="{{a.class_list}} px-1" data-toggle="tooltip" data-placement="bottom" title="{{a.title}} Award given by @{{a.user.username}}"></i>
							{% endfor %}
						{% endif %}
						{% if v and v.admin_level==6 and p.author.shadowbanned %}<i class="fas fa-user-times text-admin" data-toggle="tooltip" data-placement="bottom" title="Shadowbanned user"></i>&nbsp;{% endif %}
						{% if p.stickied %}<i class="fas fa-thumbtack fa-fw text-admin fa-rotate--45" data-toggle="tooltip" data-placement="bottom" title="Pinned post"></i>&nbsp;{% endif %}
						{% if p.is_pinned %}<i class="fas fa-thumbtack fa-fw text-admin fa-rotate--45" data-toggle="tooltip" data-placement="bottom" title="Pinned to profile"></i>&nbsp;{% endif %}
						{% if p.distinguish_level %} <i class="fas fa-broom text-admin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{"SITE_NAME" | app_config}} Badmin, speaking officially"></i>&nbsp;{% endif %}
						{% if p.is_bot %} <i class="fad fa-robot text-info" data-toggle="tooltip" data-placement="bottom"	data-original-title="Bot"></i>{% endif %}
						&nbsp;
						{% if p.over_18 %}<span class="badge badge-danger text-small-extra mr-1">+18</span>{% endif %}
						{% if p.private %}<span class="badge border-warning border-1 text-small-extra">unlisted</span>{% endif %}
						{% if p.active_flags %}<a class="btn btn-primary" href="javascript:void(0)" style="padding:1px 5px; font-size:10px;" onclick="document.getElementById('flaggers').classList.toggle('d-none')">{{p.active_flags}} Reports</a>{% endif %}
						&nbsp;<a {% if p.author.animatedname %}class="{% if p.author.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} href="{{p.author.url}}" style="color: #{{p.author.namecolor}}; font-weight: bold;" class="user-name">&nbsp;&nbsp;<img src="{{p.author.profile_url}}" class="profile-pic-25 mr-2"/>{{p.author.username}}</a>{% if p.author.customtitle %}&nbsp;<bdi style="color: #{{p.author.titlecolor}}">&nbsp;{{p.author.customtitle | safe}}</bdi>{% endif %}
						<span data-toggle="tooltip" data-placement="bottom" id="timestamp" title="">&nbsp;{{p.age_string}}</span>
						({% if p.realurl(v) %}<a href="/search/posts/?q=domain%3A{{p.domain}}&sort=new&t=all" {% if v and v.newtabexternal %}target="_blank"{% endif %}>{{p.domain}}</a>{% else %}text post{% endif %})
						
						
						{% if p.edited_utc %}&nbsp;&nbsp;Edited <span data-toggle="tooltip" data-placement="bottom" id="edited_timestamp" title="">{{p.edited_string}}</span>{% endif %}
						&nbsp;&nbsp;{{p.views}} views
					</div>
					
					{% if p.realurl(v) %}
						<h1 id="post-title" class="card-title post-title text-left mb-md-3"><a {% if v and v.newtabexternal %}target="_blank"{% endif %} href="{{p.realurl(v)}}" rel="nofollow noopener">{{p.realtitle(v) | safe}}</a></h1>					
					{% else %}
						<h1 id="post-title" class="card-title post-title text-left mb-md-3">{{p.realtitle(v) | safe}}</h1>
					{% endif %}

					<div id="post-body" class="post-body mt-3">
						{% if p.realurl(v) %}
							{% if "streamable.com/" in p.realurl(v) %}
								{% if "streamable.com/e/" in p.realurl(v) %}
									{% set streamurl=p.realurl(v) %}
								{% else %}
									{% set streamurl=p.realurl(v).replace("streamable.com/", "streamable.com/e/") %}
								{% endif %}
								<div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;"><iframe src="{{streamurl}}" frameborder="0" width="100%" height="100%" allowfullscreen="" style="width: 100%; height: 100%; position: absolute;"></iframe></div>
								<pre></pre>
								
							{% elif "spotify.com/" in p.realurl(v) %}
								{% if "spotify.com/embed/" in p.realurl(v) %}
									{% set streamurl=p.realurl(v) %}
								{% else %}
									{% set streamurl=p.realurl(v).replace("spotify.com", "spotify.com/embed") %}
								{% endif %}
								<iframe src="{{streamurl}}" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
								<pre></pre>

							{% elif not p.embed_url and not p.is_image %}
							<a href="{{p.realurl(v)}}" {% if v and v.newtabexternal %}target="_blank"{% endif %}>
								<div class="d-flex d-md-none justify-content-between align-items-center border rounded p-2{% if p.realbody(v) %} mb-3{% endif %}">
									<span>{{p.domain|truncate(30, True)}}</span>
									<i class="fas fa-external-link-alt text-small"></i>
								</div>
							</a>
							{% endif %}
						{% endif %}

						{{p.realbody(v) | safe}}

						{% if p.domain == "twitter.com" and (v and v.theme.split("_")[0] in ["light", "coffee", "4chan"]) %}
							{% include "embeds/twitterlight.html" %}
						{% elif "twitter.com" in p.domain %}
							{% include "embeds/twitter.html" %}
						{% elif "youtu" in p.domain %}
							{% include "embeds/youtube.html" %}
						{% elif "instagram.com" in p.domain %}
							{% include "embeds/instagram.html" %}
						{% endif %}

					</div>

					{% if v and v.id==p.author_id and not v.is_banned %}
					<div id="edit-post-body-{{p.id}}" class="d-none comment-write collapsed child">
						<form id="post-edit-form-{{p.id}}" class="d-flex flex-column" action="/edit_post/{{p.id}}" method="post" class="input-group">
							<input type="hidden" name="formkey" value="{{v.formkey}}">
							<input type="hidden" name="current_page" value="{{request.path}}">
                            <input name="title" required placeholder="title" value="{{title}}" />
							<textarea name="body" id="post-edit-box-{{p.id}}" form="post-edit-form-{{p.id}}" class="comment-box form-control rounded" aria-label="With textarea" placeholder="Add text to your post..." rows="10">{{p.body}}</textarea> 
							<div class="comment-format"> 
								<small class="format pl-0"><i class="fas fa-bold" aria-hidden="true" onclick="makeBold('post-edit-box-{{p.id}}')" data-toggle="tooltip" data-placement="bottom" title="Bold"></i></small> 
								<small class="format"><i class="fas fa-italic" aria-hidden="true" onclick="makeItalics('post-edit-box-{{p.id}}')" data-toggle="tooltip" data-placement="bottom" title="Italicize"></i></small> 
								<small class="format"><i class="fas fa-quote-right" aria-hidden="true" onclick="makeQuote('post-edit-box-{{p.id}}')" data-toggle="tooltip" data-placement="bottom" title="Quote"></i></small>
								<small class="format"><span class="font-weight-bolder text-uppercase" onclick="commentForm('post-edit-box-{{p.id}}');getGif()" aria-hidden="true" data-toggle="modal" data-target="#gifModal" data-toggle="tooltip" data-placement="bottom"  title="Add GIF">GIF</span></small>
								<small class="format"><i class="fas fa-smile-beam" onclick="loadEmojis('post-edit-box-{{p.id}}')" aria-hidden="true" data-toggle="modal" data-target="#emojiModal" data-toggle="tooltip" data-placement="bottom"  title="Add Emoji"></i></small>
								<small class="format d-none"><i class="fas fa-link" aria-hidden="true"></i></small> 
								<a href="javascript:void(0)" onclick="togglePostEdit('{{p.id}}')" class="btn btn-link text-muted ml-auto cancel-form">Cancel</a> 
								<button form="post-edit-form-{{p.id}}" class="btn btn-primary ml-2">Save Edit</button> </div> </form>
							</div>
							{% endif %}

							<div class="d-none d-md-flex justify-content-between align-items-center mt-2">
								<div class="post-actions mt-2">
				<ul class="list-inline text-right d-flex">

						<li class="list-inline-item"><a href="{{p.permalink}}"><i class="fas fa-comment-dots"></i>{{p.comment_count}}</a></li>

						{% if v and v.id==p.author_id %}
							{% if p.private %}
								<li class="list-inline-item"><a href="javascript:void(0)" onclick="post('/publish/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-globe"></i>Publish</a></li>
							{% endif %}
							<li class="list-inline-item"><a href="javascript:void(0)" onclick="togglePostEdit('{{p.id}}')"><i class="fas fa-edit"></i>Edit</a></li>
						{% endif %}

						<li class="list-inline-item"><a href="/votes?link={{p.fullname}}"><i class="fas fa-arrows-v"></i>Votes</a></li>
						
						{% if v and v.id!=p.author_id %}
							<li class="list-inline-item text-muted d-none d-md-inline-block"><a href="javascript:void(0)" data-toggle="modal" data-target="#awardModal" onclick="awardModal('/post/{{p.id}}/awards')"><i class="fas fa-gift fa-fw"></i>Give Award</a></li>
						{% endif %}

						<li class="list-inline-item"><a href="javascript:void(0);" role="button" class="copy-link" data-clipboard-text="{{p.permalink | full_link}}"><i class="fas fa-copy"></i>Copy link</a></li>

						{% if v and not (v.admin_level == 6 and v.id == p.author_id) %}
							{% if p.id in v.subscribed_idlist() %}
								<li class="list-inline-item"><a href="javascript:void(0)" onclick="post('/unsubscribe/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-eye-slash"></i>Unsubscribe</a></li>
							{% else %}
								<li class="list-inline-item"><a href="javascript:void(0)" onclick="post('/subscribe/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-eye"></i>Subscribe</a></li>
							{% endif %}
						{% endif %}

						{% if v and p.id in v.saved_idlist() %}
							<li class="list-inline-item"><a href="javascript:void(0)" onclick="post('/unsave_post/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-save"></i>Unsave</a></li>
						{% elif v %}
							<li class="list-inline-item"><a href="javascript:void(0)" onclick="post('/save_post/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-save"></i>Save</a></li>
						{% endif %}

						<li class="list-inline-item"><a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" data-target="#reportPostModal" onclick="report_postModal('{{p.id}}', '{{p.author.username}}')"><i class="fas fa-flag"></i>Report</a></li>

						{% if v and v.id==p.author_id %}
							<li class="list-inline-item"><a class="text-muted" href="javascript:void(0)" onclick="post('/pin/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-thumbtack"></i>{% if p.is_pinned %}Unpin from your profile{% else %}Pin to your profile{% endif %}</a></li>
							{% if p.deleted_utc > 0 %}
								<li class="list-inline-item"><a href="javascript:void(0)" onclick="post('/undelete_post/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-trash-alt"></i>Undelete</a></li>
							{% else %}
								<li class="list-inline-item"><a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" data-target="#deletePostModal" onclick="delete_postModal('{{p.id}}')"><i class="fas fa-trash-alt"></i>Delete</a></li>
							{% endif %}
						{% endif %}
						
						{% if v and v.admin_level>=3 %}
							<li class="list-inline-item"><a class="text-info" href="javascript:void(0)" onclick="post('/sticky/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-thumbtack"></i>{% if p.stickied %}Unpin{% else %}Pin{% endif %}</a></li>
							{% if v==p.author %}
								<li class="list-inline-item"><a class="text-info" href="javascript:void(0)" onclick="post('/distinguish/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-crown"></i>Distinguish</a></li>
							{% endif %}
						{% endif %}

						{% if v %}
							{% if v.admin_level >=3 %}
								<li class="list-inline-item"><a class="text-success" href="javascript:void(0)" onclick="post('/unban_post/{{p.id}}',callback=function(){window.location.reload(true);})"><i class="fas fa-check"></i>Approve</a></li>
								<li class="list-inline-item"><a class="text-danger" href="javascript:void(0)" onclick="post('/ban_post/{{p.id}}',callback=function(){window.location.reload(true);})"><i class="fas fa-ban"></i>Remove</a></li>
							{% endif %}

							{% if v.id == p.author_id or v.admin_level >= 3 %}
								<li class="list-inline-item"><a class="text-danger" href="javascript:void(0)" onclick="post('/toggle_post_nsfw/{{p.id}}', function(){window.location.reload(true);})"><i class="fas fa-eye-evil"></i>Toggle +18</a></li>
							{% endif %}

							{% if v.admin_level >= 4 and p.oauth_app %}
								<li class="list-inline-item"><a href="{{p.oauth_app.permalink}}" ><i class="fas fa-code"></i>API App</a></li>
							{% endif %}

							{% if not v.id==p.author_id and v.admin_level == 0 %}
								<li id="block-user-{{p.id}}" class="list-inline-item {% if p.is_blocking %}d-none{% endif %}"><a href="javascript:void(0)" onclick="post_toast('/settings/block?username={{p.author.username}}', callback=function(){document.getElementById('block-user-{{p.id}}').classList.toggle('d-none');document.getElementById('unblock-user-{{p.id}}').classList.toggle('d-none');})"
								><i class="fas fa-eye-slash"></i>Block user</a></li>
								<li id="unblock-user-{{p.id}}" class="list-inline-item{% if not p.is_blocking %} d-none{% endif %}"><a href="javascript:void(0)" onclick="post_toast('/settings/unblock?username={{p.author.username}}', callback=function(){document.getElementById('block-user-{{p.id}}').classList.toggle('d-none');document.getElementById('unblock-user-{{p.id}}').classList.toggle('d-none');})"
								><i class="fas fa-eye"></i>Unblock user</a></li>
							{% endif %}

							{% if not v.id==p.author_id and v.admin_level == 1 %}
								<li id="sex-user-{{p.id}}" class="list-inline-item{% if p.is_blocking %} d-none{% endif %}"><a class="text-danger" href="javascript:void(0)" onclick="post_toast('/settings/block?username={{p.author.username}}', callback=function(){document.getElementById('block-user-{{p.id}}').classList.toggle('d-none');document.getElementById('unblock-user-{{p.id}}').classList.toggle('d-none');})"
								><i class="fas fa-user-slash text-danger"></i>Ban user</a></li>
								<li id="unsex-user-{{p.id}}" class="list-inline-item{% if not p.is_blocking %} d-none{% endif %}"><a class="text-success" href="javascript:void(0)" onclick="post_toast('/settings/unblock?username={{p.author.username}}', callback=function(){document.getElementById('block-user-{{p.id}}').classList.toggle('d-none');document.getElementById('unblock-user-{{p.id}}').classList.toggle('d-none');})"
								><i class="fas fa-user-slash text-success"></i>Unban user</a></li>
							{% endif %}

							{% if v.admin_level >=3 and v.id!=p.author_id %}
								{% if p.author.is_banned %}
									<li class="list-inline-item"><a class="text-success" href="javascript:void(0)" onclick="post_toast('/unban_user/{{p.author_id}}')"
									><i class="fas fa-user-slash text-success"></i>Unban user</a></li>
								{% else %}
									<li class="list-inline-item "><a class="text-danger" href="javascript:void(0)" onclick="post_toast('/ban_user/{{p.author_id}}')"
									><i class="fas fa-user-slash text-danger"></i>Ban user</a></li>
								{% endif %}
							{% endif %}
						{% endif %}
												
			</ul>
							</div>

						</div>

					</div>
					<!-- Voting on "medium" devices or larger, hidden on smaller devices -->

					{% if v %}

					<div id="voting" class="voting d-none d-md-block mb-auto">
						<div id="post-{{p.id}}-up" tabindex="0" data-id-up="{{p.id}}" data-content-type="post" class="mx-auto arrow-up upvote-button post-{{p.id}}-up {% if voted==1 %}active{% endif %}"></div>

						<span id="post-score-{{p.id}}" class="score post-score-{{p.id}} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}" data-toggle="tooltip" data-placement="right" data-original-title="+{{ups}} | -{{downs}}">{{score}}</span>

						<div id="post-{{p.id}}-down" tabindex="0" data-id-down="{{p.id}}" data-content-type="post" class="text-muted mx-auto arrow-down downvote-button post-{{p.id}}-down {% if voted==-1 %}active{% endif %}"></div>
					</div>

					{% else %}

					<div id="voting" class="voting d-none d-md-block mb-auto">
						<div id="post-{{p.id}}-up" tabindex="0" class="arrow-up mx-auto" onclick="location.href='/login?redirect={{request.path | urlencode}}';">
						</div>
						<span id="post-{{p.id}}-score-none" class="score text-muted"{% if not p.is_banned %} data-toggle="tooltip" data-placement="right" data-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>
						<div id="post-{{p.id}}-down" tabindex="0" class="arrow-down mx-auto" onclick="location.href='/login?redirect={{request.path | urlencode}}';">
						</div>
					</div>

					{% endif %}

				</div>




			</div>

		</div>

		<div class="row no-gutters d-block d-md-none">
			<div class="col">
			 <a {% if v and v.newtabexternal %}target="_blank"{% endif %} rel="noopener noreferrer" href="{{p.realurl(v)}}">{% if p.is_image %}<img src="{{p.realurl(v)}}" class="img-fluid" alt="Unable to anonymously load image">
				 <div class="post-img-overlay d-block d-md-none">{{p.domain}}<i class="fas fa-external-link-alt text-small ml-2"></i></div>
				 {% endif %}
			 </a>
		 </div>
	 </div>

 </div>

 <div class="row mb-3 d-block d-md-none">
	<div class="col-12">

		<div class="post-actions">
			<ul class="list-inline text-right d-flex">

				<li class="list-inline-item mr-auto"><a href="{{p.permalink}}"><i class="fas fa-comment-dots"></i>{{p.comment_count}}</a></li>

				<li class="list-inline-item"><a href="javascript:void(0);" role="button" class="copy-link" data-clipboard-text="{{p.permalink | full_link}}"><i class="fas fa-link"></i>Share</a></li>
				{% if v %}
				<li class="list-inline-item">
					<a href="#" data-toggle="modal" data-target="#actionsModal">
						<i class="fas fa-ellipsis-h"></i>
					</a>
				</li>
				{% endif %}
				<li id="voting-{{p.id}}-mobile" class="voting list-inline-item d-md-none{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}">
					{% if v %}
					<span id="post-{{p.id}}-up-mobile" tabindex="0" data-id-up="{{p.id}}" data-content-type="post" class="mr-2 arrow-up upvote-button post-{{p.id}}-up {% if voted==1 %}active{% endif %}">
					</span>
					{% else %}
					<span id="arrow-{{p.id}}-mobile-up" tabindex="0" class="mr-2 arrow-mobile-up" onclick="location.href='/login?redirect={{request.path | urlencode}}';">
						<i class="fas fa-arrow-alt-up mx-0" aria-hidden="true"></i>
					</span>
					{% endif %}

					<span id="post-score-{{p.id}}" class="score post-score-{{p.id}} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}" data-toggle="tooltip" data-placement="top" data-original-title="+{{ups}} | -{{downs}}">{{score}}</span>

					{% if v %}
					<span id="post-{{p.id}}-down-mobile" tabindex="0" data-id-down="{{p.id}}" data-content-type="post" class="ml-2 my-0 arrow-down downvote-button post-{{p.id}}-down {% if voted==-1 %}active{% endif %}">
					</span>
					{% else %}
					<span id="arrow-{{p.id}}-mobile-down" tabindex="0" class="arrow-mobile-down ml-2 my-0" onclick="location.href='/login?redirect={{request.path | urlencode}}';">
						<i class="fas fa-arrow-alt-down mx-0" aria-hidden="true"></i>
					</span>
					{% endif %}
				</li>
			</ul>
		</div>

	</div>

</div>

{% if p.active_flags %}
    <div id="flaggers" class="flaggers d-none">
        <strong><i class="far fa-fw fa-flag"></i> Reported by:</strong>
		<pre></pre>
        <ul style="padding-left:20px; margin-bottom: 0;">
            {% for f in p.ordered_flags %}
            	<li><a style="font-weight:bold" href="{{f.user.url}}">@{{f.user.username}}</a>{% if f.reason %}: {{f.reason}}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="row border-md-0 comment-section pb-3">
	<div class="col border-top">
		<div class="comments-count py-3">
			<div class="dropdown dropdown-actions">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% if sort=="top" %}<i class="fas fa-arrow-alt-circle-up mr-1"></i>{% endif %}
					{% if sort=="bottom" %}<i class="fas fa-arrow-alt-circle-down mr-1"></i>{% endif %}
					{% if sort=="new" %}<i class="fas fa-sparkles mr-1"></i>{% endif %}
					{% if sort=="controversial" %}<i class="fas fa-bullhorn mr-1"></i>{% endif %}
					{% if sort=="random" %}<i class="fas fa-random mr-1"></i>{% endif %}
					{{sort | capitalize}}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 31px, 0px);">
					{% if sort != "top" %}<a class="dropdown-item" href="?sort=top"><i class="fas fa-arrow-alt-circle-up mr-2"></i>Top</a>{% endif %}
					{% if sort != "bottom" %}<a class="dropdown-item" href="?sort=bottom"><i class="fas fa-arrow-alt-circle-down mr-2"></i>Bottom</a>{% endif %}
					{% if sort != "new" %}<a class="dropdown-item" href="?sort=new"><i class="fas fa-sparkles mr-2"></i>New</a>{% endif %}
					{% if sort != "old" %}<a class="dropdown-item" href="?sort=old"><i class="fas fa-book mr-2"></i>Old</a>{% endif %}
					{% if sort != "controversial" %}<a class="dropdown-item" href="?sort=controversial"><i class="fas fa-bullhorn mr-2"></i>Controversial</a>{% endif %}
					{% if sort != "random" %}<a class="dropdown-item" href="?sort=random"><i class="fas fa-random mr-2"></i>Random</a>{% endif %}
				</div>
				{% if linked_comment and p.comment_count >= 2%}
					<pre></pre>
					<div class="total"><a href="{{p.permalink}}">View entire discussion</a></div>
				{% endif %}
			</div>
		</div>

	<div id="comment-form-space-{{p.fullname}}" class="comment-write mb-3">
		<form id="reply-to-{{p.fullname}}" class="input-group" action="/comment" method="post">
			<input type="hidden" name="formkey" value="{{v.formkey}}">
			<input type="hidden" name="parent_fullname" value="t2_{{p.id}}">
			<input id="reply-form-submission-{{p.fullname}}" type="hidden" name="submission" value="{{p.id}}">
			{% if v %}
			<textarea id="reply-form-body-{{p.fullname}}" class="comment-box form-control rounded" id="comment-form" name="body" form="reply-to-{{p.fullname}}" aria-label="With textarea" placeholder="Add your comment..." rows="3"></textarea>
			{% endif %}
			<div class="comment-format">
				<a class="btn btn-secondary format d-inline-block m-0" href="javascript:void(0)" class="format pl-0"><i class="fas fa-bold" onclick="makeBold('reply-form-body-{{p.fullname}}')" data-toggle="tooltip" data-placement="bottom"  title="Bold"></i></a>
				&nbsp;
				<a class="btn btn-secondary format d-inline-block m-0" href="javascript:void(0)"><i class="fas fa-italic" onclick="makeItalics('reply-form-body-{{p.fullname}}')" data-toggle="tooltip" data-placement="bottom"  title="Italicize"></i></a>
				&nbsp;
				<a class="btn btn-secondary format d-inline-block m-0" href="javascript:void(0)"><i class="fas fa-quote-right" onclick="makeQuote('reply-form-body-{{p.fullname}}')" data-toggle="tooltip" data-placement="bottom"  title="Quote"></i></a>
				&nbsp;
				<label class="btn btn-secondary format d-inline-block m-0" for="gif-reply-btn-{{p.fullname}}">
					<span id="gif-reply-btn-{{p.fullname}}" class="font-weight-bolder text-uppercase" onclick="commentForm('reply-form-body-{{p.fullname}}');getGif()" aria-hidden="true" data-toggle="modal" data-target="#gifModal" data-toggle="tooltip" data-placement="bottom" title="Add GIF">GIF</span>
				</label> 
				&nbsp;
				<label class="btn btn-secondary format d-inline-block m-0" for="emoji-reply-btn-{{p.fullname}}">
					<div id="emoji-reply-btn-{{p.fullname}}" onclick="loadEmojis('reply-form-body-{{p.fullname}}')" aria-hidden="true" data-toggle="modal" data-target="#emojiModal" data-toggle="tooltip" data-placement="bottom" title="Add Emoji"><i class="fas fa-smile-beam"></i></div>
				</label> 
				<label class="format btn btn-secondary m-0 ml-1 {% if v %}d-inline-block{% else %}d-none{% endif %}" for="file-upload-reply-{{p.fullname}}">
					<div id="filename-show-reply-{{p.id}}"><i class="far fa-image"></i></div>
					<input id="file-upload-reply-{{p.fullname}}" type="file" name="file" accept="image/*" onchange="document.getElementById('filename-show-reply-{{p.id}}').innerHTML='image';" hidden>
				</label>
<!-- 			&nbsp;&nbsp;
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="nsfwCheck-{{p.fullname}}" name="over_18" form="reply-to-{{p.fullname}}">
					<label class="custom-control-label" for="nsfwCheck">+18</label>
				</div>
 -->				<a id="save-reply-to-{{p.fullname}}" href="javascript:void(0)" form="reply-to-{{p.fullname}}" class="btn btn-primary text-whitebtn ml-auto" onclick="post_comment('{{p.fullname}}')">Comment</a>
			</div>
		</form>
	</div>

	{% if not v and not p.is_banned %}
	<div class="comment-write mb-3">
		<textarea class="comment-box form-control rounded" name="body" aria-label="With textarea" placeholder="Add your comment..." rows="3" onclick="location.href='/login?redirect={{request.path | urlencode}}';"></textarea>
	</div>
	{% if p.comment_count >= 2 %}
	<div class="card border-0 bg-light mt-4">
		<div class="card-body">
			<h5 class="card-title">Jump in the discussion.</h5>
			<p class="card-text">No email address required.</p>
			<div>
				<a href="/signup?redirect={{request.path | urlencode}}" class="btn btn-primary">Sign up</a>
				<a href="/login?redirect={{request.path | urlencode}}" class="btn btn-link text-muted">Sign in</a>
			</div>
		</div>
	</div>
	{% endif %}
	{% endif %}

	{% if p.replies %}
	<div class="comment-section">
	 {% with comments=p.replies %}
	 {% include "comments.html" %}
	 {% endwith %}
 </div>
 {% elif not p.replies and p.deleted_utc == 0 %}
 <div class="comment-section text-center py-7">
	<span class="fa-stack fa-2x text-muted mb-4">
		<i class="fas fa-square text-gray-500 opacity-25 fa-stack-2x"></i>
		<i class="fas text-gray-500 fa-ghost fa-stack-1x text-lg"></i>
	</span>
	<h2 class="h5">Be the first to comment!</h2>
	{% if v %}
	<p class="text-muted">This comment section is a ghost town...</p>
	{% else %}
	<p class="text-muted">This comment section is a ghost town. <a href="/login?redirect={{request.path | urlencode}}">Sign in</a></p>
	{% endif %}
</div>
{% endif %}

</div>

</div>

{% if v and v.id==p.author_id %}
{% include "delete_post_modal.html" %}
{% endif %}

{% include "delete_comment_modal.html" %}


{% endblock %}

{% block GIFtoast %}
<div class="toast" id="toast-error-gif" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
	<div class="toast-body bg-danger text-center text-white">
		<i class="fas fa-exclamation-circle mr-2"></i>Unable to snag gifs :(
	</div>
</div>
{% endblock %}

{% block GIFpicker %}
{% if v %}
{% include "gif_modal.html" %}
{% include "emoji_modal.html" %}
{% endif %}
{% endblock %}