{% if v %}
	{% include "award_modal.html" %}
{% endif %}

{% for p in listing %}

{% set ups=p.upvotes %}
{% set downs=p.downvotes %}
{% set score=ups-downs %}

{% if v %}
	{% set voted= p.voted %}
{% else %}
	{% set voted=-2 %}
{% endif %}

{% if request.host == 'pcmemes.net' %}
	{% set cc='SPLASH MOUNTAIN' %}
{% else %}
	{% set cc='COUNTRY CLUB' %}
{% endif %}

{% if p.active_flags %}
	<div id="flaggers-{{p.id}}" class="flaggers hidden">
		<strong><i class="far fa-fw fa-flag"></i> Reported by:</strong>
		<pre></pre>
		<ul style="padding-left:20px; margin-bottom: 0;">
			{% for f in p.ordered_flags %}
				<li><a style="font-weight:bold" href="{{f.user.url}}">{{f.user.username}}</a>{% if f.reason %}: {{f.reason | safe}}{% endif %} {% if v.admin_level==6 %}<a href="javascript:void(0)" onclick="post_toast('/del_report/p{{ f.id }}')">[remove]</a>{% endif %}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<li id="post-{{p.id}}" class="p-2.5 mb-2 sm:mb-4 sm:pb-4 sm:pt-0 sm:px-0 bg-gray-200 border-b border-gray-300 {% if p.is_banned %} banned{% endif %}{% if p.deleted_utc %} deleted{% endif %}{% if p.stickied %} stickied{% endif %}{% if voted==1 %} upvoted{% elif voted==-1 %} downvoted{% endif %}{% if p.over_18 %} nsfw{% endif %}">

	<div class="flex flex-nowrap">

		<div class="hidden md:flex flex-col flex-shrink-0 items-center mr-4">
			<div class="relative {{ 'santa' if p.author.patron else 'cap' }}">
				<img loading="lazy" src="{{ p.author.profile_url }}" class="hidden md:block flex-shrink-0 w-14 h-14 p-[3px] bg-white border border-gray-300 object-cover" alt="{{ p.author.username }} avatar"/>
			</div>

			{% if not postembed %}
			<div class="py-2 text-sm text-center font-bold hidden md:block">
				{% if v and request.path.startswith('/@') and not v.admin_level %}

					{% if voted==1 %}
					<div class="mx-auto arrow-up post-{{p.id}}-up active"></div>
					{% endif %}

					<span id="post-score-{{p.id}}" class="score post-score-{{p.id}} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}"{% if not p.is_banned %} data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>

					{% if voted==-1 %}
						<div class="text-muted mx-auto arrow-down post-{{p.id}}-down active"></div>
					{% endif %}

					{% elif v %}

					<div id="post-{{p.id}}-up" tabindex="0" href="javascript:void(0)" onclick="vote('post', '{{p.id}}', '1')" class="mx-auto arrow-up upvote-button post-{{p.id}}-up {% if voted==1 %}active{% endif %}"></div>

					<span id="post-score-{{p.id}}" class="score post-score-{{p.id}} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}"{% if not p.is_banned %} data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>

					<div {% if environ.get('DISABLE_DOWNVOTES') == '1' %}style="display:None!important"{% endif %} id="post-{{p.id}}-down" tabindex="0" href="javascript:void(0)" onclick="vote('post', '{{p.id}}', '-1')" class="text-muted mx-auto arrow-down downvote-button post-{{p.id}}-down {% if voted==-1 %}active{% endif %}"></div>

					{% else %}

					<div id="post-{{p.id}}-up" tabindex="0" href="javascript:void(0)" onclick="vote('post', '{{p.id}}', '1')" class="mx-auto arrow-up" onclick="location.href='/login';"></div>

					<span id="post-{{p.id}}-score-none" class="score"{% if not p.is_banned %} data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>

					<div {% if environ.get('DISABLE_DOWNVOTES') == '1' %}style="display:None!important"{% endif %} id="post-{{p.id}}-down" tabindex="0" href="javascript:void(0)" onclick="vote('post', '{{p.id}}', '-1')" class="text-muted mx-auto arrow-down" onclick="location.href='/login';"></div>

				{% endif %}
			</div>
			{% endif %}
		</div>
		  
		<div class="w-full">

			<div class="overflow-x-auto flex items-center space-x-2 md:-ml-2 mb-1 text-sm text-gray-500 leading-normal {% if p.award_count('ghosts') %}ghosts{% endif %}">

				<div class="relative md:hidden {{ 'santa' if p.author.patron else 'cap' }}">
					<img loading="lazy" src="{{ p.author.profile_url }}" class="w-9 h-9 p-[3px] bg-white border border-gray-300 object-cover" alt="{{ p.author.username }} avatar"/>
				</div>

				{% if v and v.admin_level==6 and p.author.shadowbanned %}
				<i class="fas fa-user-times fa-fw fa-sm text-admin" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Shadowbanned by @{{p.author.shadowbanned}}"></i>
				{% endif %}
				{% if p.stickied %}
				<i id='pinned-{{p.id}}' class="fas fa-thumbtack fa-rotate--45 fa-fw fa-sm text-admin" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Pinned {% if p.stickied.startswith('t:') %}until {{p.stickied[2:]}}{% else %}by @{{p.stickied}}{%endif%}"></i>
				{% endif %}
				{% if p.distinguish_level %}
				<i class="fas fa-broom fa-fw fa-sm text-admin" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="{{'SITE_NAME' | app_config}} Admin, speaking officially"></i>
				{% endif %}
				{% if p.is_pinned and request.path.startswith('/@') %}
				<i class="fas fa-thumbtack fa-rotate--45 fa-fw fa-sm text-admin" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Pinned to profile"></i>
				{% endif %}
				{% if p.over_18 %}
				<span class="p-1 text-xs uppercase font-bold leading-tight bg-red-600">+18</span>
				{% endif %}
				{% if p.is_bot %}
				<i class="fad fa-robot fa-fw fa-sm text-info" data-bs-toggle="tooltip" data-bs-placement="bottom"	title="" data-bs-original-title="Bot"></i>
				{% endif %}
				{% if p.is_blocking %}
				<i class="fas fa-user-minus fa-fw fa-sm text-yellow-600" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="You're blocking this user, but you can see this post because you're an admin."></i>
				{% endif %}
				{% if p.is_blocked %}
				<i class="fas fa-user-minus fa-fw fa-sm text-red-600" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="This user is blocking you."></i>
				{% endif %}
				{% if p.author.verified %}
				<i class="fas fa-badge-check fa-fw fa-sm" style="color:{% if p.author.verifiedcolor %}#{{p.author.verifiedcolor}}{% else %}#1DA1F2{% endif %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="{{p.author.verified}}"></i>
				{% endif %}
				{% if not p.award_count('ghosts') %}
				<button class="flex items-center font-bold" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="focus" data-content-id="popover-{{p.id}}" tabindex="0" style="color: #{{p.author.namecolor}};">
					{% if p.author.patron and not p.distinguish_level %}
					<span class="patron" style="background-color:#{{p.author.namecolor}};">
						{{p.author.username}}
					</span>
					{% elif p.distinguish_level and 'rama' in request.host %}
					<span class="mod">
						{{p.author.username}}
					</span>
					{% else %}
					<span>
						{{p.author.username}}
					</span>
					{% endif %}
				</button>
				{% if p.author.customtitle %}
					<bdi style="color: #{{p.author.titlecolor}}">
						{% if p.author.quadrant %}
							<img loading="lazy" height="20" src="/assets/images/PCM/quadrants/{{p.author.quadrant}}.gif">
						{% endif %}
						{{p.author.customtitle | safe}}
					</bdi>
				{% endif %}
				{% endif %}
				<span data-bs-toggle="tooltip" data-bs-placement="bottom" id="timestamp-{{p.id}}">{{p.age_string}}</span>

				{% if p.edited_utc %}
					Edited
					<span data-bs-toggle="tooltip" data-bs-placement="bottom" id="edited_timestamp-{{p.id}}">{{p.edited_string}}</span>
				{% endif %}
				
				{% if p.realurl(v) %}
					<a class="text-gray-500 hover:underline" href="/search/posts/?q=domain%3A{{p.domain}}&sort=new&t=all" {% if not v or v.newtabexternal %}target="_blank"{% endif %}>({{p.domain}})
					</a>
					{% else %}
					<span>(text post)</span>
				{% endif %}

				{% if p.private %}
				<span class="px-1 py-0.5 text-xs text-yellow-900 text-shadow-light bg-yellow-400 font-bold leading-normal rounded">
					Draft
				</span>
				{% endif %}
				{% if p.active_flags %}
				<button class="badge badge-red" onclick="document.getElementById('flaggers-{{p.id}}').classList.toggle('hidden')">{{p.active_flags}} Reports
				</button>
				{% endif %}

				{% if p.bannedfor and p.author.banned_by %}
					<a><i class="fad fa-gavel fa-fw fa-sm text-red-600" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="User was banned for this post by @{{p.author.banned_by.username}}"></i></a>
				{% endif %}

				{% if p.awards %}
					{% for a in p.awards %}
						<i class="{{a.class_list}} fa-fw fa-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="{{a.title}} Award given by @{{a.user.username}}"></i>
					{% endfor %}
				{% endif %}
			</div>

			<h5 class="post-title font-bold font-heading text-lg md:text-xl leading-normal mb-2">
				<a {% if v and v.newtab %}target="_blank"{% endif %} {% if v %}href="{{p.permalink}}"{% else %}href="/logged_out{{p.permalink}}"
				{% endif %}>
				{% if p.club %}
					<span class="patron font-weight-bolder mr-1" style="background-color:red; font-size:10px; line-height:2;">COUNTRY CLUB</span>
				{% endif %}
				{{p.realtitle(v) | safe}}
				</a>
			</h5>

			<div class="max-h-32 mb-2 overflow-hidden pointer-events-none text-gray-600" style="-webkit-mask-image: linear-gradient(180deg,#000 60%,transparent); mask-image: linear-gradient(180deg,#000 60%,transparent)">
				{{p.realbody(v) | safe}}
			</div>

			<div class="hidden md:block pt-3">
				{% include "/submission/SubmissionActions.html" %}
			</div>
	</div>

		<div class="flex flex-row flex-nowrap md:pl-5">
			<div style="z-index: 3;">
				{% if p.club and not (v and v.paid_dues) %}
					<img loading="lazy" src="/assets/images/emojis/marseyglow.webp" class="post-thumbnail shadow-sm p-[3px] w-32 h-20 object-cover object-cover bg-white border border-gray-300">
				{% elif not p.url %}
					<a {% if v and v.newtab %}target="_blank"{% endif %} {% if v %}href="{{p.permalink}}"{% else %}href="/logged_out{{p.permalink}}"{% endif %}>
						<img loading="lazy" src="{{p.thumb_url}}" class="post-thumbnail shadow-sm p-[3px] w-32 h-20 object-cover object-cover bg-white border border-gray-300">
					</a>
				{% elif p.is_image %}
					<button data-bs-toggle="modal" data-bs-target="#expandImageModal" data-bs-url="{{p.realurl(v)}}" onclick="expandDesktopImage('{{ p.realurl(v) }}')">
						<img loading="lazy" src="{{p.thumb_url}}" class="post-thumbnail shadow-sm p-[3px] w-32 h-20 object-cover object-cover bg-white border border-gray-300">
					</button>
				{% elif (p.url and p.url.lower().endswith('.mp4')) or (p.embed_url and "youtu" in p.domain) or (p.url and "streamable.com/e/" in p.url) %}
					<button onclick="document.getElementById('video-{{p.id}}').classList.toggle('hidden')">
						<img loading="lazy" src="{{p.thumb_url}}" class="post-thumbnail shadow-sm p-[3px] w-32 h-20 object-cover object-cover bg-white border border-gray-300">
					</button>
				{% else %}
					<a {% if not v or v.newtabexternal %}target="_blank"{% endif %} rel="nofollow noopener noreferrer" href="{{p.realurl(v)}}">
						<img loading="lazy" src="{{p.thumb_url}}" class="post-thumbnail shadow-sm p-[3px] w-32 h-20 object-cover object-cover bg-white border border-gray-300">
					</a>
				{% endif %}
			</div>
		</div>

</div>

<!-- <div class="card-footer md:hidden mt-2 {% if request.path == '/changelog' %}px-0{% endif %}">
	<div class="post-actions">
		<ul class="list-inline text-right flex">
			<li class="list-inline-item mr-auto">
				<a {% if v and v.newtab %}target="_blank"{% endif %} {% if v %}href="{{p.permalink}}"{% else %}href="/logged_out{{p.permalink}}"{% endif %}>
					<i class="fas fa-comment-dots"></i>{{p.comment_count}}
					<span class="text-info hidden new-comments"></span>
				</a>
			</li>
			
			<a class="copy-link" href="javascript:void(0);" role="button" data-clipboard-text="{% if 'rama' in request.host %}https://dogpill.life{{p.permalink}}{% else %}{{p.permalink | full_link}}{% endif %}" style="margin-right: 15px;margin-top:5px;"><i class="fas fa-link"></i></a>

			{% if p.realbody(v) and request.path != "/changelog"%}
				<a class="list-inline-item" href="javascript:void(0)" onclick="expandText('{{p.id}}')"><i class="fas fa-expand-alt mr-0 text-expand-icon-{{p.id}}"></i></a>
			{% endif %}

			{% if v %}
				<li class="list-inline-item">
					<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#actionsModal-{{p.id}}">
						<i class="fas fa-ellipsis-h"></i>
					</a>
				</li>
			{% endif %}
			{% if not postembed %}
				{% if v and request.path.startswith('/@') and not v.admin_level %}
				<li id="voting-{{p.id}}-mobile" class="voting list-inline-item md:hidden">

					{% if voted==1 %}
					<span class="mr-2 arrow-up post-{{p.id}}-up active">
					</span>
					{% endif %}

					<span id="post-mobile-score-{{p.id}}" class="score post-score-{{p.id}} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}"{% if not p.is_banned %} data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>

					{% if voted==-1 %}
						<span class="ml-2 my-0 arrow-down post-{{p.id}}-down active"></span>
					{% endif %}


				</li>
				{% elif v %}
				<li id="voting-{{p.id}}-mobile" class="voting list-inline-item md:hidden">

					<span id="post-mobile-{{p.id}}-up" tabindex="0" href="javascript:void(0)" onclick="vote('post-mobile', '{{p.id}}', '1')" class="mx-0 pr-1 arrow-up upvote-button post-{{p.id}}-up {% if voted==1 %}active{% endif %}">
					</span>

					<span id="post-mobile-score-{{p.id}}" class="score post-score-{{p.id}} {% if voted==1 %}score-up{% elif voted==-1%}score-down{% endif %}"{% if not p.is_banned %} data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>

					<span {% if environ.get('DISABLE_DOWNVOTES') == '1' %}style="display:None!important"{% endif %} id="post-mobile-{{p.id}}-down" tabindex="0" href="javascript:void(0)" onclick="vote('post-mobile', '{{p.id}}', '-1')" class="mx-0 pl-1 my-0 arrow-down downvote-button post-{{p.id}}-down {% if voted==-1 %}active{% endif %}">
					</span>

				</li>
				{% else %}
				<li id="voting-{{p.id}}-mobile" class="voting list-inline-item md:hidden">
					<span id="arrow-{{p.id}}-mobile-up" tabindex="0" class="mx-0 pr-1 arrow-mobile-up" onclick="location.href='/login';">
						<i class="fas fa-arrow-alt-up mx-0" aria-hidden="true"></i>
					</span>

					<span id="post-mobile-score-{{p.id}}" class="score"{% if not p.is_banned %} data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="+{{ups}} | -{{downs}}"{% endif %}>{{score}}</span>

					<span id="arrow-{{p.id}}-mobile-down" tabindex="0" class="arrow-mobile-down mx-0 pl-1 my-0" onclick="location.href='/login';">
						<i class="fas fa-arrow-alt-down mx-0" aria-hidden="true"></i>
					</span>
				</li>
				{% endif %}
			{% endif %}
		</ul>
	</div>
</div> -->

{% include "/modals/ModalSubmissionListingActions.html" %}

{% if p.is_image and not p.over_18 and ((v and v.cardview) or (not v and environ.get('CARD_VIEW') == '1')) %}
<div class="mt-4">
	<a target="_blank" rel="nofollow noopener noreferrer" href="{{p.url}}" class="inline-block">
		<img loading="lazy" src="/assets/images/loading.gif" data-src="{{p.url}}" class="shadow-md p-1 bg-white w-full md:w-64" alt="Post preview">
	</a>
</div>
{% endif %}

{% if not p.club or v and (v.paid_dues or v.id == p.author_id) %}
	{% if p.realbody(v) %}
		<div class="hidden rounded-md bg-gray-300/40 border border-gray-400/40 mt-3 p-3" id="post-text-{{p.id}}">
			{{p.realbody(v) | safe}}
		</div>
	{% endif %}

	{% if p.url and p.url.lower().endswith('.mp4') %}
		<div id="video-{{p.id}}" style="text-align: center" class="{% if p.over_18 or not ((v and v.cardview) or (not v and environ.get('CARD_VIEW') == '1')) %}hidden{% endif %} mt-4">
			<video controls loop preload="metadata" style="max-width: 100%">
				<source src="{{p.realurl(v)}}" type="video/mp4">
			</video>
		</div>
	{% elif p.embed_url and "youtu" in p.domain %}
		<div id="video-{{p.id}}" style="text-align: center" class="{% if p.over_18 or not ((v and v.cardview) or (not v and environ.get('CARD_VIEW') == '1')) %}hidden{% endif %} mt-3 mb-4">
			<iframe loading="lazy" src="{{p.embed_url}}" frameborder="0" style="max-width: 100%" width="600" height="337" allow="fullscreen"></iframe>
		</div>
	{% elif p.url and "streamable.com/e/" in p.url %}
		<div id="video-{{p.id}}" style="text-align: center" class="{% if p.over_18 or not ((v and v.cardview) or (not v and environ.get('CARD_VIEW') == '1')) %}hidden{% endif %} mt-3 mb-4">
			<iframe loading="lazy" src="{{p.url}}" frameborder="0" style="max-width: 100%" width="600" height="337" allow="fullscreen"></iframe>
		</div>
	{% endif %}
{% endif %}

</li>

{% else %}

{% if request.path.endswith('/admin/queue') %}

<div class="row no-gutters">	
	<div class="col">			
		<div class="text-center py-7">
			<div class="h4 p-2">This queue is empty. (That's a good thing.)</div>
		</div>			
	</div>	
</div>


{% elif u %}
{% if v and v.id == u.id %}
<div class="row no-gutters">	
	<div class="col">			
		<div class="text-center px-3 my-3">
			<span class="fa-stack fa-2x text-muted mb-4">
				<i class="fas fa-square text-gray-500 opacity-25 fa-stack-2x"></i>
				<i class="fas text-gray-500 fa-ghost fa-stack-1x text-lg"></i>
			</span>
			<h2 class="h5">You haven't {% if "saved" in request.full_path %}saved{% else %}made{% endif %} a post yet</h2>
			<p class="text-muted mb-md-5">Your {% if "saved" in request.full_path %}saved posts{% else %}posting history{% endif %} will show here.</p>
			{% if "saved" not in request.full_path %}<a href="/submit" class="btn btn-primary">Create a post</a>{% endif %}
		</div>			
	</div>	
</div>


{% else %}
<div class="row no-gutters">	
	<div class="col">			
		<div class="text-center px-3 my-3">
			<span class="fa-stack fa-2x text-muted mb-4">
				<i class="fas fa-square text-gray-500 opacity-25 fa-stack-2x"></i>
				<i class="fas text-gray-500 fa-scroll-old fa-stack-1x text-lg"></i>
			</span>
			<h2 class="h5">@{{u.username}} hasn't made a post yet</h2>
			<p class="text-muted">Their posting history will show here.</p>
			<pre>
			</pre>
		</div>			
	</div>	
</div>
{% endif %}

{% else %}
<div class="flex flex-col items-center justify-center py-24 md:py-48">
	<img loading="lazy" src="https://c.tenor.com/NhDy-AkelhQAAAAM/marsey-drama.gif" class="w-20 h-20 mb-4 rounded-md object-cover"/>
	<h2 class="text-xl font-bold leading-normal font-heading">No posts here :/</h2>
	<p class="text-muted">
		Looks like there is no content atm.
	</p>
</div>	


{% endif %}

{% endfor %}

{% if v %}
	{% include "delete_post_modal.html" %}
	{% include "report_post_modal.html" %}
	{% if v.admin_level == 6 %}
		{% include "ban_modal.html" %}
	{% endif %}
{% endif %}
{% include "expanded_image_modal.html" %}

{% block popovers %}

{% for p in listing %}
<div style="display:none" id="popover-{{p.id}}">
	<div class="popover-user-profile" role="tooltip">
	  <img class="w-full h-64 object-cover" src="{{p.author.banner_url}}">
	  <div class="flex align-items-end px-3 mt-n6 mb-3">
		<img class="avatar-72 rounded img-thumbnail shadow-sm" src="{{p.author.profile_url}}">
		<div class="px-3 text-truncate">
		  <h5 class="text-truncate text-black">{{p.author.username}}</h5>
		</div>
	  </div>
	  <div class="px-3">
		<span class="popover-bio text-black">{% if p.author.bio_html %}{{p.author.bio_html_eager | safe}}{% endif %}</span>
	  </div>
	  <div class="border-top flex align-items-center p-3 gap-3 smol">
		<span>
		  <strong class="text-black">{{p.author.post_count}}</strong>
		  <span class="text-black">posts</span>
		</span>
		<span class="ml-3">
		  <strong class="text-black">{{p.author.comment_count}}</strong>
		  <span class="text-black">comments</span>
		</span>
		<span class="ml-3">
			<strong class="text-black">{{p.author.coins}}</strong>
			<span class="text-black">coins</span>
		</span>  
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a {% if v %}href="{{p.author.url}}"{% else %}href="/logged_out{{p.author.url}}"{% endif %} target="_blank" class="ml-auto text-decoration-none">
		  View
		  <i class="fas fa-arrow-right fa-sm px-1"></i>
		</a>
	  </div>
	</div>
</div>
{% endfor %}

{% endblock %}

<script src="/assets/js/new_comments_count.js?v=54"></script>

{% for p in listing %}
<script>
	(() => {
		const date = new Date({{p.created_utc*1000}});
		document.getElementById('timestamp-{{p.id}}').title = date.toString();
		{% if p.edited_utc %}
			const dateEdited = new Date({{p.edited_utc*1000}});
			document.getElementById('edited_timestamp-{{p.id}}').title = dateEdited.toString();
		{% endif %}

		{% if (not v or v.highlightcomments) %}
			showNewCommentCounts('{{p.id}}', {{p.comment_count}})
		{% endif %}

		{% if p.stickied %}
		const pinned_info = document.getElementById('pinned-{{p.id}}')
		{% if p.stickied.startswith('t:') %}
			pinned_info.setAttribute("data-bs-original-title", `Pinned until ${new Date({{p.stickied[2:]}} * 1000).toString()}`)
		{% else %}
			pinned_info.setAttribute("data-bs-original-title", "Pinned by @{{p.stickied}}")
		{%endif%}
		{%endif%}
	})()
</script>
{% endfor %}

<style>
	.mod:before {
		content: '(((';
	}

	.mod:after {
		content: ')))';
	}

	.mod {
		padding: 2px 5px 3px 5px;
		border-radius: 5px;
		color:white!important;
		background: -moz-linear-gradient(180deg, red, orange, yellow, green, blue, indigo, violet);
		background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet );
		text-shadow:-1px -1px 0 black,1px -1px 0 black,-1px 1px 0 black,1px 1px 0 black;
	}
</style>