<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="{{config('DESCRIPTION')}}">
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'; connect-src 'self'; object-src 'none';">

		<script src="/assets/js/bootstrap.js?v=245"></script>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="author" content="">
		<link rel="icon" type="image/png" href="/assets/images/{{SITE_NAME}}/icon.webp?v=1015">

		{% if request.host == 'pcmemes.net' %}
			{% set cc='Splash Mountain' %}
		{% else %}
			{% set cc='Country Club' %}
		{% endif %}

		{% block title %}
		<title>Create a post - {{SITE_NAME}}</title>
		{% endblock %}

		
		{% block stylesheets %}
		{% if v %}
			<style>:root{--primary:#{{v.themecolor}}}</style>
			<link rel="stylesheet" href="/assets/css/main.css?v=254">
			<link rel="stylesheet" href="/assets/css/{{v.theme}}.css?v=49">
			{% if v.agendaposter %}
				<style>
					html {
						cursor:url('/assets/images/dildo.webp?v=1008'), auto;
					}
					.nav-item .text-small.font-weight-bold::before {
						content: "((("
					}
					.nav-item .text-small.font-weight-bold::after {
						content: ")))"
					}
					.nav-item .text-small-extra.text-primary {
						font-size: 0 !important
					}
					.nav-item .text-small-extra.text-primary i {
						font-size: 11px !important
					}
				</style>
			{% elif v.css %}
				<link rel="stylesheet" href="/@{{v.username}}/css">
			{% endif %}
		{% else %}
			<style>:root{--primary:#{{config('DEFAULT_COLOR')}}</style>
			<link rel="stylesheet" href="/assets/css/main.css?v=254">
			<link rel="stylesheet" href="/assets/css/{{config('DEFAULT_THEME')}}.css?v=49">
		{% endif %}
		{% endblock %}

<body id="submit" {% if SITE_NAME == 'rDrama' and v and (v.is_banned or v.agendaposter) %}style="overflow-x: hidden;background:url(/assets/images/backgrounds/anime/1.webp?v=3) center center fixed; background-color: var(--background)"{% elif v and v.background %}style="overflow-x: hidden;  background:url(/assets/images/backgrounds/{{v.background}}?v=3) center center fixed; background-color: var(--background)display: block{% if 'anime' not in v.background %};background-size: cover{% endif %}"{% endif %}>

				{% include "header.html" %}

		{% block form %}

		
		<div class="submit-grid-view">
			<form id="submitform" action="{% if sub %}/h/{{sub.name}}{% endif %}/submit" method="post" enctype="multipart/form-data" style="grid-column: 2">

				<div class="container">

						<div class="row justify-content-center mb-5">

								<div class="col p-3 py-md-0">

										<h2 class="mt-3">Create a post</h2>

										<div class="body">

												<input type="hidden" name="formkey" value="{{v.formkey}}">

												<label class='mt-4' for="title">Hole</label>

												<div class="input-group mb2">
													<input list="subs" autocomplete="off" id='sub' class="form-control" form="submitform" name="sub" oninput="savetext()" {% if sub %}value="{{sub.name}}"{% endif %} placeholder="Optional">
													<datalist id="subs">
														{% for s in SUBS %}
															<option value="{{s}}"></option>
														{% endfor %}
													</datalist>
													
												</div>
												<div class="mt-1" style="font-size: min(3.5vw,14px)"><span style="color:#ffcccb ">WARNING</span>: Selecting a hole considerably reduces the number of people who will see your post. Don't select a hole unless that's what you want.</div>

												<label class='mt-4' for="title">Post Title</label>


												<input autocomplete="off" class="form-control" id="post-title" aria-describedby="titleHelpRegister" type="text" name="title" placeholder="Required" value="{{title}}" minlength="1" maxlength="500" required oninput="checkForRequired();savetext()">

												<div onclick="loadEmojis('post-title')" class="btn btn-secondary format d-inline-block m-0" id="emoji-reply-btn-2" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#emojiModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Emoji"><i class="fas fa-smile-beam"></i></div>												

												<div id="urlblock">
														<label for="URL" class="mt-3">URL</label>
														<input autocomplete="off" class="form-control" id="post-url" aria-describedby="URLHelp" name="url" type="url" placeholder="Optional if you have text." value="{{request.values.get('url','')}}" required oninput="checkForRequired();hide_image();savetext();checkRepost(this){% if SITE_NAME != 'PCM' %};autoSuggestTitle(){% endif %}">
														<small id="system" class="form-text text-muted">To post an image, use a direct image link such as i.imgur.com</small>
												</div>
												<div id="image-upload-block">
													<div><label class="mt-3">Attachment Upload</label></div>

													<img loading="lazy" id="image-preview" style="max-width:50%">
													<label class="btn btn-secondary m-0" for="file-upload">
														<div id="filename-show">Select File</div>
														<input autocomplete="off" id="file-upload" type="file" name="file" {% if request.headers.get('cf-ipcountry')=="T1" %}disabled{% endif %} accept="image/*, video/*" hidden>
													</label>
													<small class="form-text text-muted">Optional if you have text.</small>
													<small class="form-text text-muted">You can upload images or videos up to 60 seconds.</small>
												</div>
												</div>

												<label for="body" class="mt-3">Text<i class="fas fa-info-circle text-gray-400 ml-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Uses markdown. Limited to 20000 characters."></i></label>

												<div>
													<textarea form="submitform" id="post-text" class="form-control rounded" aria-label="With textarea" placeholder="Optional if you have a link or an image." rows="7" name="body" oninput="markdown('post-text','preview');charLimit('post-text','character-count-submit-text-form');checkForRequired();savetext()" {% if v.longpost %}minlength="280"{% endif %} maxlength="{% if v.bird %}140{% else %}20000{% endif %}" required></textarea>

													<div class="btn btn-secondary fl-r mt-3" onclick="document.getElementById('preview').classList.toggle('d-none');">
														Toggle preview
													</div>

													<div class="text-small font-weight-bold mt-1" id="character-count-submit-text-form" style="right: 1rem; bottom: 0.5rem; z-index: 3;"></div>

												</div>

												<p></p>
												<small  onclick="makeBold('post-text')" class="btn btn-secondary format d-inline-block m-0">
												<i class="fas fa-bold" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bold"></i>
												</small>
												&nbsp; 
												<small onclick="makeItalics('post-text')" class="btn btn-secondary format d-inline-block m-0">
												<i class="fas fa-italic" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Italicize"></i>
												</small>
												&nbsp; 
												<small onclick="makeQuote('post-text')" class="btn btn-secondary format d-inline-block m-0">
												<i class="fas fa-quote-right" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Quote"></i>
												</small>
												&nbsp;
												<small class="btn btn-secondary format d-inline-block m-0"><span class="font-weight-bolder text-uppercase" aria-hidden="true" onclick="getGif();commentForm('post-text')" data-bs-toggle="modal" data-bs-target="#gifModal" data-bs-toggle="tooltip" data-bs-placement="bottom"  title="Add GIF">GIF</span></small>
												&nbsp;
												<div onclick="loadEmojis('post-text')" class="btn btn-secondary format d-inline-block m-0" id="emoji-reply-btn" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#emojiModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Emoji"><i class="fas fa-smile-beam"></i></div>
																
												<label class="format btn btn-secondary m-0 ml-1 {% if v %}d-inline-block{% else %}d-none{% endif %}" for="file-upload-submit">
													<div id="filename-show-submit"><i class="far fa-image"></i></div>
													<input autocomplete="off" id="file-upload-submit" multiple="multiple" type="file" name="file2" accept="image/*, video/*" {% if request.headers.get('cf-ipcountry')=="T1" %}disabled{% endif %} onchange="changename('filename-show-submit','file-upload-submit');checkForRequired()" hidden>
												</label>		

												<div id="preview" class="preview my-3"></div>

												<pre></pre>
												<div class="form-text text-small"><a href="/formatting" {% if v and v.newtab and not g.webview %}target="_blank"{% endif %}>Formatting help</a></div>
												<pre></pre>

												<div class="custom-control custom-checkbox">
														<input checked autocomplete="off" type="checkbox" class="custom-control-input" id="followers" name="followers">
														<label class="custom-control-label" for="followers">Notify followers</label>
												</div>

												<div class="custom-control custom-checkbox">
													<input autocomplete="off" type="checkbox" class="custom-control-input" id="new" name="new">
													<label class="custom-control-label" for="new">Make the default comment sorting "new"</label>
												</div>

												<div class="custom-control custom-checkbox">
														<input autocomplete="off" type="checkbox" class="custom-control-input" id="nsfw" name="over_18">
														<label class="custom-control-label" for="nsfw">+18</label>
												</div>
												<div class="custom-control custom-checkbox">
														<input onchange='draft(this);' autocomplete="off" type="checkbox" class="custom-control-input" id="private" name="private">
														<label class="custom-control-label" for="private">Draft</label>
												</div>

												<div class="custom-control custom-checkbox">
													<input autocomplete="off" type="checkbox" class="custom-control-input" id="club" name="club">
													<label class="custom-control-label" for="club">{{CC_TITLE}} thread</label>
												</div>

												<div class="custom-control custom-checkbox">
														<input onchange='draft(this);' autocomplete="off" type="checkbox" class="custom-control-input" id="ghost" name="ghost" {% if v.coins < 100 %}disabled{% endif %}>
														<label class="custom-control-label" for="ghost">Ghost Thread (cost: 100 coins)</label>
												</div>

												<pre>






												</pre>
										</div>

								</div>

						</div>

				<div class="container">
						<div class="row fixed-bottom bg-white border-top p-3" id="" style="z-index: 100; bottom: 0px; transition: bottom 220ms cubic-bezier(0, 0, 0.2, 1) 0s;">
								<div class="col">
										<a href="/" class="btn btn-secondary">Cancel</a>
								</div>
								<div class="col text-right">
										{% if error %}<span class="text-danger text-large mr-2">{{error}}</span>{% endif %}
										<button class="btn btn-primary" id="create_button" type="submit" disabled>Post</button>
								</div>
						</div>
				</div>

			</form>

		</div>
		{% endblock %}

		{% if request.path == '/submit' %}
			<script>
				let sub = document.getElementById('sub')
				if (sub) sub.value = localStorage.getItem("sub")
			</script>
		{% endif %}

		<script src="/assets/js/marked.js?v=251"></script>
		<script src="/assets/js/formatting.js?v=240"></script>
		<script src="/assets/js/submit.js?v=255"></script>
		{% include "emoji_modal.html" %}
		{% include "gif_modal.html" %}

</body>

</html>
