{% extends "default.html" %}

{% block title %}
<title>{{SITE_TITLE}} - Support Us</title>
{% endblock %}

{% block content %}
<pre>


</pre>
<div class="mx-4 mt-2 mb-6">
	<h1 class="text-muted text-uppercase">Support the Site</h1>

    <p>Running your own site, and maintaining a viable community on that site, is difficult. We're asking for funding, first to help with server costs. Funds past that amount will be used to help grow the site. There's a lot of paths this could take, including advertising, hiring an editor to work on a Best Of page, increasing available development time for requested features, and doubtless many more ideas proposed by our userbase. None of this can happen without support.</p>

    <h2 class="text-center"><a href="https://www.patreon.com/themotte">Support The Motte on Patreon</a> (preferred!)</h2>

    <p class="mt-5 text-center">Contribute ETH: 0xa97e126DCEcC7Ea3AF05d252B49c03ae35547dD9</p>
    
    <p class="text-center">Contribute BTC: <a href="bitcoin:bc1qnj0mvg90dfawjq3kxq4wdvcq0ejksgyf2m0xnq">bc1qnj0mvg90dfawjq3kxq4wdvcq0ejksgyf2m0xnq</a></p>
</div>
{% endblock %}
