{% extends "default.html" %}

{% block title %}
<title>{{'SITE_NAME' | app_config}} Terms of use</title>

{% endblock %}

{% block content %}
<pre>


</pre>
<div class="mx-4 mt-2 mb-6">
	<h5 class="text-muted text-uppercase">{{'SITE_NAME'|app_config}} Terms of use</h5>

	<div id="rules" class="my-3">          
                <p>By using Drama you agree to abstain from posting or submitting to any of the following. Additionally, you warrant that anything posted or submitted by you complies with this code of conduct.</p>

                <hr>
        
                <h2 class="h3">Legal</h2>
        
                <p><u>Copyright:</u> You may not post anything copyrighted by another party or material not properly licensed to you.</p>
        
                <p><u>United States Law:</u> You may not post anything not legal to publish within or export from the United States of America.</p>
        
                <h2 class="h3" id="safety">Safety</h2>
        
                <p><u>Harrasment:</u> You may not post anything that harasses or encourages of others either online or offline.</p>
        
                <p><u>Personal Information:</u> Posting or publishing personal or confidential information is stricly prohibited.</p>
        
                <p><u>Solicitation:</u> You may not post anything that solicits transactions</p>
        
                <p><u>Malicious material:</u> Anything that is digitally malicious is strictly prohibited from being posted.</p>
        
                <p><u>Impersonation:</u> You many not post anything that impersonates other Drama users, moderators, or administrations.</p>
        
                <p><u>Spam:</u> Spam material is strictly prohibited from being posted on Drama.</p>
        
                <h2 class="h3" id="sensitive-content">Sexuality</h2>
        
                <p><u>Sexual or sexually suggestive material:</u> Any sexual or sexually suggestive material must be marked "+18"</p>
        
                <p><u>Content involving minors:</u> Drama has zero tolerance for sexual or sexually suggestive material involving minors. Any material that violates this rule will result in a permanent ban.</p>
        
        </div>
</div>
{% endblock %}