{% extends "default.html" %}

{% block pagetype %}userpage{% endblock %}

{% block fixedMobileBarJS %}
{% endblock %}

{% block title %}
<title>@{{u.username}}</title>

{% endblock %}

{% block adminpanel %}{% endblock %}

{% block content %}

<div class="row no-gutters">

	<div class="col-12">

		<div class="text-center py-7 py-md-8">

			<i class="fas fa-id-card text-muted mb-5" style="font-size: 5rem;"></i>


			<div class="font-weight-bold text-muted">Account Reserved</div>
			<div class="text-muted">The username @{{u.username}} has been pre-emptively reserved for: {{u.reserved}}</div>
	<div class="text-muted">If that's you, or if you are their authorized representative, please contact {{SITE_NAME}} staff in order to obtain access to this account.</div>

		</div>
	</div>
</div>
{% endblock %}

{% block pagenav %}
{% endblock %}
