{% extends "default.html" %}

{% block pagetype %}userpage{% endblock %}

{% block fixedMobileBarJS %}
<script>
	var prevScrollpos = window.pageYOffset;
	window.onscroll = function () {
		var currentScrollPos = window.pageYOffset;
		if (prevScrollpos > currentScrollPos) {
			document.getElementById("fixed-bar-mobile").style.top = "48px";
			document.getElementById("navbar").classList.remove("shadow");
		} 
		else if (currentScrollPos <= 125) {
			document.getElementById("fixed-bar-mobile").style.top = "48px";
			document.getElementById("navbar").classList.remove("shadow");
		}
		else {
			document.getElementById("fixed-bar-mobile").style.top = "-48px";
			document.getElementById("dropdownMenuSortBy").classList.remove('show');
			document.getElementById("dropdownMenuFrom").classList.remove('show');
			document.getElementById("navbar").classList.add("shadow");
		}
		prevScrollpos = currentScrollPos;
	}
</script>
{% endblock %}

{% block title %}
<title>{{u.username}}</title>
<meta name="description" content="[banned]">
{% endblock %}

<div class="row no-gutters">
	<div class="col-12">
		<div class="text-center py-7 py-md-8">
			<span class="fa-stack fa-2x text-muted mb-4">
				<i class="fas fa-square text-danger opacity-25 fa-stack-2x"></i>
				<i class="fas text-danger fa-user-cog fa-stack-1x text-lg"></i>
			</span>
			<h2 class="h5">@{{u.username}} has blocked you.</h2>
			<p class="text-muted">You can't see their profile.</p>
		</div>
	</div>
</div>