<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            Notes - <span class="notes_target"></span>
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
            <div class="content__wrapper">
                <div class="table_headers">
                    <strong>Author</strong>
                    <strong>Note</strong>
                    <strong>Tag</strong>
                    <strong>Actions</strong>
                </div>
                <div class="table_content">
                </div>
            </div>
            <form>
                <textarea></textarea>
                <select id="usernote_tag">
                    <option class="quality" value="0"> Quality </option>
                    <option class="good"    value="1"> Good    </option>
                    <option class="comment" value="2"> Comment </option>
                    <option class="warning" value="3"> Warning </option>
                    <option class="tempban" value="4"> Tempban </option>
                    <option class="permban" value="5"> Permban </option>
                    <option class="spam"    value="6"> Spam    </option>
                    <option class="bot"     value="7"> Bot     </option>
                </select>   
            </form>
        </main>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary" onclick="send_note()">Submit</button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
</div>