{% extends "default.html" %}
{% block content %}
<pre></pre>
<h5>Users who viewed your profile</h5>
<pre></pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th>Name</th>
		<th>Last visit</th>
	</tr>
</thead>
{% for view in viewers %}
	<tr>
		<td><a style="color: #{{view.viewer.namecolor}}" href="/@{{view.viewer.username}}"><img loading="lazy" src="{{view.viewer.profile_url}}" class="pp20"><span {% if view.viewer.patron %}class="patron" style="background-color:#{{view.viewer.namecolor}}"{% endif %}>{{view.viewer.username}}</span></a></td>
		<td>{{view.last_view_string}}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}