{% macro display(duty) %}

<div class="volunteer_janitor">
    <div class="volunteer_text">
        <p class="header">Janitor Duty</p>
        <p class="text">Please rate these comments. You must choose a rating for each one. If you're undecided, just trust your gut!<p>
        <p class="text"><a href="http://localhost/rules">Here's a link to the full rules</a> if you need a reference. Open this in a new tab; you may not be able to return to this page otherwise.</p>
    </div>

    <hr />

    {% for c in duty.comments() %}

        <div>
            <div class="comment">
                {% with comments=[c] %}
                    {% include "comments.html" %}
                {% endwith %}
            </div>

            <div class="choices">
                <div>
                    <input form="volunteer_submit" type="radio" id="vj-{{c.id}}-1" name="volunteer-janitor-{{c.id}}" value="1" required="required" />
                    <label for="vj-{{c.id}}-1">High-quality!</label>
                </div>

                <div>
                    <input form="volunteer_submit" type="radio" id="vj-{{c.id}}-2" name="volunteer-janitor-{{c.id}}" value="2" required="required" />
                    <label for="vj-{{c.id}}-2">Good</label>
                </div>

                <div>
                    <input form="volunteer_submit" type="radio" id="vj-{{c.id}}-3" name="volunteer-janitor-{{c.id}}" value="3" required="required" />
                    <label for="vj-{{c.id}}-3">Neutral</label>
                </div>

                <div>
                    <input form="volunteer_submit" type="radio" id="vj-{{c.id}}-4" name="volunteer-janitor-{{c.id}}" value="4" required="required" />
                    <label for="vj-{{c.id}}-4">Bad</label>
                </div>

                <div>
                    <input form="volunteer_submit" type="radio" id="vj-{{c.id}}-5" name="volunteer-janitor-{{c.id}}" value="5" required="required" />
                    <label for="vj-{{c.id}}-5">Deserves a warning</label>
                </div>

                <div>
                    <input form="volunteer_submit" type="radio" id="vj-{{c.id}}-6" name="volunteer-janitor-{{c.id}}" value="6" required="required" />
                    <label for="vj-{{c.id}}-6">Deserves a ban</label>
                </div>
            </div>
        </div>

        <hr />

    {% endfor %}

</div>

{% endmacro %}
