{% extends "default.html" %}

{% block pagetitle %}Volunteer Submitted{% endblock %}

{% block content %}

<a href="/" class="volunteer_submit_wrapper">
    <div class="volunteer_submit">
        <div class="volunteer_submit_img"><img src="/assets/images/volunteer_submit.webp" width="512" height="512" /></div>
        <div class="volunteer_text">
            <p class="header">Thank You!</p>
            <p class="text">Head back to the main site.</p>
        </div>
    </div>
</a>

{% endblock %}