{% extends "default.html" %}

{% block pagetitle %}Volunteer{% endblock %}

{% block content %}

<div>
    hello! welcome to the volunteering
</div>

{% if duty == None %}
<div>
    there is no volunteering to do, but thanks
</div>
{% else %}
<form id="volunteer_submit" action="/volunteer_submit" method="post" enctype="multipart/form-data"></form>
<input form="volunteer_submit" type="hidden" name="formkey" value="{{v.formkey}}">
<div>
    {% from duty.embed_template() import display with context %}
    {{ display(duty) }}
    <input form="volunteer_submit" autocomplete="off" class="btn btn-primary ml-auto" type="submit" value="Submit">
</div>
{% endif %}

{% endblock %}