{% if volunteer_available_for(v) %}
<a href="/volunteer" class="volunteer_teaser_wrapper">
    <div class="volunteer_teaser">
        <div class="volunteer_teaser_img"><img src="/assets/images/volunteer_teaser.webp" width="554" height="554" /></div>
        <div class="volunteer_text">
            <p class="header">The Motte Needs You!</p>
            <p class="text">If you have five minutes to help out, we'd like to hear your opinion on something.</p>
            <p class="text">Click here!</p>
        </div>
    </div>
</a>
{% endif %}
