{% extends "default.html" %}

{% block title %}
<title>{{"SITE_NAME" | app_config}}</title>
<meta name="description" content="{{"SITE_NAME" | app_config}} Votes">
{% endblock %}

{% block content %}
<h1>Vote Info</h1>

<form action="votes" method="get" class="mb-6">
	<label for="link-input">Paste permalink</label>
	<input id="link-input" type="text" class="form-control mb-2" name="link" value="{{thing.permalink if thing else ''}}">
	<input type="submit" value="Submit" class="btn btn-primary">
</form>

{% if thing %}

<h1>Info</h1>
<p><a href="{{thing.permalink}}">{{thing.permalink}}</a></p>
<p><b>Author:</b> <a href="{{thing.author.url}}">@{{thing.author.username}}</a></p>
<p><b>Author Created At:</b> {{thing.author.created_utc}} ({{thing.author.created_datetime}})</p>
<p><b>Upvotes:</b>{{ups | length}}</p>
<p><b>Downvotes:</b>{{downs | length}}</p>

<h2>Upvotes</h2>
<table class="table table-striped mb-5">
	<thead class="bg-primary text-white"><tr><th>User</th></tr></thead>

	{% for vote in ups %}
		<tr><td><a {% if vote.user.animatedname %}class="{% if vote.user.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="color:#{{vote.user.namecolor}}; font-weight:bold;" href="/@{{vote.user.username}}"><img src="/uid/{{vote.user.id}}/pic/profile" class="profile-pic-20 mr-1">{{vote.user.username}}</a></td></tr>
	{% endfor %}
</table>

<h2>Downvotes</h2>
<table class="table table-striped mb-5">
	<thead class="bg-primary text-white"><tr><th>User</th></tr></thead>

	{% for vote in downs %}
		<tr><td><a {% if vote.user.animatedname %}class="{% if vote.user.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="color:#{{vote.user.namecolor}}; font-weight:bold;" href="/@{{vote.user.username}}"><img src="/uid/{{vote.user.id}}/pic/profile" class="profile-pic-20 mr-1">{{vote.user.username}}</a></td></tr>
	{% endfor %}
</table>



{% endif %}


{% endblock %}