{% extends "default.html" %}
{% block content %}
<pre>

	
</pre>
<h5 style="text-align: center">{{name2}}</h5>
<pre></pre>
<div class="overflow-x-auto"><table class="table table-striped mb-5">
<thead class="bg-primary text-white">
	<tr>
		<th style="font-weight: bold">#</th>
		<th style="font-weight: bold">Name</th>
		<th style="font-weight: bold">{{name}}votes</th>
	</tr>
</thead>
<tbody id="followers-table">
{% for user in users %}
	<tr {% if v.id == user[0].id %}class="self"{% endif %}>
		<td style="font-weight: bold">{{loop.index}}</td>
		<td><a style="color:#{{user[0].namecolor}};  font-weight:bold;" href="/@{{user[0].username}}"><img alt="" loading="lazy" src="{{user[0].profile_url}}" class="pp20"><span {% if user[0].patron %}class="patron" style="background-color:#{{user[0].namecolor}}"{% endif %}>{{user[0].username}}</span></a></td>
		<td style="font-weight: bold">{{user[1]}}</td>
	</tr>
{% endfor %}
{% if pos and (pos[0] > 25 or not pos[1]) %}
	<tr style="border-top:2px solid var(--primary)">
		<td style="font-weight:bold">{{pos[0]}}</td>
		<td><a style="color:#{{v.namecolor}};font-weight:bold" href="/@{{v.username}}"><img alt="" loading="lazy" src="{{v.profile_url}}" class="pp20"><span {% if v.patron %}class="patron" style="background-color:#{{v.namecolor}}"{% endif %}>{{v.username}}</span></a></td>
		<td style="font-weight:bold">{{pos[1]}}</td>
	</tr>
{% endif %}
</tbody>
</table>

{% endblock %}