<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 py-4">
	{% if v %}
	<div class="flex flex-col mb-4">
		<a class="btn btn-red text-center w-full" href="/submit">
			Submit drama
			<i class="fas fa-arrow-alt-right fa-fw fa-sm ml-1"></i>
		</a>
	</div>
	{% endif %}
	<div class="mb-4">
		<h2 class="ml-2 font-bold text-xl font-heading leading-normal mb-2">
			Fistmas Stickies
		</h2>
		<ul class="flex flex-col mb-0">
			<li class="flex rounded p-2.5 -mx-2.5 hover:bg-gray-100">
				<div class="flex items-center justify-center h-10 px-4">
					<img class="object-contain w-6 h-6" src="/assets/christmas/ribbon1.png" alt="ribbon icon">
				</div>
				<div class="pl-3 mt-[-1px]">
					<a href="https://rdrama.net/post/22479/megathread-posts-here-marseys-or-other" class="block font-bold text-gray-100">
						[MEGATHREAD] posts here marseys (or other emojis) u want added
					</a>
					<small class="block text-gray-400">
						posted by <a href="/@aevann" class="text-gray-400 hover:text-gray-300">@aevann</a>
					</small>
				</div>
			</li>
			<li class="flex rounded p-2.5 -mx-2.5 hover:bg-gray-100">
				<div class="flex items-center justify-center h-10 px-4">
					<img class="object-contain w-6 h-6" src="/assets/christmas/ribbon1.png" alt="ribbon icon">
				</div>
				<div class="pl-3 mt-[-1px]">
					<a href="https://rdrama.net/post/23770/suggestion-some-award-ideas" class="block font-bold text-gray-100">
						[Suggestion] Some award ideas
					</a>
					<small class="block text-gray-400">
						posted by <a href="/@dramarama" class="text-gray-400 hover:text-gray-300">@dramarama</a>
					</small>
				</div>
			</li>
		</ul>
	</div>
	<div class="mb-4">
		<h2 class="ml-2 font-bold text-xl font-heading leading-normal mb-2">
			Commission a Marsey
		</h2>
		<div class="w-full h-56 shadow border-gray-900 overflow-hidden">
			<img class="w-full h-full flex-shrink-0 object-cover" src="https://i.imgur.com/m5FVyEX.jpeg">
		</div>
		<p class="text-xs text-gray-500 mt-1">

		</p>
		<!-- Icons -->
	</div>
</div>