<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 py-4">
	<div class="mb-4">
		<button class="group flex items-center justify-between w-full px-4 py-3 bg-gradient-to-t hover:from-red-700 hover:to-red-800 border border-red-900 rounded-md text-shadow-t shadow-inset-t-white-10 text-base font-medium text-gray-100 font-bold active:shadow-inner active:outline-none from-red-800 to-red-700">
			Submit drama<i class="fas fa-arrow-alt-right"></i>
		</button>
	</div>
	<div class="mb-4">
		<h2 class="ml-2 font-bold text-xl font-heading leading-normal mb-2">
			Commission a Marsey
		</h2>
		<div class="w-full h-56 shadow border-gray-900 overflow-hidden">
			<img class="w-full h-full flex-shrink-0 object-cover" src="https://i.imgur.com/m5FVyEX.jpeg">
		</div>
		<p class="text-xs text-gray-500 mt-1">

		</p>
		<!-- Icons -->
	</div>
</div>