<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 py-4">
	<div class="flex flex-col space-y-4">
		<div class="flex flex-col rounded-md border border-gray-200 divide-y divide-gray-300 overflow-hidden">
			<a href="/settings/profile" class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-700 hover:text-gray-200 text-decoration-none active:text-gray-500 active:outline-none {{ 'bg-gray-400 bg-opacity-40 shadow-inner' if request.path == '/settings/profile' else 'bg-gray-300 hover:bg-gray-400 shadow-inset-t-white-10' }}">
				<i class="fas fa-user fa-fw mr-1"></i>
				Profile
			</a>
			<a href="/settings/security" class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-700 hover:text-gray-200 text-decoration-none active:text-gray-500 active:outline-none {{ 'bg-gray-400 bg-opacity-40 shadow-inner' if request.path == '/settings/security' else 'bg-gray-300 hover:bg-gray-400 shadow-inset-t-white-10' }}">
				<i class="fas fa-lock-alt fa-fw mr-1"></i>
				Security
			</a>
			<a href="/settings/content" class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-700 hover:text-gray-200 text-decoration-none active:text-gray-500 active:outline-none {{ 'bg-gray-400 bg-opacity-40 shadow-inner' if request.path == '/settings/content' else 'bg-gray-300 hover:bg-gray-400 shadow-inset-t-white-10' }}">
				<i class="fas fa-glasses fa-fw mr-1"></i>
				Content
			</a>
		</div>
		<div class="flex flex-col rounded-md border border-gray-200 divide-y divide-gray-300 overflow-hidden">
			<a href="/settings/css" class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-700 hover:text-gray-200 text-decoration-none active:text-gray-500 active:outline-none {{ 'bg-gray-200 bg-opacity-40 shadow-inner' if request.path == '/settings/css' else 'bg-gray-300 hover:bg-gray-400 shadow-inset-t-white-10' }}">
				<i class="fas fa-wrench fa-fw mr-1"></i>
				Customization
			</a>
		</div>
		<div class="flex flex-col rounded-md border border-gray-200 divide-y divide-gray-300 overflow-hidden">
			<a href="/settings/blocks" class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-700 hover:text-gray-200 text-decoration-none active:text-gray-500 active:outline-none {{ 'bg-gray-400 bg-opacity-40 shadow-inner' if request.path == '/settings/blocks' else 'bg-gray-300 hover:bg-gray-400 shadow-inset-t-white-10' }}">
				<i class="fas fa-user-slash fa-fw mr-1"></i>
				Blocked
			</a>
			<a href="/settings/apps" class="text-left block w-full px-4 py-3 text-shadow-t text-base font-medium text-gray-700 hover:text-gray-200 text-decoration-none active:text-gray-500 active:outline-none {{ 'bg-gray-400 bg-opacity-40 shadow-inner' if request.path == '/settings/apps' else 'bg-gray-300 hover:bg-gray-400 shadow-inset-t-white-10' }}">
				<i class="fas fa-cogs fa-fw mr-1"></i>
				Apps
			</a>
		</div>
	</div>
</div>