<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex flex-col flex-shrink-0 py-4">
	<div>
		<h2 class="ml-2 font-bold text-lg font-heading leading-normal mb-2">
			Awards
		</h2>
		<!-- Give awards if none -->
		{% if not p.awards %}
		<p class="text-sm text-gray-500">No awards gifted yet...</p>
		<button class="text-sm text-red-600 hover:text-red-500" data-bs-toggle="modal" data-bs-target="#awardModal" onclick="awardModal('/post/{{p.id}}/awards')">
				Gift award
		</button>
		{% endif %}
		<!-- Icons -->
		<ul class="flex flex-wrap gap-3 items-center">
			<!-- Awards -->
			{% if p.awards %}
			{% for a in p.awards %}
			<li>
				<i class="{{a.class_list}} fa-sm fa-fw" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{{a.title}} Award given by @{{a.user.username}}"></i>
			</li>
			{% endfor %}
			{% endif %}
		</ul>
	</div>
	<hr class="mt-6 mb-5 h-0.5 border-b border-gray-300 shadow-inset-t-white-05"/>
	<div>
		<h2 class="ml-2 font-bold text-lg font-heading leading-normal mb-2">
			Link
		</h2>
		<input type="text" onclick="this.select()" value="https://rdrama.net/post/{{ p.id }}" class="m-0.5 p-0.5 bg-white border border-gray-300 text-xs text-black w-44">
	</div>
	<hr class="mt-6 mb-5 h-0.5 border-b border-gray-300 shadow-inset-t-white-05"/>
	<div>
		<h2 class="ml-2 font-bold text-lg font-heading leading-normal mb-2">
			Share Post
		</h2>
		<div class="flex flex-wrap items-center space-x-2">
			<a class="leading-4 text-gray-400 hover:text-gray-300" href="">
				<img src="/assets/images/icons/reddit.gif" class="w-7 h-7 object-contain" alt="Share this post on Reddit"/>
			</a>
			<a class="leading-4 text-gray-400 hover:text-gray-300" href="">
				<img src="/assets/images/icons/twitter.gif" class="w-7 h-7 object-contain" alt="Share this post on Twitter"/>
			</a>
		</div>
	</div>
	<hr class="mt-6 mb-5 h-0.5 border-b border-gray-300 shadow-inset-t-white-05"/>
	<div>
		<h2 class="ml-2 font-bold text-lg font-heading leading-normal mb-2">
			DramaMetric™
		</h2>
		<ul class="flex flex-col space-y-1 text-gray-500">
			<li>
				<p class="text-sm">
					<strong>{{ p.views }}</strong> {{ 'view' if p.views == 1 else 'views' }} on this post
				</p>
			</li>
			<li>
				<p class="text-sm">
					<a href="/votes?link={{p.fullname}}" class="font-bold text-red-600 hover:text-red-600">
						{{ ups + downs }}
					</a>
					{{ 'vote' if ups + downs == 1 else 'votes' }} on this post
				</p>
			</li>
			{% if p.awards|length > 1 %}
			<li>
				<p class="text-sm">
					<strong>{{ p.awards|length }}</strong> {{ 'award' if p.awards.length == 1 else 'awards' }} gifted
				</p>
			</li>
			{% endif %}
		</ul>
		<ul class="flex flex-col mb-0">
			<!-- NSFW -->
			{% if p.over_18 %}
			<li>
				<span class="badge badge-red">+18</span>
			</li>
			{% endif %}
			{% if p.club %}
			<li>
				<span class="badge badge-yellow">Country Club</span>
			<li>
			{% endif %}
			<!-- Banned -->
			{% if p.bannedfor and p.author.banned_by %}
			<li>
				<i class="fad fa-gavel fa-sm fa-fw text-red-600" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="User was banned for this post by @{{p.author.banned_by.username}}"></i>
			</li>
			{% endif %}	
			<!-- Stickied -->
			{% if p.stickied %}
			<li>
				<i id="pinned-{{p.id}}" class="fas fa-thumbtack fa-rotate--45 fa-sm fa-fw text-admin" data-bs-toggle="tooltip" data-bs-placement="bottom"></i>
				<span class="font-heading text-xs text-red-500">
					Pinned {% if p.stickied.startswith('t:') %}until {{p.stickied[2:]}}{% else %}by @{{p.stickied}}{%endif%}
				</span>
			</li>
			{% endif %}
			<!-- Pinned -->
			{% if p.is_pinned %}
			<li>
				<i class="fas fa-thumbtack fa-rotate--45 fa-sm fa-fw text-admin" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Pinned to profile"></i>
			</li>
			{% endif %}
			<!-- Private -->
			{% if p.private %}
			<li>
				<span class="badge border-blue">Draft</span>
			</li>
			{% endif %}
		</ul>
	</div>
</div>