<div class="hidden xl:block xl:col-start-10 xl:col-end-13 flex-shrink-0 py-4">
	<div class="flex flex-col space-y-4 mb-3">
		<div class="flex items-center">
			<input type="checkbox" class="w-5 h-5" id="nsfwCheck" name="over_18">
			<label class="-mt-0.5 pl-1 select-none" for="nsfwCheck">+18</label>
		</div>
		<div class="flex items-center">
			<input type="checkbox" class="w-5 h-5" id="privateCheck" name="private">
			<label class="-mt-0.5 pl-1 select-none" for="privateCheck">Draft</label>
		</div>
		{% if v.paid_dues %}
		<div class="flex items-center">
			<input type="checkbox" class="w-5 h-5" id="clubCheck" name="club">
			<label class="-mt-0.5 pl-1 select-none" for="clubCheck">{{cc}} thread</label>
		</div>
		{% endif %}
	</div>
</div>