{% extends "default.html" %}

{% block title %}
<title>{{"SITE_NAME" | app_config}}</title>
<meta name="description" content="{{"SITE_NAME" | app_config}} Help">
{% endblock %}

{% block content %}
<pre>



</pre>
<h5>App Info</h5>

<form action="/admin/appdata" method="get" class="mb-6">
	<label for="link-input">Paste permalink</label>
	<input id="link-input" type="text" class="form-control mb-2" name="link" value="{{thing.permalink if thing else ''}}">
	<input type="submit" value="Submit" class="btn btn-primary">
</form>

{% if thing %}

<h1>Info</h1>
<p><a href="{{thing.permalink}}">{{thing.permalink}}</a></p>


<p><b>Author:</b> <a href="{{thing.author.permalink}}">@{{thing.author.username}}</a></p>

{% if thing.oauth_app %}


<div class="settings-section rounded">
	<div class="d-lg-flex">
			<div class="title w-lg-25">
						<label for="over18"><a href="{{thing.oauth_app.permalink}}" target="_blank">{{thing.oauth_app.app_name}}</a></label>
				</div>
				<div class="body w-lg-100">
			<label for="edit-{{thing.oauth_app.id}}-author" class="mb-0 w-lg-25">User</label>
			<input id="edit-{{thing.oauth_app.id}}-author" class="form-control" type="text" name="name" value="{{thing.oauth_app.author.username}}" readonly=readonly>

			<label for="edit-{{thing.oauth_app.id}}-name" class="mb-0 w-lg-25">App Name</label>
			<input id="edit-{{thing.oauth_app.id}}-name" class="form-control" type="text" name="name" value="{{thing.oauth_app.app_name}}" readonly=readonly>

			<label for="edit-{{thing.oauth_app.id}}-redirect" class="mb-0 w-lg-25">Redirect URI</label>
			<input id="edit-{{thing.oauth_app.id}}-redirect" class="form-control" type="text" name="redirect_uri" value="{{thing.oauth_app.redirect_uri}}" readonly="readonly">
			<label for="edit-{{thing.oauth_app.id}}-desc" class="mb-0 w-lg-25">Description</label>
			<textarea form="edit-app-{{thing.oauth_app.id}}" class="form-control" name="description" id="edit-{{thing.oauth_app.id}}-desc" maxlength="256" readonly="readonly">{{thing.oauth_app.description}}</textarea>
		</div>
	</div>
	<div class="footer">
		<div class="d-flex">
			{% if not thing.oauth_app.client_secret %}

			<a href="javascript:void(0)" class="btn btn-primary ml-auto" onclick="post_toast('/admin/app/approve/{{thing.oauth_app.id}}')">Approve</a>
			<a href="javascript:void(0)" class="btn btn-secondary mr-0" onclick="post_toast('/admin/app/reject/{{thing.oauth_app.id}}')">Reject</a> 

			{% else %}

			<a href="javascript:void(0)" class="btn btn-primary ml-auto" onclick="post_toast('/admin/app/revoke/{{thing.oauth_app.id}}')">Revoke</a>

			{% endif %}
		</div>
	</div>
</div>



{% endif %}



{% endif %}


{% endblock %}