{% extends "default.html" %}

{% block title %}
<title>Drama</title>
<meta name="description" content="Drama Help">
{% endblock %}

{% block content %}
<pre></pre>
<pre></pre>
<h5>Cache Dump</h5>
<a href="javascript:void(0)" class="btn btn-primary mt-3" onclick="post_toast('/admin/dump_cache')">Clear internal cache</a>

<div class="toast" id="toast-post-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
	<div class="toast-body bg-success text-center text-white">
		<i class="fas fa-comment-alt-smile mr-2"></i><span id="toast-post-success-text"></span>
	</div>
</div>
<div class="toast" id="toast-post-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="5000">
	<div class="toast-body bg-danger text-center text-white">
		<i class="fas fa-exclamation-circle mr-2"></i><span id="toast-post-error-text"></span>
	</div>
</div>
{% endblock %}