{% extends "default.html" %}

{% block sidebarblock %}{% endblock %}
{% block sidebarLeftblock %}{% endblock %}

{% block title %}
<title>Drama</title>
<meta name="description" content="Drama Help">
{% endblock %}

{% block content %}

<input id="domainget" type="text" class="form-control" placeholder="Enter domain name" value="{{domain_name}}">
<a class="btn btn-primary" href="javascript:void(0)" onclick="window.location.href='/admin/domain/'+document.getElementById('domainget').value">Get Domain Record</a>

<h1>{{domain_name}}</h2>

<h2>Current</h2>

<h3 class="h5 pt-2">can_submit</h3>
<p>{{domain.can_submit}}</p>

<h3 class="h5 pt-2">can_comment</h3>
<p>{{domain.can_comment}}</p>

<h3 class="h5 pt-2">reason</h3>
<p>{{domain.reason_text}}</p>

<h3 class="h5 pt-2">show_thumbnail</h3>
<p>{{domain.show_thumbnail}}</p>

<h3 class="h5 pt-2">embed_function</h3>
<p>{{domain.embed_function}}</p>

<h3 class="h5 pt-2">embed_template</h3>
<p>{{domain.embed_template}}</p>

<h2>Actions</h2>

<form action="/admin/ban_domain" method="post">
		<input type="hidden" name="formkey" value="{{v.formkey}}">
		<input type="hidden" name="domain" value="{{domain_name}}">
		<label for="reason_select">Ban reason</label>
		<select id="reason_select" class="form-control" name="reason" onchange="$('#ban-submit').prop('disabled', false)"> 
				<option value="0">---Select Ban Reason---</option>
				{% for i in reasons %}
						<option value="{{i}}"{% if i==domain.reason %} selected{% endif %}>{{reasons[i]}}</option>
				{% endfor %}
		</select>
		<input type="submit" class="btn btn-primary" value="Ban {{domain_name}}" disabled>
</form>

{% endblock %}