{% extends "default.html" %}

{% block title %}
<title>400 Bad Request</title>
{% endblock %}

{% block pagetype %}error-400{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
			<img alt=":#marseybrainlet:" loading="lazy" src="/e/marseybrainlet.webp">
			<pre></pre>
			<h1 class="h5">400 Bad Request</h1>
			<p class="text-muted mb-5">That request was bad and you should feel bad.</p>
		</div>
	</div>
</div>
{% endblock %}
