{% extends "default.html" %}

{% block title %}
<title>400 Bad Request</title>
{% endblock %}

{% block pagetype %}error-400{% endblock %}

{% block content %}
<div class="col-span-full h-screen flex items-center justify-center">
	<div class="md:max-w-xl text-center">
		<img loading="lazy" src="/assets/images/emojis/marseybrainlet.webp?v=1" class="w-14 h-14 object-contain mb-4">
		<h1 class="h5">400 Bad Request</h1>
		<p class="text-gray-500">
			That request was bad and you should feel bad.
		</p>
	</div>
</div>
{% endblock %}
