{% extends "default.html" %}

{% block title %}
<title>401 Not Authorized</title>
{% endblock %}

{% block pagetype %}error-401{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">

		<img alt=":#marseydead:" loading="lazy" src="/e/marseydead.webp">
		<pre></pre>

			<h1 class="h5">401 Not Authorized</h1>
			<p class="text-muted mb-5">What you're trying to do requires an account. I think. The original error message said something about a castle and I hated that.</p>
			<div><a href="/signup" class="btn btn-primary mb-2">Create an account</a></div>
			<div><a href="/login" class="text-muted text-small">Or sign in</a></div>
		</div>
	</div>
</div>
{% endblock %}