{% extends "errors/default.html" %}

{% block title %}
<title>404 Page Not Found</title>
{% endblock %}

{% block pagetype %}error-404{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
			<i class="fad fa-dungeon text-muted mb-5" style="font-size: 5rem;"></i>
			<h1 class="h5">404 Page Not Found</h1>
			<p class="text-muted mb-5">Someone typed something wrong and it was probably you, please do better.</p>
			<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}
