{% extends "default.html" %}

{% block title %}
<title>Max file size is 8 MB (16 MB for paypigs)</title>
{% endblock %}

{% block pagetype %}error-413{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
		<img alt=":#marseyretard:" loading="lazy" src="/e/marseyretard.webp">
		<pre></pre>
		<h1 class="h5">Max file size is 8 MB (16 MB for paypigs)</h1>
		<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}