{% extends "errors/default.html" %}

{% block title %}
<title>418 I'm A Teapot</title>
{% endblock %}

{% block pagetype %}error-418{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
			<i class="fad fa-mug-tea text-muted mb-5" style="font-size: 5rem;"></i>
			<h1 class="h5">418 I'm A Teapot</h1>
			<p class="text-muted mb-5">Sorry, I've been cursed and can't make you coffee right now.</p>
			<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}
