{% extends "errors/default.html" %}

{% block title %}
<title>429 Too Many Requests</title>
{% endblock %}

{% block pagetype %}error-429{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
	<div class="text-center px-3 my-8">
			<i class="fad fa-tornado text-muted mb-5" style="font-size: 5rem;"></i>
			<h1 class="h5">429 Too Many Requests</h1>
			<p class="text-muted mb-5">go spam somewhere else nerd</p>
		</div>
	</div>
</div>
{% endblock %}
