{% extends "default.html" %}

{% block title %}
<title>500 Internal Server Error</title>
{% endblock %}

{% block pagetype %}error-500{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
		<div class="text-center px-3 my-8">
			<img alt=":#marseydead:" loading="lazy" src="/e/marseydead.webp">
			<pre></pre>
			<h1 class="h5">500 Internal Server Error</h1>
			<p class="text-muted mb-5">Hiiiii it's carp! I think this error means that there's a timeout error. And I think that means something took too long to load so it decided not to work at all. If you keep seeing this on the same page <I>but not other pages</I>, then something is probably wrong with that specific function. It may not be called a function, but that sounds right to me. Anyway, ping me and I'll whine to someone smarter to fix it. Don't bother them. Thanks ily <3</p>
			<div><a href="/" class="btn btn-primary">Go to the frontpage</a></div>

		</div>
	</div>
</div>
{% endblock %}
