{% extends "default.html" %}

{% block title %}
<title>500 Internal Server Error</title>
{% endblock %}

{% block pagetype %}error-500{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
		<div class="text-center px-3 my-8">
			<img alt=":#marseydead:" loading="lazy" src="/e/marseydead.webp">
			<pre></pre>
			<h1 class="h5">500 Internal Server Error</h1>
			<p class="text-muted mb-5">Something went wrong and it's probably my fault. If you can do it reliably, or it's causing problems for you, please report it!<3</p>
			<div><a href="/" class="btn btn-primary">Go to the frontpage</a></div>

		</div>
	</div>
</div>
{% endblock %}
