
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="author" content="">
	<link rel="icon" type="image/png" href="/assets/favicon.png">

	
<title>503 Service Unavailable</title>


	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- iOS webapp -->
	<link rel="apple-touch-icon" href="/assets/favicon.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-title" content="{{"SITE_NAME" | app_config}}">

	<!-- {{"SITE_NAME" | app_config}} CSS -->
	
	{% if v %}
		<link rel="stylesheet" href="/assets/style/{{v.theme}}_{{v.themecolor}}.css">
		{% if v.agendaposter %}<link rel="stylesheet" href="/assets/style/agendaposter.css">{% elif v.css %}<link rel="stylesheet" href="/@{{v.username}}/css">{% endif %}
	{% else %}
		<link rel="stylesheet" href="/assets/style/dark_ff66ac.css">
	{% endif %}

	<!-- Font Awesome -->
	<link href="/assets/style/fa.css" rel="stylesheet">

</head>

<body id="error-503" class="">


<!--Header -->
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-white shadow shadow-md fixed-top" id="navbar">
	<div class="container">
		<div class="flex-grow-1"><span class="text-primary navbar-brand">{{"SITE_NAME" | app_config}}</span></div>

	 
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"><i class="fal fa-bars text-gray-400" style="font-size: 2rem;"></i></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">

	 <!-- Mobile Nav Menu -->
	 <ul class="navbar-nav ml-auto d-flex d-md-none mt-3">

		
		 <li class="nav-item nav-item">
			<a class="nav-link text-small-extra" href="https://github.com/Aevann1/Drama">GitHub</a>
		</li>
		
	</ul>

</div>
</div>
</nav>


	<!-- Page Content -->

	<div class="container">
		<div class="row justify-content-around" id="main-content-row">

			<div class="col h-100 custom-gutters mt-0 mt-md-3" id="main-content-col">
<div class="row justify-content-center">
	<div class="col-10">
		<div class="text-center px-3 py-8">
			<span class="fa-stack text-muted mb-5" style="font-size: 2.5rem;">
					<i class="far fa-cloud fa-stack-2x text-muted"></i>
					<i class="fad fa-fire fa-stack-1x text-danger"></i>
			</span>
			<h1 class="h5">503 Service Unavailable</h1>
			<p class="text-muted">r{{"SITE_NAME" | app_config}} is unavailable.</p>
			<p class="text-muted">HI IT'S CARP AGAIN<BR>I'm like 95% sure this error means Aevann is restarting the server to apply a change. But I think that's also 520/521? What causes a 503? No one knows. Wait like a minute (maybe two) and see if it's still happening. It shouldn't. Good luck!</p>
			<button class="btn btn-primary" onclick="window.location.reload()">
			 	Refresh
			</button>
		</div>
	</div>
</div>


				
				

			</div>

			
		</div>
	</div>

</div>
</div>










	<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous" type="37cef32129ec2b1bc32e9226-text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" type="37cef32129ec2b1bc32e9226-text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" type="37cef32129ec2b1bc32e9226-text/javascript"></script>


<!-- Initialize BS 4 tool tips -->

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="37cef32129ec2b1bc32e9226-|49" defer=""></script></body>

</html>