{% extends "default.html" %}
{% block title %}
<title>{{code}} {{error}} - {{SITE_TITLE}}</title>

<meta property="og:type" content="website">
<meta property="og:title" content="{{code}} {{error}} - {{SITE_TITLE}}">
<meta property="og:site_name" content="{{SITE_TITLE}}">
<meta property="og:image" content="{{SITE_FULL}}{{ ('images/'~SITE_ID~'/site_preview.webp') | asset }}">
<meta property="og:url" content="{{SITE_FULL}}{{request.full_path}}">
<meta property="og:description" name="description" content="{{description}}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{SITE_FULL}}">
<meta name="twitter:title" content="{{code}} {{error}} - {{SITE_TITLE}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="{{SITE_FULL}}{{ ('images/'~SITE_ID~'/site_preview.webp') | asset }}">
{% endblock %}
{% block pagetype %}error-{{code}}{% endblock %}
{% block content %}
<div class="row justify-content-center">
	<div class="col-10 col-md-5">
		<div class="text-center px-3 my-8">
			<h1>{{code}}</h1>
			<h5>{{error}}</h5>
			<p class="text-muted mb-5">{{description}}</p>
			{% if details -%}
				<blockquote class="error-details mb-5 py-2">{{details|safe}}</blockquote>
			{%- endif %}
			<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>
		</div>
	</div>
</div>
{% endblock %}
