{% extends "default.html" %}

{% block title %}
<title>401 Not Authorized</title>
{% endblock %}

{% block pagetype %}error-401{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-10 col-md-5">
		<div class="text-center px-3 my-8">
				<img alt=":#marseymerchant:" loading="lazy" class="mb-2" src="/e/marseymerchant.webp">
				<h1 class="h5">401 Not Authorized</h1>
				<p class="text-muted">This page is only available to {% if SITE_NAME == 'rDrama' %}paypigs{% else %}patrons{% endif %}:</p>
				<a rel="nofollow noopener noreferrer" href="{{config('GUMROAD_LINK')}}">{{config('GUMROAD_LINK')}}</a>
			</div>
		</div>
	</div>
{% endblock %}