// Colors

$primary: #ff66ac;
$dark: #3E2C18;
$secondary: #F0E0D6;
$danger: #E53E3E;
$white: #F1E7D0;
$black: #433434;
$light: #F0E0D6;
$success: #ff66ac;
$muted: #AA9881;
$info: #168EEA;

$purple: #FF66AC;
$red: #E53E3E;
$gray: #AA9881;
$green: #ff66ac;

$gray-100: #817261;
$gray-200: #433434;
$gray-300: #433434;
$gray-400: #AA9881;
$gray-500: #F0E0D6;
$gray-600: #F0E0D6;
$gray-700: #F0E0D6;
$gray-800: #F0E0D6;
$gray-900: #F0E0D6;

$upvote: #ff66ac;
$downvote: #38B2AC;
$admin: #ff66ac;
$banned: #FEB2B2;
$deleted: #FEFCBF;
$deletedandbanned: #ffcc99;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";

blockquote {
	background-color: #c0c0c0;
}

.text-muted {
	color: $black !important;
}

.text-white {
	color: $primary !important;
}

.modal .comment-actions a {
	color: $gray-500;
}

.navbar-light .navbar-nav .nav-link .fa, .navbar-light .navbar-nav .nav-link .fas, .navbar-light .navbar-nav .nav-link .far, .navbar-light .navbar-nav .nav-link .fab {
	color: $black;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
    background-color: #bda78e !important;
}

html * {
    font-family: arial, helvetica, sans-serif;
    color: #800000
    }
body, #main-content-col, .sidebar {
    background-color: $secondary !important;
    }
.border-right, .border-left, .border-top, .border-bottom, .border {
    border-color: #D9BFB7 !important
    }
.card-header {
    border-color: #D9BFB7 !important
    }
#guild .pseudo-submit-form.card {
    background-color: $secondary !important;
    border: 1px solid #D9BFB7 !important;
    }
.post-title a {
    color: #800000 !important;
    }
.comment, .card {
    background-color: $secondary !important;
    border-color: #D9BFB7 !important;
    }
.form-control {
    border-color: #D9BFB7 !important;
    }
.comment .comment-collapse::before {
    border-color: #D9BFB7 !important;
    }
.comment .comment-collapse:hover::before {
    border-left-color: #800000 !important
    }
.post-actions *:hover, .comment-actions *:hover, .comment-actions .copy-link:hover {
    color: #F00 !important
    }
a {
    color: $primary;
}