// Colors

$primary: #ff66ac;
$dark: #383838;
$secondary: #383838;
$danger: #E53E3E;
$white: #E1E1E1;
$black: #CFCFCF;
$light: #000000;
$success: #38A169;
$muted: #E1E1E1;
$info: #168EEA;

$purple: #ff66ac;
$red: #E53E3E;
$gray: #383838;
$green: #38A169;

$gray-100: #E1E1E1;
$gray-200: #E1E1E1;
$gray-300: #383838;
$gray-400: #303030;
$gray-500: #000000;
$gray-600: #000000;
$gray-700: #000000;
$gray-800: #000000;
$gray-900: #000000;

$upvote: #ff66ac;
$downvote: #38B2AC;
$admin: #ff66ac;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";

* {
	border-color: $primary;
}

.border {
	border-color: $primary !important;
}

.form-control {
	background: transparent;
	border-color: $primary !important;
}

.btn {
	background: transparent;
	border-color: $primary !important;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
	border-color: $primary !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control, #guild .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
    color: #CFCFCF;
}